{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.title'|trans({username:member.Username}) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('avatar') }}
{% endblock javascripts %}

{% block content %}
    <div class="u:mb-16">
        {% include 'profile/header.html.twig' %}
    </div>
    <div class="u:mb-16">
        {% block page_content%}
        {% endblock page_content %}
    </div>
{% endblock content %}
