{% extends 'profile/profile.base.html.twig' %}

{% block title %}{{ 'profile.title'|trans({username:member.Username}) }}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('lightbox') }}
{% endblock javascripts %}

{% block content %}
    <div class="u-mb-16">
        {% block profile_header %}
        {% endblock profile_header %}
    </div>
    <div class="u-mb-16">
        {% block page_content%}
        {% endblock page_content %}
    </div>
{% endblock content %}
