{% extends 'base.html.twig' %}

{% block title %}
    {{ 'credits.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'credits.headline' | trans }}</h1>
    <p>{{ 'credits.abstract' | trans }}</p>
    <dl>
        <dt><a href="https://geonames.org">Geonames</a></dt>
        <dd>We use the data from geonames.org to help you find your way around the world.</dd>
        <dt><a id="OSM"></a><a href="https://openstreetmap.org">Open Street Map</a></dt>
        <dd>Without OpenStreetMap and its contributors our website would be pretty dull. We rely on the database for locations and tiles for the maps.</dd>
        <dt><a id="Jetbrains"></a><a href="https://www.jetbrains.com/phpstorm/">PHP Storm</a></dt>
        <dd>Jetbrains gave us a few OpenSource licenses for PHPStorm which makes developing with PHP a joy.</dd>
        <dt><a id="Browserstack"></a><a href="https://browserstack.com"><img src="{{ asset('images/Browserstack-logo.svg') }}" height="24px" alt="Browserstack logo" title="Browserstack"></a></dt>
        <dd>We use Browserstack for testing on as many browsers as we possibly can.</dd>
        <dt><a id="Symfony"></a><a href="https://symfony.com">Symfony</a></dt>
        <dd>The PHP framework that makes sure the website is blazingly fast and secure.</dd>
        <dt><a id="ckeditor"></a><a href="https://ckeditor.com/ckeditor-5/">CKEditor 5</a></dt>
        <dd>The wysywig editor that we can customize to our needs; and which runs smoothly on mobile as well.</dd>
    </dl>
{% endblock content %}