{% extends 'base.html.twig' %}

{% block title %}
	{{ 'contactus' | trans }}
{% endblock %}

{% block content %}
<h1>{{ 'contactus' | trans }}</h1>
<div class="row">
	<div class="col-12 col-md-6">
		<p>{{ 'feedbackdisclaimer' | trans | purify | nl2br }}</p>
	</div>
	<div class="col-12 col-md-6">

    </div>
</div>

{% endblock content %}
