{% extends 'base.html.twig' %}

{% set scriptFiles = ['js/tinymce.min.js', 'js/communitynews.js'] %}

{% block title %}
    {{ 'Community News' | trans }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock content %}