{% extends '@base/base.html.twig' %}

{% set scriptFiles = ['js/tinymce.min.js', 'js/communitynews.js'] %}

{% block title %}
    {{ 'Community News' | trans }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}