{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Page not found</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>
            Hi {{ my_member.Username }},<br>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="/landing">return to the homepage</a>.
        </p>
    {% else %}
        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="/">return to the homepage</a>.
        </p>
    {% endif %}
{% endblock %}