/*!*****************************************************

https://github.com/HatScripts/circle-flags

******************************************************/

.o-flag {
    display: inline-block;
    background-repeat:no-repeat;
    border-radius: 100%;
    overflow: hidden;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 5px 0px black;
}





.o-flag--CH {background-image:url("../../images/flags/ch.svg")}
.o-flag--NP {background-image:url("../../images/flags/np.svg")}
.o-flag--DZ {background-image:url("../../images/flags/dz.svg")}
.o-flag--AO {background-image:url("../../images/flags/ao.svg")}
.o-flag--BJ {background-image:url("../../images/flags/bj.svg")}
.o-flag--BW {background-image:url("../../images/flags/bw.svg")}
.o-flag--BF {background-image:url("../../images/flags/bf.svg")}
.o-flag--BI {background-image:url("../../images/flags/bi.svg")}
.o-flag--CM {background-image:url("../../images/flags/cm.svg")}
.o-flag--CV {background-image:url("../../images/flags/cv.svg")}
.o-flag--CF {background-image:url("../../images/flags/cf.svg")}
.o-flag--TD {background-image:url("../../images/flags/td.svg")}
.o-flag--CD {background-image:url("../../images/flags/cd.svg")}
.o-flag--DJ {background-image:url("../../images/flags/dj.svg")}
.o-flag--EG {background-image:url("../../images/flags/eg.svg")}
.o-flag--GQ {background-image:url("../../images/flags/gq.svg")}
.o-flag--ER {background-image:url("../../images/flags/er.svg")}
.o-flag--ET {background-image:url("../../images/flags/et.svg")}
.o-flag--GA {background-image:url("../../images/flags/ga.svg")}
.o-flag--GM {background-image:url("../../images/flags/gm.svg")}
.o-flag--GH {background-image:url("../../images/flags/gh.svg")}
.o-flag--GN {background-image:url("../../images/flags/gn.svg")}
.o-flag--GW {background-image:url("../../images/flags/gw.svg")}
.o-flag--CI {background-image:url("../../images/flags/ci.svg")}
.o-flag--KE {background-image:url("../../images/flags/ke.svg")}
.o-flag--LS {background-image:url("../../images/flags/ls.svg")}
.o-flag--LR {background-image:url("../../images/flags/lr.svg")}
.o-flag--LY {background-image:url("../../images/flags/ly.svg")}
.o-flag--MG {background-image:url("../../images/flags/mg.svg")}
.o-flag--MW {background-image:url("../../images/flags/mw.svg")}
.o-flag--ML {background-image:url("../../images/flags/ml.svg")}
.o-flag--MR {background-image:url("../../images/flags/mr.svg")}
.o-flag--MU {background-image:url("../../images/flags/mu.svg")}
.o-flag--MA {background-image:url("../../images/flags/ma.svg")}
.o-flag--MZ {background-image:url("../../images/flags/mz.svg")}
.o-flag--NA {background-image:url("../../images/flags/na.svg")}
.o-flag--NE {background-image:url("../../images/flags/ne.svg")}
.o-flag--NG {background-image:url("../../images/flags/ng.svg")}
.o-flag--CG {background-image:url("../../images/flags/cg.svg")}
.o-flag--RW {background-image:url("../../images/flags/rw.svg")}
.o-flag--ST {background-image:url("../../images/flags/st.svg")}
.o-flag--SN {background-image:url("../../images/flags/sn.svg")}
.o-flag--SC {background-image:url("../../images/flags/sc.svg")}
.o-flag--SL {background-image:url("../../images/flags/sl.svg")}
.o-flag--SO {background-image:url("../../images/flags/so.svg")}
.o-flag--ZA {background-image:url("../../images/flags/za.svg")}
.o-flag--SS {background-image:url("../../images/flags/ss.svg")}
.o-flag--SD {background-image:url("../../images/flags/sd.svg")}
.o-flag--SR {background-image:url("../../images/flags/sr.svg")}
.o-flag--SZ {background-image:url("../../images/flags/sz.svg")}
.o-flag--TG {background-image:url("../../images/flags/tg.svg")}
.o-flag--TN {background-image:url("../../images/flags/tn.svg")}
.o-flag--UG {background-image:url("../../images/flags/ug.svg")}
.o-flag--TZ {background-image:url("../../images/flags/tz.svg")}
.o-flag--EH {background-image:url("../../images/flags/eh.svg")}
.o-flag--YE {background-image:url("../../images/flags/ye.svg")}
.o-flag--ZM {background-image:url("../../images/flags/zm.svg")}
.o-flag--ZW {background-image:url("../../images/flags/zw.svg")}
.o-flag--AI {background-image:url("../../images/flags/ai.svg")}
.o-flag--AG {background-image:url("../../images/flags/ag.svg")}
.o-flag--AR {background-image:url("../../images/flags/ar.svg")}
.o-flag--AW {background-image:url("../../images/flags/aw.svg")}
.o-flag--BS {background-image:url("../../images/flags/bs.svg")}
.o-flag--BB {background-image:url("../../images/flags/bb.svg")}
.o-flag--BQ-BO {background-image:url("../../images/flags/bq-bo.svg")}
.o-flag--BZ {background-image:url("../../images/flags/bz.svg")}
.o-flag--BM {background-image:url("../../images/flags/bm.svg")}
.o-flag--BO {background-image:url("../../images/flags/bo.svg")}
.o-flag--VG {background-image:url("../../images/flags/vg.svg")}
.o-flag--BR {background-image:url("../../images/flags/br.svg")}
.o-flag--CA {background-image:url("../../images/flags/ca.svg")}
.o-flag--KY {background-image:url("../../images/flags/ky.svg")}
.o-flag--CL {background-image:url("../../images/flags/cl.svg")}
.o-flag--CO {background-image:url("../../images/flags/co.svg")}
.o-flag--KM {background-image:url("../../images/flags/km.svg")}
.o-flag--CR {background-image:url("../../images/flags/cr.svg")}
.o-flag--CU {background-image:url("../../images/flags/cu.svg")}
.o-flag--CW {background-image:url("../../images/flags/cw.svg")}
.o-flag--DM {background-image:url("../../images/flags/dm.svg")}
.o-flag--DO {background-image:url("../../images/flags/do.svg")}
.o-flag--EC {background-image:url("../../images/flags/ec.svg")}
.o-flag--SV {background-image:url("../../images/flags/sv.svg")}
.o-flag--FK {background-image:url("../../images/flags/fk.svg")}
.o-flag--GF {background-image:url("../../images/flags/gf.svg")}
.o-flag--GL {background-image:url("../../images/flags/gl.svg")}
.o-flag--GD {background-image:url("../../images/flags/gd.svg")}
.o-flag--GT {background-image:url("../../images/flags/gt.svg")}
.o-flag--GY {background-image:url("../../images/flags/gy.svg")}
.o-flag--HT {background-image:url("../../images/flags/ht.svg")}
.o-flag--HN {background-image:url("../../images/flags/hn.svg")}
.o-flag--JM {background-image:url("../../images/flags/jm.svg")}
.o-flag--MQ {background-image:url("../../images/flags/mq.svg")}
.o-flag--MX {background-image:url("../../images/flags/mx.svg")}
.o-flag--MS {background-image:url("../../images/flags/ms.svg")}
.o-flag--NI {background-image:url("../../images/flags/ni.svg")}
.o-flag--PA {background-image:url("../../images/flags/pa.svg")}
.o-flag--PY {background-image:url("../../images/flags/py.svg")}
.o-flag--PE {background-image:url("../../images/flags/pe.svg")}
.o-flag--PR {background-image:url("../../images/flags/pr.svg")}
.o-flag--BL {background-image:url("../../images/flags/bl.svg")}
.o-flag--KN {background-image:url("../../images/flags/kn.svg")}
.o-flag--LC {background-image:url("../../images/flags/lc.svg")}
.o-flag--VC {background-image:url("../../images/flags/vc.svg")}
.o-flag--SX {background-image:url("../../images/flags/sx.svg")}
.o-flag--TT {background-image:url("../../images/flags/tt.svg")}
.o-flag--TC {background-image:url("../../images/flags/tc.svg")}
.o-flag--US {background-image:url("../../images/flags/us.svg")}
.o-flag--VI {background-image:url("../../images/flags/vi.svg")}
.o-flag--UY {background-image:url("../../images/flags/uy.svg")}
.o-flag--VE {background-image:url("../../images/flags/ve.svg")}
.o-flag--AF {background-image:url("../../images/flags/af.svg")}
.o-flag--AZ {background-image:url("../../images/flags/az.svg")}
.o-flag--BD {background-image:url("../../images/flags/bd.svg")}
.o-flag--BT {background-image:url("../../images/flags/bt.svg")}
.o-flag--BN {background-image:url("../../images/flags/bn.svg")}
.o-flag--KH {background-image:url("../../images/flags/kh.svg")}
.o-flag--CN {background-image:url("../../images/flags/cn.svg")}
.o-flag--GE {background-image:url("../../images/flags/ge.svg")}
.o-flag--HK {background-image:url("../../images/flags/hk.svg")}
.o-flag--IN {background-image:url("../../images/flags/in.svg")}
.o-flag--ID {background-image:url("../../images/flags/id.svg")}
.o-flag--JP {background-image:url("../../images/flags/jp.svg")}
.o-flag--KZ {background-image:url("../../images/flags/kz.svg")}
.o-flag--LA {background-image:url("../../images/flags/la.svg")}
.o-flag--MO {background-image:url("../../images/flags/mo.svg")}
.o-flag--MY {background-image:url("../../images/flags/my.svg")}
.o-flag--MV {background-image:url("../../images/flags/mv.svg")}
.o-flag--MN {background-image:url("../../images/flags/mn.svg")}
.o-flag--MM {background-image:url("../../images/flags/mm.svg")}
.o-flag--NP {background-image:url("../../images/flags/np.svg")}
.o-flag--KP {background-image:url("../../images/flags/kp.svg")}
.o-flag--MP {background-image:url("../../images/flags/mp.svg")}
.o-flag--PW {background-image:url("../../images/flags/pw.svg")}
.o-flag--PG {background-image:url("../../images/flags/pg.svg")}
.o-flag--PH {background-image:url("../../images/flags/ph.svg")}
.o-flag--SG {background-image:url("../../images/flags/sg.svg")}
.o-flag--KR {background-image:url("../../images/flags/kr.svg")}
.o-flag--LK {background-image:url("../../images/flags/lk.svg")}
.o-flag--TW {background-image:url("../../images/flags/tw.svg")}
.o-flag--TJ {background-image:url("../../images/flags/tj.svg")}
.o-flag--TH {background-image:url("../../images/flags/th.svg")}
.o-flag--TL {background-image:url("../../images/flags/tl.svg")}
.o-flag--TM {background-image:url("../../images/flags/tm.svg")}
.o-flag--VN {background-image:url("../../images/flags/vn.svg")}
.o-flag--AL {background-image:url("../../images/flags/al.svg")}
.o-flag--AD {background-image:url("../../images/flags/ad.svg")}
.o-flag--AM {background-image:url("../../images/flags/am.svg")}
.o-flag--AT {background-image:url("../../images/flags/at.svg")}
.o-flag--BY {background-image:url("../../images/flags/by.svg")}
.o-flag--BE {background-image:url("../../images/flags/be.svg")}
.o-flag--BA {background-image:url("../../images/flags/ba.svg")}
.o-flag--BG {background-image:url("../../images/flags/bg.svg")}
.o-flag--HR {background-image:url("../../images/flags/hr.svg")}
.o-flag--CY {background-image:url("../../images/flags/cy.svg")}
.o-flag--CZ {background-image:url("../../images/flags/cz.svg")}
.o-flag--DK {background-image:url("../../images/flags/dk.svg")}
.o-flag--EE {background-image:url("../../images/flags/ee.svg")}
.o-flag--FO {background-image:url("../../images/flags/fo.svg")}
.o-flag--FI {background-image:url("../../images/flags/fi.svg")}
.o-flag--FR {background-image:url("../../images/flags/fr.svg")}
.o-flag--DE {background-image:url("../../images/flags/de.svg")}
.o-flag--GI {background-image:url("../../images/flags/gi.svg")}
.o-flag--GR {background-image:url("../../images/flags/gr.svg")}
.o-flag--HU {background-image:url("../../images/flags/hu.svg")}
.o-flag--IS {background-image:url("../../images/flags/is.svg")}
.o-flag--IE {background-image:url("../../images/flags/ie.svg")}
.o-flag--IM {background-image:url("../../images/flags/im.svg")}
.o-flag--IT {background-image:url("../../images/flags/it.svg")}
.o-flag--JE {background-image:url("../../images/flags/je.svg")}
.o-flag--XK {background-image:url("../../images/flags/xk.svg")}
.o-flag--LV {background-image:url("../../images/flags/lv.svg")}
.o-flag--LI {background-image:url("../../images/flags/li.svg")}
.o-flag--LT {background-image:url("../../images/flags/lt.svg")}
.o-flag--LU {background-image:url("../../images/flags/lu.svg")}
.o-flag--MT {background-image:url("../../images/flags/mt.svg")}
.o-flag--MD {background-image:url("../../images/flags/md.svg")}
.o-flag--MC {background-image:url("../../images/flags/mc.svg")}
.o-flag--ME {background-image:url("../../images/flags/me.svg")}
.o-flag--NL {background-image:url("../../images/flags/nl.svg")}
.o-flag--MK {background-image:url("../../images/flags/mk.svg")}
.o-flag--NO {background-image:url("../../images/flags/no.svg")}
.o-flag--PL {background-image:url("../../images/flags/pl.svg")}
.o-flag--PT {background-image:url("../../images/flags/pt.svg")}
.o-flag--RO {background-image:url("../../images/flags/ro.svg")}
.o-flag--RU {background-image:url("../../images/flags/ru.svg")}
.o-flag--SM {background-image:url("../../images/flags/sm.svg")}
.o-flag--RS {background-image:url("../../images/flags/rs.svg")}
.o-flag--SK {background-image:url("../../images/flags/sk.svg")}
.o-flag--SI {background-image:url("../../images/flags/si.svg")}
.o-flag--ES {background-image:url("../../images/flags/es.svg")}
.o-flag--SE {background-image:url("../../images/flags/se.svg")}
.o-flag--CH {background-image:url("../../images/flags/ch.svg")}
.o-flag--TR {background-image:url("../../images/flags/tr.svg")}
.o-flag--UA {background-image:url("../../images/flags/ua.svg")}
.o-flag--GB {background-image:url("../../images/flags/gb.svg")}
.o-flag--VA {background-image:url("../../images/flags/va.svg")}
.o-flag--BH {background-image:url("../../images/flags/bh.svg")}
.o-flag--IR {background-image:url("../../images/flags/ir.svg")}
.o-flag--IQ {background-image:url("../../images/flags/iq.svg")}
.o-flag--IL {background-image:url("../../images/flags/il.svg")}
.o-flag--KW {background-image:url("../../images/flags/kw.svg")}
.o-flag--JO {background-image:url("../../images/flags/jo.svg")}
.o-flag--KG {background-image:url("../../images/flags/kg.svg")}
.o-flag--LB {background-image:url("../../images/flags/lb.svg")}
.o-flag--OM {background-image:url("../../images/flags/om.svg")}
.o-flag--PK {background-image:url("../../images/flags/pk.svg")}
.o-flag--PS {background-image:url("../../images/flags/ps.svg")}
.o-flag--QA {background-image:url("../../images/flags/qa.svg")}
.o-flag--SA {background-image:url("../../images/flags/sa.svg")}
.o-flag--SY {background-image:url("../../images/flags/sy.svg")}
.o-flag--AE {background-image:url("../../images/flags/ae.svg")}
.o-flag--UZ {background-image:url("../../images/flags/uz.svg")}
.o-flag--AS {background-image:url("../../images/flags/as.svg")}
.o-flag--AU {background-image:url("../../images/flags/au.svg")}
.o-flag--CX {background-image:url("../../images/flags/cx.svg")}
.o-flag--CC {background-image:url("../../images/flags/cc.svg")}
.o-flag--CK {background-image:url("../../images/flags/ck.svg")}
.o-flag--FJ {background-image:url("../../images/flags/fj.svg")}
.o-flag--PF {background-image:url("../../images/flags/pf.svg")}
.o-flag--GU {background-image:url("../../images/flags/gu.svg")}
.o-flag--KI {background-image:url("../../images/flags/ki.svg")}
.o-flag--MH {background-image:url("../../images/flags/mh.svg")}
.o-flag--FM {background-image:url("../../images/flags/fm.svg")}
.o-flag--NZ {background-image:url("../../images/flags/nz.svg")}
.o-flag--NR {background-image:url("../../images/flags/nr.svg")}
.o-flag--NU {background-image:url("../../images/flags/nu.svg")}
.o-flag--NF {background-image:url("../../images/flags/nf.svg")}
.o-flag--WS {background-image:url("../../images/flags/ws.svg")}
.o-flag--SB {background-image:url("../../images/flags/sb.svg")}
.o-flag--TK {background-image:url("../../images/flags/tk.svg")}
.o-flag--TO {background-image:url("../../images/flags/to.svg")}
.o-flag--TV {background-image:url("../../images/flags/tv.svg")}
.o-flag--VU {background-image:url("../../images/flags/vu.svg")}
.o-flag--EU {background-image:url("../../images/flags/eu.svg")}
.o-flag--UN {background-image:url("../../images/flags/un.svg")}





.o-flag--s {width: 12px;height: 12px}
.o-flag--l {width: 24px;height: 24px}
.o-flag--xl {width: 32px;height: 32px}



