/* ==========================================================================
   #PAGINATION
   ========================================================================== */

/**
/* Overwrites Bootstrap classes. To be replaced when proper component is set up (hopefully)
/*/

.o-pagination {
  display: inline-block;
}





.o-pagination .page-item {
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  margin: 0 2px;
  cursor: pointer;
}

.o-pagination .page-item:hover {
  background-color: var(--bewelcome-dark);
}

.o-pagination .page-item.active {
  background-color: var(--bewelcome);
}

.o-pagination .page-item.disabled {
  background-color: var(--transparent)
}

.o-pagination .pager-previous.disabled {
  display: none;
}

.o-pagination .pager-next.disabled {
  display: none;
}



.o-pagination .page-link {
  color: var(--gray-70);
  font-family: Signika;
  padding: initial;
  line-height: initial;
  border: none;
  margin: initial;
  background-color: initial;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-pagination .page-link:hover {
  background-color: initial;
}

.o-pagination .page-item.active .page-link {
  border: initial;
  background-color: initial;
}

.o-pagination .page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
    background-color: initial;
    border-color: initial;
    color: var(--gray-30);
}

.o-pagination .page-item:hover .page-link {
  color: var(--white);
}

o-pagination .page-item.disabled:hover .page-link {
  color: var(--gray-30);
}

.o-pagination .prev .page-link,
.o-pagination .next .page-link {
  font-size: 20px;
  border-radius: initial;
}