/* ==========================================================================
   #LABEL
   ========================================================================== */

/**
 * Base styles for label.
 */



.o-label {
  margin-bottom: 8px;
  font-weight: 300;
}











/* Color variations
   ========================================================================== */

/**
 * White label (not whiskey though)
 */

.o-label--white {
  color: var(--white);
  font-weight: 700;
}