/* ==========================================================================
   #FORM GROUP
   ========================================================================== */

/**
 * Card wrapper. Descendant selectors. Transitional classes.
 */



.o-card {
	padding: 24px;
	border-radius: 16px;
	box-shadow: 0 10px 30px -3px #d7d7d7;
}

.o-card h1,
.o-card h2,
.o-card h3,
.o-card h4,
.o-card h5,
.o-card h6 {
	font-size: 24px;
	margin-bottom: 8px;
}
