/* ==========================================================================
   #BOTON REDONDO
   ========================================================================== */



/**
 * Base classes
 */

.o-avatar {
  display: grid;
  grid-template-rows: 72px 1fr;
  width: 72px
}





.o-avatar__img-wrapper {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 100%;
  border: 3px solid var(--white);
}

.o-avatar__img-wrapper a {
  width: 100%;
  height: 100%;
}





.o-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.o-avatar__name {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}




.o-avatar__name a {
  font-family: Signika;
  font-size: 14px;
}







/* Hovers
   ========================================================================== */

.o-avatar:hover{
  opacity: 0.7;
}









/* Size variations
   ========================================================================== */

/**
 * Large
 */


.o-avatar--l {
  width: 96px;
  height: 96px;
}










/* Color variations
   ========================================================================== */

/**
 * White
 */


.o-avatar--white .o-avatar__name a {
  color: var(--white);
}












/* States
   ========================================================================== */

/**
 * Disabled
 */

.o-avatar--disabled {
  opacity: 0.4;
  cursor: pointer;
  pointer-events: none;
}