/* ==========================================================================
   #BOTON REDONDO
   ========================================================================== */



/**
 * Base classes
 */

.o-avatar {
  display: grid;
  grid-template-rows: 96px 1fr;
  width: 96px
}





.o-avatar__img-wrapper {
  display: inline-block;
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 100%;
  border: 4px solid var(--white);
  justify-self: center;
}






.o-avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





.o-avatar__name {
  text-align: center;
  margin-top: 4px;
  font-family: Signika;
  font-size: 14px;
  word-break: break-all;
}





.o-avatar__languages {
  font-family: Signika;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-top: 4px;
}








/* Hovers
   ========================================================================== */

.o-avatar:hover{
  opacity: 0.7;
}









/* Size variations
   ========================================================================== */

/**
 * Large
 */


.o-avatar--l {
  width: 120px;
  grid-template-rows: 120px 1fr;
}

.o-avatar--l .o-avatar__img-wrapper {
  width: 120px;
  height: 120px;
}




/**
 * Large
 */


.o-avatar--s {
  width: 72px;
  grid-template-rows: 72px 1fr;
}

.o-avatar--s .o-avatar__img-wrapper {
  width: 72px;
  height: 72px;
}










/* Color variations
   ========================================================================== */

/**
 * White
 */


.o-avatar--white .o-avatar__name,
.o-avatar--white .o-avatar__languages {
  color: var(--white);
}












/* States
   ========================================================================== */

/**
 * Disabled
 */

.o-avatar--disabled {
  opacity: 0.4;
  cursor: pointer;
  pointer-events: none;
}
