/* ==========================================================================
   #NUMBER
   ========================================================================== */

/**
 * Number in circle. Used for enumerations
 */

.o-number {
  width: 24px;
  height: 24px;
  background-color: var(--gray-80);
  border-radius: 100%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
  font-size: 16px;
  font-family: Signika;
}










/* Color versions
   ========================================================================== */

/**
 * Secondary Button
 */

 .o-number--white {
  background-color: var(--white);
  color: var(--gray-70);
}











/* Size variations
   ========================================================================== */

/**
 * Large
 */

 .o-number--l {
    width: 32px;
    height: 32px;
}
