<?xml version="1.0" encoding="utf-8"?>
<module>
  <moduleName>env</moduleName>
  <moduleVersion>0.0</moduleVersion>
  <moduleDescription>Environment, system settings</moduleDescription>
  <moduleFiles>
    <lib>
      <file class="MOD_env">env.lib.php</file>
    </lib>
  </moduleFiles>
</module>
