{% extends 'base.html.twig' %}

{% block content %}
    <h1>Data Rights on BeWelcome</h1>
    <p>This document was last updated on 22 March 2020. (<a href="{{ url('data_rights', {'locale':'fr'}) }}">French
            version</a>)</p>
    <h3>Your Data Rights</h3>

    <p>The European General Data Protection Regulation (GDPR) and the French Digital Republic Act (DRA) give you certain
        rights over your personal data on BeWelcome. In summary, these include:</p>

    <p><strong>Right of access to data/copies of data</strong></p>

    <p>You have a right to know what personal data of yours BeWelcome holds and processes. In our Privacy Policy, we
        explain what data we require from you at sign-up. Apart from this, any personal data in your profile, in
        messages, or in posts, is only what is voluntarily provided by you, remains in your ownership, and is under your
        control to edit or delete. BeWelcome neither holds nor uses any data except for the purpose of facilitating
        hospitality or cultural exchange.</p>

    <p>You have a right to obtain a copy of your personal data from BeWelcome. You can download this via the
        password-protected link in your BeWelcome profile.</p>

    <p><strong>Right to rectification of errors</strong></p>

    <p>It is your responsibility to keep your profile accurate and up to date, and any errors must be rectified directly
        by you.</p>

    <p>One possible exception is if you believe that there are errors in the comments about you posted by others in your
        profile. Hosting comments/references are an essential part of the way hospitality exchange works and, by their
        nature, they are personal opinions. BeWelcome cannot be held responsible for the opinions of users but, if you
        believe that a comment is wrong, you can contact the BeWelcome Safety Team (through the contact form on the
        site) who will seek a resolution. Please note that, if there is just a difference of opinion and there are no
        issues such as a breach of the site Terms of Use, the Safety Team may not be able to resolve matters and the
        comment may stand.</p>

    <p><strong>Right to deletion/Right to be forgotten</strong></p>

    <p>You have the right to delete or have deleted any personal data, with the following exceptions:</p>
    <ul>
        <li>BeWelcome may retain some personal data, profile details etc. where they are relevant to an investigation
            about an abuse; and
        </li>
        <li>Some personal data may be retained where it is part of posts in the BeWelcome forum or messages to third
            parties.
        </li>
    </ul>

    <p><strong>Right to object to or to restrict processing</strong></p>

    <p>You may, at any time, block further processing of your data by setting your profile to «inactive». This suspends
        your hospitality activity and removes your profile from members lists and searches, though you might still
        receive messages from other members if you had outstanding correspondence with them.</p>

    <p>Note that you can only suspend site activity for a maximum of 2 years. A period of inactivity longer than this
        may result in your membership being cancelled and your data deleted (see section 6 of the BeWelcome Terms of
        Use).</p>

    <p><strong>Right to data portability</strong></p>

    <p>GDPR promotes the idea that user data should be ‘portable’ between service suppliers. The individual nature of
        hospitality platforms means that there are natural restrictions on the ‘automatic’ transfer of data between
        platforms and, currently, no agreements or standards exist for this.</p>

    <p>However, if you request a copy of your personal data from BeWelcome (see above) we will provide this copy in a
        ‘machine readable’ format (e.g. a .txt or .html file).</p>

    <p><strong>Right to withdraw consent</strong></p>

    <p>Your personal data is used for the purposes of hospitality and cultural exchange. This data is provided at your
        own discretion, and you may restrict or amend it at any time.</p>

    <p>You can withdraw consent at any time by canceling your membership of BeWelcome (see section 1 of the BeWelcome
        Terms of Use). You can also either completely delete your profile or erase your profile data, using the ‘profile
        edit’ option.</p>

    <p><strong>Right to object to marketing</strong></p>

    <p>BeWelcome does not use personal data to make money, either for itself or on behalf of others. Our communications
        with you are normally only information about the site (e.g. site changes). We occasionally produce a newsletter
        which may contain wider information about BeWelcome and hospitality, but you can choose not to receive this by
        changing your account ‘preferences’.</p>

    <p><strong>Right to complain to the relevant data protection authority</strong></p>

    <p>For BeWelcome, the relevant data protection authority is the French CNIL (Commission Nationale de l'Informatique
        et des Libertés) and details for contacting them are at <a href="https://www.cnil.fr/en/contact-cnil">www.cnil.fr/en/contact-cnil</a>
    </p>

    <p><strong>Rights of Inheritance</strong></p>

    <p>The Digital Republic Act 2016 gives rights of inheritance of digital accounts, on the death of the user, to
        nominated heirs registered with the French CNIL (Commission Nationale de l'Informatique et des Libertés) or with
        certain certified third parties.</p>

    <p>Because of the particular circumstances of BW, accounts are individual and cannot be transferred or inherited.
        However, heirs registered under the DRA (see above) have a right to obtain a copy of the personal data, before
        the account is deleted.</p>

{% endblock content %}
