{% extends 'base.html.twig' %}

{% block content %}
    <h1>Droits sur les données sur BeWelcome</h1>

    <p>Dernière mise à jour le 22 mars, 2020.</p>

    <h3>Vos droits sur les données</h3>

    <p>Le Règlement Général sur la Protection des Données (RGPD) européen et la loi française pour une République
        Numérique vous donnent certains droits sur vos données personnelles sur BeWelcome.
        En résumé, elles comprennent :</p>

    <p><strong>Le droit d'accès aux données / le droit de copie des données</strong></p>

    <p>Vous avez le droit de savoir quelles données personnelles sur vous BeWelcome détient et traite. Dans notre
        politique de confidentialité, nous expliquons quelles données nous exigeons pour l'inscription. En dehors de
        cela, toutes les données personnelles dans votre profil, les message privés ou publics, sont seulement celles
        que vous fournissez volontairement. Elles restent votre propriété et sous votre contrôle pour leur modification
        ou suppression. BeWelcome ne détient et n'utilise jamais des données, sauf dans le but de faciliter
        l'hospitalité et les échanges culturels.</p>

    <p>Vous avez le droit d'obtenir une copie de vos données personnelles de BeWelcome. Vous pouvez les télécharger via
        un lien protégé par un mot de passe dans votre profil BeWelcome.</p>

    <p><strong>Droit à la rectification des erreurs</strong></p>

    <p>Il est de votre responsabilité de garder votre profil précis et à jour, et toutes les erreurs doivent être
        corrigées directement par vous.</p>

    <p>Une exception possible est lorsque vous pensez qu'il y a des erreurs dans les commentaires à votre sujet postés
        par d'autres sur votre profil. Les commentaires sur l'hébergement et les références constituent une part
        essentielle de la manière dont les échanges d'hospitalité fonctionnent, et par leur nature, ce sont des opinions
        personnelles. BeWelcome ne peut pas être tenu responsable des opinions des utilisateurs, mais si vous pensez
        qu'un commentaire est faux, vous pouvez contacter l'équipe de sécurité de BeWelcome (via le formulaire de
        contact du site) qui cherchera une solution. Veuillez noter que, si c'est juste une différence d'opinion et
        qu'il n'y a pas de gros problème comme la violation des conditions d'utilisation du site, l'équipe de sécurité
        pourrait ne pas être en mesure de résoudre les problèmes et les commentaires pourraient rester.</p>

    <p><strong>Droit de suppression/droit à l'oubli</strong></p>

    <p>Vous avez le droit de supprimer ou d'avoir supprimé toutes données personnelles, avec les exceptions suivantes
        :</p>
    <ul>
        <li>BeWelcome peut conserver quelques données personnelles, détail du profil etc... lorsqu'elles sont utiles à
            une enquête sur un abus personnel; et
        </li>
        <li>Quelques données personnelles peuvent être conservées lorsqu'elles font partie d'une discussion sur le forum
            de BeWelcome ou de messages à des tiers.
        </li>
    </ul>

    <p><strong>Droit de s'opposer ou de restreindre le traitement</strong></p>

    <p>Vous pouvez, à tout moment, bloquer le traitement ultérieur de vos données en rendant votre profil inactif. Cela
        suspend votre activité d'hébergement et supprime votre profil des liste de membres et des recherches, même si
        vous pourrez toujours recevoir des messages d'autres membres si vous avez des correspondances en cours avec
        eux.</p>

    <p>Veuillez noter que vous pouvez suspendre votre activité sur le site pour maximum 2 ans. Une période d'inactivité
        plus longue entrainera l'annulation de votre adhésion et la suppression de toutes vos données (voir la section 6
        des conditions d'utilisation de BeWelcome).</p>

    <p><strong>Droit à la portabilité des données</strong></p>

    <p>Le RGPD promeut l'idée que les données utilisateurs devraient être "portables" entre les fournisseurs de
        services. La nature individuelle des plateformes d'hospitalité fait qu'il y a des restrictions naturelles au
        transfert automatique des données entre les plateformes, et, actuellement, il n'existe aucun accord de standard
        pour ça.</p>

    <p>Néanmoins, si vous demandez une copie de vos données personnelles sur BeWelcome (voir ci-dessus) nous fournirons
        cette copie dans un format lisible sur ordinateur (par exemple un fichier .txt ou .html).</p>

    <p><strong>Droit de retirer son consentement</strong></p>

    <p>Vos données personnelles sont utilisées dans un but d'hospitalité et d'échanges culturels. Ces données sont
        fournies à votre propre discrétion et vous pouvez les restreindre où les modifier à tout moment.</p>

    <p>Vous pouvez retirer le consentement à tout moment en supprimant votre adhésion à BeWelcome (voir section 1 des
        termes d'utilisation de BeWelcome). Vous pouvez aussi supprimer complètement votre profil ou effacer les données
        du profil en utilisant la fonction d'édition de celui-ci.</p>

    <p><strong>Droit d'objection à une utilisation commerciale</strong></p>

    <p>Bewelcome n'utilise pas les données personnelles pour gagner de l'argent, que ce soit pour lui-même ou pour
        d'autres. Nos communications avec vous sont normalement seulement des informations sur le site (par exemple, des
        changements dans le site). Nous produisons occasionnellement un document d'information qui peut contenir une
        information plus large sur BeWelcome et l'hospitalité, mais vous pouvez choisir de ne pas le recevoir en
        changeant vos préférences de compte.</p>

    <p><strong>Droit de porter plainte auprès de l'autorité de protection des données compétente</strong></p>

    <p>Pour BeWelcome, l'autorité compétente pour la protection des données est la CNIL (Commission Nationale de
        l'Informatique et des Libertés) française, et les détails pour les contacter sont sur
        https://www.cnil.fr/fr/vous-souhaitez-contacter-la-cnil</p>

    <p><strong>Droits à l'héritage</strong></p>

    <p>La loi française de 2016 pour une République Numérique donne un droit d'héritage des comptes numériques. à la
        mort de l'utilisateur, aux héritiers enregistrés nominalement auprès de la CNIL (Commission Nationale de
        l'Informatique et des Libertés) ou à certains tiers certifiés.</p>

    <p>Compte tenu des circonstances particulières de BW, les comptes sont individuels et ne peuvent pas être transférés
        ou hérités. Toutefois, les héritiers enregistrés en vertu de la loi sur la République Numérique (voir ci-dessus)
        ont le droit d'obtenir une copie des données personnelles, avant la destruction du compte.</p>

{% endblock content %}
