{% extends 'base.html.twig' %}

{% block content %}
    <h1>BeWelcome {{ 'privacy'|trans }}</h1>

    <div class="alert alert-notice">{{ 'policy_disclaimer'|trans({'policy_link_start': '<a href="' ~ policy_english ~ '">', 'policy_link_end': '</a>'})|raw }}</div>

    <div class="mt-3">
        {{ 'privacy.text'|trans|raw }}
    </div>
{% endblock content %}
