{% extends 'base.html.twig' %}

{% block content %}
    <h1>Politique de confidentialité de BeWelcome</h1>
    <p>Dernière mise à jour le 19 avril 2020.</p>


    <p>BeWelcome offre un site en ligne pour faire connaissance avec des gens partout dans le monde et pour avoir la
        chance de les rencontrer personnellement.</p>

    <p>BeWelcome respecte la vie privée de ses utilisateurs sur son site web, https://www.bewelcome.org. Ce document
        fournit des informations sur la politique et les pratiques de BeWelcome au sujet de la collecte, l'utilisation
        et la diffusion de toute information personnelle que vous nous fournissez au moyen de notre site web.</p>

    <p>BeWelcome est un projet de BeVolunteer, une association à but non lucratif enregistrée en France. Les activités
        de BeVolunteer et BeWelcome sont soumises à la loi française. La confidentialité des données et l'utilisation
        des données personnelles sont soumises au Règlement Général sur la Protection des Données européen (2016) - RGPD
        - et toute loi française pertinente, comme la loi pour une République Numérique de 2016.</p>

    <p>Le but de BeWelcome est de soutenir l'hospitalité et les échanges culturels, et, pour cela, nous avons besoin de
        certaines informations personnelles. Toutefois, BeWelcome n'a pas d'intérêt dans la collecte ou l'utilisation de
        ces informations à des fins commerciales, ou dans tout autre but que la promotion des échanges d'hospitalité.
        Les données personnelles que vous fournissez relèvent de votre choix et (avec très peu d'exceptions) elles
        restent sous votre contrôle et vous pouvez les éditer ou les supprimer à tout moment.</p>

    <p>Pour créer un compte sur BeWelcome, nous vous demanderons quelques informations personnelles, qui comprennent
        :</p>
    <ol type="a">
        <li>votre adresse email, ainsi nous pouvons vous contacter (par exemple, si vous avez besoin de récupérer votre
            identifiant de connexion) et ainsi, vous pouvez recevoir des notifications de messages d'autres membres;
        </li>
        <li>votre age, afin de nous assurez que vous avez plus de 18 ans (une condition d'utilisation du site); et</li>
        <li>votre localisation, afin que d'autres membres puissent trouver votre profil dans les recherches.</li>
    </ol>
    <p>Votre localisation enregistrée sera affichée sur votre profil, mais votre adresse email restera privée pour
        BeWelcome, et vous pouvez cacher votre âge. (Veuillez noter que si vous cachez votre âge, les membres ne
        pourront pas trouver votre profil dans les recherches d' hôtes dans une certaine gamme d'âge).</p>

    <p>Toutes les autres informations que vous fournissez sont tout à fait optionnelles et sont mises à la disposition
        d'autres membres de BeWelcome seulement à des fins d'hospitalité et d'échanges culturels. Vous devriez garder à
        l'esprit, toutefois, que l'organisation de l'hospitalité est plus facile lorsque les personnes concernées
        connaissent un peu de chacune avant de se rencontrer. Donc donner des informations à votre sujet dans le profil
        rend les possibilités d'héberger ou de l'être plus faciles.</p>

    <p>En créant un compte et un profil sur BeWelcome, vous consentez que BeVolunteer et les autres membres de BeWelcome
        utilisent les données personnelles que vous fournissez à des fins d'hospitalité et d'échanges culturels.</p>


    <h3>Cookies</h3>

    <p>BeWelcome ne met pas en place de cookie pour obtenir ou transmettre du démarchage ou d'autres informations. Les
        seuls cookies mis en place le sont dans le but essentiel de l'authentification des utilisateurs et de
        l'enregistrement des préférences d'affichage. Pour l'utilisation de ce site, il sera considéré qu'il y a un
        consentement pour ces cookies essentiels.</p>


    <h3>Utilisation de l'information</h3>

    <p>Tout membre de la communauté BeWelcome qui se connecte au site BeWelcome peut voir les informations du profil et
        les photos que vous avez téléversé.</p>

    <p>Pour vous fournir certaines fonctionnalités que la communauté BeWelcome offre à ses membres, nous utilisons les
        informations personnelles stockées dans votre profil. La manière dont ces informations sont utilisées dépend de
        ce que vous enregistrez comme préférences dans votre profil. (Par exemple, vous pouvez choisir d'être averti ou
        pas lorsque d'autres membres visitent votre profil).</p>

    <p>Si vous décidez d'utiliser certaines fonctionnalités du site, comme les groupes ou le forum, certaines des
        informations personnelles que vous avez rentré sur votre profil BeWelcome, comme votre localisation, peuvent
        être affichées.</p>

    <p>Les membres de BeWelcome peuvent utiliser la fonction de recherche pour chercher d'autres membres en fonction de
        critères variés comme la localisation ou les intérêts. Les informations personnelles que les membres rentrent
        dans leur profil seront utilisées pour ces recherches. Veuillez noter que toutes les informations postées
        publiquement quelque part sur le site BeWelcome peuvent être vues par tous les utilisateurs du site web.</p>

    <p>BeWelcome peut aussi collecter des données au sujet de la navigation sur son site, à des fins de diagnostic. Même
        si ces données, comme les adresses IP, peuvent ne pas être directement personnelles, elles peuvent être liées à
        des informations externes pour identifier une personne spécifique ou un petit groupe. Nous recueillons ce genre
        de données car elles sont intrinsèques aux protocoles de communication. Elles seront conservées pour une période
        d'environ 6 mois et accessibles seulement par l'équipe technique à des fins de diagnostic. Ces données, une fois
        anonymisées, pourraient être utilisées à des fins statistiques ou de recherche, même après cette période.</p>


    <h3></h3>Sécurité</h3>

    <p>En temps que membres de BeWelcome, nous ouvrons nos logements à des gens que nous n'avons jamais rencontré, ou
        séjournons chez eux lorsque nous voyageons nous mêmes. Cela nécessite beaucoup de confiance qui est souvent bien
        méritée sur la base de beaucoup d'expériences d'hospitalité merveilleuses. Toutefois, les réseaux d'hospitalité
        attirent aussi quelquefois des gens qui veulent tirer des avantage de la confiance et de l'hospitalité
        d'autrui.</p>

    <p>Nous maintenons une équipe de sécurité constituée de volontaires expérimentés, qui enquêtent sur les plaintes
        d'utilisateurs de BeWelcome.</p>

    <p>Dans le cadre de ces enquêtes, l'équipe de sécurité peut accéder aux données personnelles, y compris le compte et
        les données de navigation, et les messages qui sont signalés comme abusifs. Toutes ces enquêtes sont gardées
        confidentielles (sauf si elles entrainent des poursuites judiciaires) mais BeWelcome peut conserver certains
        détails, y compris des données personnelles, lorsqu'elles sont pertinentes pour une enquête sur un abus.</p>


    <h3>Partage et divulgation d’informations</h3>

    <p>BeWelcome ne loue pas, ne vend pas, et ne partage pas d'informations personnelles à votre sujet avec d'autres
        gens ou entreprises sauf pour fournir les services que vous avez demandé, lorsque nous avons votre permission,
        ou sinon comme décrit dans cette politique de confidentialité.</p>

    <p>Nous divulguerons des informations en réponse à des ordres de justice, ou pour établir ou exercer nos droits
        légaux, ou pour nous défendre contre des plaintes en justice. Nous pouvons divulguer des information si nous
        croyons que c'est nécessaire pour enquêter, prévenir, ou engager une action au sujet d'activités supposées
        illégales; dans les situations impliquant la sécurité de toute personne, dans les situations impliquant des
        violations des conditions d'utilisation de BeWelcome; ou sinon comme requis par l'application de la loi.</p>

    <p>Nous nous réservons le droit d'envoyer certains communications en relation avec les services de BeWelcome, comme
        des annonces de services, des messages administratifs et des nouvelles de BeWelcome, qui sont considérés comme
        comme une partie de votre compte BeWelcome. Si vous voulez ne pas recevoir certains messages, connectez-vous à
        BeWelcome et allez dans les paramètres de votre compte en cliquant sur le lien du compte dans le coin en haut à
        droite de la page. Veuillez noter que vous ne pouvez pas vous désinscrire pour certains types de messages, comme
        les modifications des conditions d'utilisation, et les messages envoyés pour satisfaire aux contraintes légales
        comme la RGPD.</p>

    <h3>Suspendre ou supprimer votre compte</h3>

    <p>Voudriez-vous suspendre votre compte, pour rendre votre profils inaccessible un certain temps, mais en souhaitant
        conserver votre compte pour une utilisation future, veuillez utiliser le bouton "Désactiver mon profil" dans le
        menu "Modifier mon profil".</p>

    <p>Pendant que votre compte est configuré comme inactif, votre profil et vos données personnelles continueront
        d'être stockées, mais ne seront pas affichées et seront indisponibles pour les recherches de membres. Votre
        compte peut être rendu inactif pour seulement 2 années consécutives. Après ça, votre compte pourra être supprimé
        sans avertissement.</p>

    <p>Durant la période de suspension, vous pouvez réactiver votre compte à tout moment en utilisant le paramétrage du
        profil. Si vous voulez supprimer votre compte, connectez-vous à BeWelcome, et à partir de votre nom
        d'utilisateur sur la droite dans la barre du haut, allez à Modifier mon profil. Il y a un lien "
        Supprimer mon profil", cliquez dessus et suivez les étapes indiquées.</p>

    <p>Pour éviter une suppression accidentelle irréversible, vous devriez recevoir un email demandant de répondre pour
        confirmer.</p>

    <p>Si vous n'arrivez pas à vous connecter sur votre profil, vous pouvez nous contacter en utilisant le lien en bas
        de la page du site, par email, ou par d'autres moyens pour demander la suppression de votre compte. Dans ce cas,
        il vous sera demandé de fournir quelques informations sur le compte pour confirmer votre identité comme
        utilisateur de ce compte.</p>

    <p>La suppression de votre compte n'effacera pas immédiatement toutes les données en relation avec vous. Par
        exemple, toutes vos interventions dans les groupes ou sur le forum public resteront, et tout les messages
        personnels que vous avez envoyés deviennent une propriété commune avec les destinataires et ne peuvent en
        général pas être effacés, sauf si les deux parties sont d'accord. Veuillez noter que, une fois votre compte
        supprimé, ces interventions et messages personnels seront associés à un nom d'utilisateur générique au lieu du
        nom d'utilisateur spécifique que vous avez utilisé auparavant pour identifier votre profil.</p>

    <p>Si vous voulez conserver votre nom d'utilisateur, comme auteur des interventions sur le forum, par exemple, vous
        devriez le demander avant que votre compte soit supprimé. Normalement, quand un compte prend fin, le nom
        d'utilisateur associé à ce compte est supprimé et peut par conséquent peut devenir disponible pour une
        utilisation ultérieure par une autre personne. Dans des circonstances exceptionnelles - généralement quand un
        nom d'utilisateur a une résonance très personnelle - BeWelcome prendra en considération une demande pour rendre
        de nom d'utilisateur indisponible pour les autres utilisateurs.</p>


    <h3>Confidentialité et Sécurité</h3>

    <p>Nous limitons l'accès aux informations personnelles vous concernant aux volontaires qui ont besoin de cette
        information pour vous fournir des services ou pour faire fonctionner le site.</p>

    <p>Nous avons des sauvegardes physiques, électroniques et procédurales pour protéger les informations personnelles à
        votre sujet, et les informations de votre compte BeWelcome sont protégées par le mot de passe que vous avez
        choisi. BeWelcome utilise les standards industriels de cryptage pour protéger les transmissions de données.</p>

    <p>Toutes les données utilisateur sont stockées sur des serveurs implantés dans l'union européenne.</p>

    <p>Aucune organisation, y compris BeWelcome, ne peut entièrement éliminer les risques de sécurité associés à
        l'information personnelle. Nous faisons tous les efforts raisonnables pour maintenir la consistance et la
        sécurité de vos données, mais BeVolunteer ne peut pas être tenu responsable en cas de perte accidentelle de
        données et de dommages accessoires.</p>


    <h3>Autres Sites</h3>

    <p>Toute communication d'un lien vers un autre site web ou un endroit est pour votre commodité et ne signifie pas
        notre approbation de ces autres sites web ou endroits ou leur contenus. Nous n'avons pas de contrôle dessus, ne
        les passons pas en revue, et ne pouvons être tenus responsables de ces sites web externes ou de leur contenu.
        Veuillez noter que les termes de notre politique de confidentialité ne s'applique pas à ces sites web
        externes.</p>


    <h3>Nous contacter</h3>

    <p>Si vous avez des questions ou préoccupations au sujet de cette politique de confidentialité, veuillez nous
        contacter :<br>
        à : BeVolunteer, 19 rue de Paris, 35500 Vitré, FRANCE;</p>
    <p>en utilisant le lien Contact Us sur BeWelcome; ou</p>
    <p>par email à : privacy@bewelcome.org</p>


    <h3>Modifications de cette politique de confidentialité</h3>

    <p>BeWelcome peut mettre à jour cette politique de temps en temps. Nous vous notifierons les modifications
        significatives sur la manière dont nous traitons les informations personnelles en envoyant une notification à
        l'adresse email principale spécifiée sur votre compte BeWelcome ou en insérant une notification importante sur
        notre site web. Si vous êtes opposés à ces changements, vous devez cesser d'utiliser notre site web. Le fait de
        continuer d'utiliser notre site web après la notification de ces changements indiquera que vous reconnaissez ces
        changements et que vous êtes d'accord pour être lié à leurs termes et conditions.</p>

{% endblock content %}
