{% extends 'base.html.twig' %}

{% block content %}
    <h1>BeWelcome Privacy Policy</h1>
    <p>This policy was last updated on 4 April 2020. (<a href="{{ url('privacy_policy', {'locale':'fr'}) }}">French
            version</a>)</p>

    <p>BeWelcome offers an online place to get to know people from all over the world and a chance to meet them in
        person.</p>
    <p>BeWelcome respects the privacy of the users of its website, https://www.bewelcome.org. This Privacy Policy
        provides information about BeWelcome's policies and practices regarding the collection, use and disclosure of
        any personal information you submit to us through our website.</p>
    <p>BeWelcome is a project of BeVolunteer, a not-for-profit association registered in France. The activities of
        BeVolunteer and BeWelcome are governed by French law. Data privacy and the use of personal data are governed by
        the European General Data Protection Regulation (2016) - GDPR - and any relevant French legislation, such as the
        Digital Republic Act (2016) - DRA.</p>
    <p>The purpose of BeWelcome is to support hospitality and cultural exchange, and, to do this, we need some personal
        information. However, BeWelcome has no interest in collecting or using this information for marketing or any
        purposes other than the furtherance of hospitality exchange. It is your choice what personal data you provide
        and - with very few exceptions - it remains within your control and you can edit or delete it at any time.
        When you set up an account on BeWelcome, we will ask you to provide some personal information, including:</p>
    <ol type="a">
        <li>your email address, so that we can contact you (e.g. if you need to recover your login credentials) and so
            that you can receive notifications of messages from other members;
        </li>
        <li>your age, so that we can ensure that you are over 18 (a condition of the site's Terms of Use); and</li>
        <li>your location, so that other members can find your profile in searches.</li>
    </ol>
    <p>Your registered location will be displayed on your profile, but your email address will be kept private by
        BeWelcome, and you can hide your age. (Note that, if you hide your age, members will then not be able to find
        your profile in searches for hosts within certain age ranges.)</p>
    <p>All other information you provide is completely optional and is made available to other BeWelcome members solely
        for the purposes of hospitality and cultural exchange. You should bear in mind, however, that arranging
        hospitality is easier when the people involved know a little bit about each other beforehand. So, providing some
        information about yourself in the profile makes hosting and being hosted more likely.</p>
    <p>By creating an account and a profile on BeWelcome, you consent to BeVolunteer and other BeWelcome members using
        the personal data that you provide for the purposes of hospitality and cultural exchange.</p>

    <h3>Cookies</h3>
    <p>BeWelcome does not set any cookies to obtain or transmit marketing or other information. The only cookies set are
        for the essential purpose of user authentication and to display preference settings. Use of the site will be
        deemed consent to these essential cookies.</p>
    <h3>Use of information</h3>
    <p>Any member of the BeWelcome community logging in to the BeWelcome website can view the profile information and
        photos that you have uploaded.</p>
    <p>To provide you with some of the features that the BeWelcome community offers to its members, we use the personal
        information that is stored in your profile. How this information is used will depend upon how you set up your
        profile preferences. (For instance, you can opt in or out of the facility which alerts you when other members
        visit your profile.)
    <p>If you decide to use certain features of the site, such as the groups or forum, some of the personal information
        you entered into your BeWelcome profile, like your location, may be displayed.</p>
    <p>BeWelcome members can use the search feature to look for other members using various criteria, like location or
        interests. The personal information that members enter into their profile will be used for these searches.
        Please be aware that any information that is publicly posted anywhere on the BeWelcome site can be accessed by
        every user of the website.</p>
    <p>BeWelcome may also collect data about navigation on the site, for diagnostic purposes. Even though this data,
        such as IP addresses, may not be directly persons, it could be linked with external information to identify a
        specific person or small group. We collect such data because it is intrinsic to communication protocols. It will
        be kept for a period of about 6 months and is accessible only by technical staff for diagnostic purposes. This
        data, once anonymised, could be used for statistical or research purposes, even beyond that period.
    </p>

    <h3>Safety</h3>

    <p>As BeWelcome members, we open our homes to people we have never met, or stay in their homes while we are
        travelling ourselves. This requires a lot of trust which is often well deserved and the basis for many wonderful
        hospitality experiences. However, hospitality networks also sometimes attract people who want to take advantage
        of the trust and hospitality of others.</p>

    <p>We maintain a Safety Team of experienced volunteers, who investigate complaints about BeWelcome users. As part of
        these investigations, the Safety Team may access personal data, including account and navigation data, and to
        messages which are reported as abuse. All such investigations are kept confidential (unless they result in legal
        action) but BeWelcome may retain some details, including personal data, where these are relevant to an
        investigation about an abuse.</p>


    <h3>Information Sharing and Disclosure</h3>
    <p>BeWelcome does not rent, sell, or share personal information about you with other people or companies except to
        provide the services you have requested, when we have your permission, or as otherwise described in this Privacy
        Policy.</p>
    <p>We will disclose information in response to court orders, or to establish or exercise our legal rights, or to
        defend against legal claims. We may disclose information if we believe it is necessary to investigate, prevent,
        or take action regarding suspected illegal activities; in situations involving the safety of any person; in
        situations involving violations of BeWelcome's Terms of Use; or as otherwise required by applicable law.</p>
    <p>We reserve the right to send you certain communications relating to the BeWelcome service, such as service
        announcements, administrative messages and the BeWelcome Newsletter, that are considered part of your BeWelcome
        account. If you would like to opt out of certain messages, log into BeWelcome and go to your account settings by
        clicking the account link in the top right hand corner. Note that you cannot opt out of certain kinds of
        messages, such Terms of Use changes and messages sent to comply with legislation such as GDPR.</p>

    <h3>Suspending or Deleting Your Account</h3>

    <p>Should you wish to suspend your account, to make your profile inaccessible for a time, but wish to retain your
        account on BeWelcome for use in the future, please use the “set inactive” button on ‘Edit my profile’.</p>

    <p>While your account is set to inactive, your profile and personal data will continue to be stored, but will not be
        displayed and will be unavailable to member searches. Your account can only be set to inactive for a maximum of
        2 consecutive years. After that, your account may be deleted without further notice.</p>

    <p>During the suspension period, you can re-activate your account at any time by using the profile settings. If you
        would like to delete your account, log in to BeWelcome, and from your username, on the right of the top bar, go
        to ‘Edit my profile’. There is a 'delete my profile' link, click this, and follow the steps shown.</p>

    <p>To avoid accidental irreversible deletion, you may receive an email asking to reply to confirm.</p>

    <p>If you are unable to log in to your profile you can contact us using the link at the bottom of the website, by
        email, or by other means to request the deletion of your account. In this case, you will be asked to provide
        some account information to confirm your identity as the user of the account.</p>

    <p>Deleting your account will not immediately erase all data related to you. For instance, any posts you have made
        in groups or in the public forum will remain, and any personal messages you have sent become a joint property
        with the recipients and cannot generally be erased, unless both parties agree. Please note that, once your
        account is deleted, such posts and personal messages may be associated with a generic user name rather than the
        specific user name previously used to identify your profile.</p>

    <p>If you want to keep your username, as the author of forum posts, for example, you should request this before the
        account is deleted. Normally, when an account is terminated, the username associated with that account is
        cancelled and may therefore become available for future use by a different person. In exceptional circumstances
        - usually where a username has a very personal resonance - BeWelcome will consider a request to make that
        username unavailable for other users.</p>


    <h3>Confidentiality and Security</h3>

    <p>We limit access to personal information about you to the volunteers who need access to that information to
        provide services to you or in order to run the site.</p>

    <p>We have physical, electronic, and procedural safeguards to protect personal information about you, and your
        BeWelcome account information is protected by a password that you select. BeWelcome uses industry-standard
        encryption to protect data transmissions.</p>

    <p>All user data is stored on servers located within the European Union.</p>

    <p>No organisation, including BeWelcome, can fully eliminate security risks associated with personal
        information. We make all reasonable efforts to maintain consistency and security of your data, but
        BeVolunteer cannot be deemed liable in case of accidental data losses and incidental damage.</p>


    <h3>Other Sites</h3>

    <p>Any provision of a link to any other website or location is for your convenience and does not signify our
        endorsement of such other website or location or its contents. We have no control over, do not review, and
        cannot be responsible for these outside websites or their content. Please be aware that the terms of our Privacy
        Policy do not apply to these outside websites.</p>


    <h3>Contact Us</h3>

    <p>Should you have any questions or concerns regarding this Privacy Policy, please contact us:<br>
        at BeVolunteer, 19 rue de Paris, 35500 Vitré, FRANCE;</p>
    <p>by using the Contact Us link on BeWelcome; or</p>
    <p>by email to: privacy@bewelcome.org</p>


    <h3>Changes to this Privacy Policy</h3>

    <p>BeWelcome may update this policy from time to time. We will notify you about significant changes in the way we
        treat Personal Information by sending a notice to the primary email address specified in your BeWelcome account
        or by placing a prominent notice on our Website. If you object to any such changes, you must cease using our
        Website. Continued use of our Website following notice of any such changes shall indicate your acknowledgement
        of such changes and agreement to be bound by the terms and conditions of such changes.</p>


{% endblock content %}
