{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
<div class="o-text">
    <h1>Conditions d’Utilisation de BeWelcome</h1>
    <p><em>(<a href="{{ url('terms_of_use', {'locale': 'en'}) }}">Version anglaise</a>)</em>  &mdash; <a href="{{ url('terms_of_use_update', {'locale':'fr'}) }}">cliquez</a> ici pour voir les conditions d'utilisation mises à jour, qui entreront en vigueur le 15 février 2023.</p>
    <p>BeWelcome (<a href="https://www.bewelcome.org">www.bewelcome.org</a>) est un réseau qui encourage les idées
        d’hospitalité et d’échange culturel. BeWelcome est un projet de l’association à but non lucratif BeVolunteer, et
        géré exclusivement par des membres bénévoles. BeVolunteer est une association française (loi 1901), enregistrée
        à la préfecture d’Ille-et-Vilaine, à Rennes/France (numéro RNA: W3530003536).</p>

    <p>Les présentes conditions d’utilisation définissent la relation entre BeVolunteer, qui propose le service
        «BeWelcome» et vous, en tant qu’utilisateur du service BeWelcome. La réglementation française s’applique.</p>

    <p>En créant un compte et un profil sur BeWelcome, vous consentez à ce que BeVolunteer et les autres membres
        BeWelcome utilisent les données personnelles que vous fournissez à des fins d'hospitalité et d'échange culturel.
        BeWelcome soutient les échanges dans de nombreux pays, certaines de ces données peuvent donc être utilisées en
        dehors de l'UE.</p>

    <h3>1. Adhésion</h3>

    <p>En vous inscrivant sur le site BeWelcome, vous devenez membre de la communauté BeWelcome. Cela vous permet de
        participer pleinement au réseau et d'utiliser tous les services aux membres offerts par le site.</p>

    <p>Seule une personne physique peut devenir membre. (c'est-à-dire qu'elle n'est pas ouverte aux organisations).
        Chaque membre ne peut ouvrir qu’un seul compte (profil) - tout compte supplémentaire sera supprimé, ainsi que
        son contenu.</p>

    <p>L’âge minimum pour adhérer est 18 ans.</p>

    <p>L'adhésion est indéfinie, ce qui signifie qu'elle est valide jusqu'à son résiliation (voir section 6:
        «Résiliation de l’adhésion»).</p>

    <p>Si vous souhaitez suspendre les activités d’hospitalité pendant un certain temps, mais souhaitez conserver votre
        compte sur BeWelcome, vous pouvez utiliser le bouton «Définir inactif» dans les paramètres de votre profil.
        Pendant que votre compte est défini sur inactif, votre profil et vos données personnelles continueront d'être
        stockés mais ne seront pas affichés et ne seront disponibles que pour les recherches avancées de membres. Votre
        compte ne peut être défini comme inactif que pendant 2 ans maximum. Après cela, votre compte peut être supprimé
        sans autre avis.</p>

    <p>Pendant la période de suspension, vous pouvez réactiver votre compte à tout moment en utilisant les paramètres du
        profil.</p>

    <p>Afin de conserver votre compte, vous devez vous connecter de temps en temps à BeWelcome. Si vous ne vous
        connectez pas pendant une période continue de 2 ans, votre compte peut être annulé et toutes les données de
        profil supprimées, sans préavis.</p>

    <h3>2. Inscription</h3>

    <p>Au moment de l’inscription, vous devrez fournir certaines données afin d'activer un compte BeWelcome. (Ceci est
        détaillé dans la <a href="{{ url('privacy_policy', {'locale': 'fr'}) }}">politique de confidentialité</a>.) Toute autre
        information de profil que vous fournissez est entièrement facultative. Cependant, votre profil est mis à la
        disposition d'autres utilisateurs de BeWelcome, à des fins d'hospitalité et d'échange culturel, et fournir plus
        d'informations sur vous-même dans le profil rend l'hébergement plus probables.</p>

    <p>Il est de votre responsabilité de vous assurer que toute information que vous fournissez est exacte et à jour.
        Ceci est particulièrement important en ce qui concerne votre adresse e-mail, car c'est la principale façon dont
        nous communiquons avec vous à propos de votre compte. La communication d'informations fausses ou trompeuses peut
        entraîner l'annulation de votre compte (voir la section 6 ci-dessous).</p>

    <p>Au cours du processus d’inscription, il vous sera demandé de saisir un mot de passe répondant à nos exigences de
        sécurité. Il est votre responsabilité de garder ce mot de passe confidentiel.</p>

    <h3>3. Confidentialité</h3>

    <p>En créant un profil sur BeWelcome, vous consentez à l'utilisation de toutes les données que vous fournissez, y
        compris des données personnelles, à des fins d'hospitalité et d'échange culturel. Vous avez le droit de modifier
        les données de votre profil et vous pouvez retirer votre consentement à tout moment en annulant votre adhésion à
        BeWelcome. En cas d'annulation, nous supprimerons votre profil et toutes les données qu'il contient, sauf comme
        spécifié dans la section 6.</p>

    <p>La <a href="{{ url('privacy_policy', {'locale': 'en'}) }}">politique de confidentialité</a> de BeWelcome décrit les données
        que BeWelcome recueille et comment votre contenu et vos données sont utilisés. Nous vous encourageons à lire la
        politique de confidentialité et à l'utiliser pour prendre des décisions éclairées concernant les options de
        confidentialité que nous proposons. BeWelcome n'est pas une platforme de stockage de données. BeWelcome décline
        toute responsabilité pour les données (par exemple les photos) placées sur le site.</p>

    <h3>4. Comportement</h3>

    <p>Vous acceptez d’utiliser BeWelcome pour l’usage prévu – l’hospitalité et l’échange culturel – et de contribuer à
        la promotion de ces idées de manière non commerciale, gratuitement. Cela implique de ne pas associer BeWelcome à
        une quelconque activité illégale ou perturbatrice. Le non-respect de cette règle peut entraîner l'annulation de
        votre adhésion à BeWelcome sans préavis.</p>

    <p>Pour illustrer ce point, voici quelques exemples de comportement à ne PAS avoir sur BeWelcome:</p>

    <ol type="a">
        <li>utiliser BeWelcome pour toute des activité illégale ou perturbatrice;</li>
        <li>fournir des informations erronées ou trompeuses;</li>
        <li>violer les droits d’un tiers;</li>
        <li>attaquer, diffamer ou tenir des propos discriminatoires à l’encontre d’une personne ou un groupe de
            personnes;
        </li>
        <li>agresser, attaquer, traquer, harceler, menacer ou intimider tout utilisateur des services de BeWelcome, dont
            ses bénévoles ou équipes de bénévoles;
        </li>
        <li>poster du contenu menaçant, contenant des images violentes, incitant ou vantant le recours à la violence et
            à l’idée de nuire à soi-même et aux autres;
        </li>
        <li>recueillir ou sauvegarder des informations accessibles par notre service pour des utilisations non
            autorisées;
        </li>
        <li>utiliser le service BeWelcome dans une démarche commerciale, notamment dans le cadre d’une diffusion de
            messages commerciaux ou publicitaires;
        </li>
        <li>utiliser les services BeWelcome pour trouver des partenaires sexuels;</li>
        <li>poster du contenu pornographique ou sexuellement explicite ou des images de parties génitales;</li>
        <li>poster ou publier des données personnelles sur d'autres utilisateurs, y compris des photos, sans leur
            autorisation;
        </li>
        <li>utiliser les services BeWelcome pour envoyer des messages privés non sollicités sans liens avec l’objectif
            du service – ceci inclut les invitations non sollicitées;
        </li>
        <li>utiliser le service BeWelcome pour recueillir des dons pour toute entité autre que BeVolunteer; ou</li>
        <li>assister un tiers dans la réalisation d’une des actions précédemment mentionnées.</li>
    </ol>
    <p>BeWelcome se réserve le droit de bloquer votre accès à certaines sections du site ou de résilier votre adhésion
        et de supprimer votre compte en cas de violation de ces réglementations (pour en savoir plus, veuillez consulter
        la section 6. «Résiliation de l’adhésion»).</p>

    <h3>5. Contenu</h3>

    <p>Le contenu qui vous appartient reste votre propriété lorsque vous le postez sur BeWelcome.</p>

    <p>Vous êtes responsable de tout le contenu que vous mettez en ligne, copiez, distribuez et affichez en utilisant
        nos services.</p>

    <p>Vous devez posséder les droits de tout contenu soumis au copyright ou avoir l’autorisation du propriétaire pour
        cette utilisation du contenu.</p>

    <p>Lorsque vous postez des photos, vous êtes responsable d'obtenir l'autorisation de publier de toutes les personnes
        privées qui y sont représentées.</p>

    <p>Pour le seul but de fournir les services, vous autorisez BeWelcome à utiliser, héberger, stocker, copier,
        distribuer et afficher le contenu que vous mettez en ligne sur le site de BeWelcome, en fonction des paramètres
        de confidentialité définis. BeWelcome ne peut pas utiliser ce contenu à d’autres fins – comme du matériel de
        promotion ou des articles de presse – sans votre accord explicite (si une telle possibilité survenait, nous vous
        poserions la question). BeWelcome ne peut pas et ne va pas utiliser vos données personnelles à des fins
        commerciales.</p>

    <p>En mettant en ligne du contenu sur BeWelcome, vous participez à une communauté. Si vous décidez de supprimer
        votre profil, une partie du contenu que vous avez mis en ligne restera dans le système – dont les messages
        privés envoyés à d’autres membres, les messages dans les groupes et le forum, les contributions Wiki, les
        commentaires de profils, les activités et les suggestions saisies sur le site.</p>

    <p>D’autres parties du contenu de votre profil, vos photos et vos blogs sont supprimés avec votre compte. Nous
        ferons tout effort raisonnable afin de supprimer ces données dans un délai convenable. L’autorisation accordée
        expire avec la suppression du compte.</p>

    <h3>6. Résiliation de l’adhésion</h3>

    <p>BeWelcome se réserve le droit de refuser ou de résilier votre adhésion pour les raisons suivantes:</p>
    <ol>
        <li>Les conditions pour l’adhésion ne sont pas remplies (personne physique, âgée d’au moins 18 ans);</li>
        <li>Les données de votre compte sont incorrectes ou incomplètes;</li>
        <li>L’adresse e-mail n’est pas confirmée;</li>
        <li>Tout comportement qui ne répond pas aux exigences décrites dans la section 4. «Comportement» des présentes
            conditions d’utilisation ou qui met en danger ou nuit à un membre de BeWelcome;
        </li>
        <li>Vous n'êtes pas connecté à BeWelcome depuis plus de 2 ans; ou</li>
        <li>Autre violation des conditions d’utilisation.</li>
    </ol>
    <p>BeWelcome se réserve également le droit de résilier une adhésion pour d’autres raisons, sur recommandation
        unanime de l’équipe de sécurité.</p>

    <p>En cas de résiliation de l’adhésion par BeWelcome, l’ancien membre peut faire appel de la décision auprès du
        Conseil d’Administration de BeVolunteer.</p>

    <p>Vous pouvez résilier votre adhésion à tout moment.</p>

    <p>En cas de résiliation d’une adhésion, votre page de profil, votre galerie de photos, et vos voyages seront
        supprimés. Vos contributions à la communauté - c'est-à-dire le contenu que vous avez partagé avec d’autres
        membres (dont les messages postés dans le forum et les groupes, les pages Wiki, les commentaires postés sur les
        profils d’autres utilisateurs, dans les activités ou les groupes, les activités que vous avez créées et les
        suggestions apportées) resteront visibles.</p>

    <p>Dans certaines circonstances, détaillées dans la politique de confidentialité de BeWelcome (link), certaines
        données des comptes annulés peuvent être stockées pendant des périodes plus longues, mais elles ne seront plus
        visibles. Par exemple, en cas de suppression pour abus grave, BeWelcome se réserve le droit de conserver des
        données pour une période indéfinie, afin d’empêcher l’auteur de l’abus de créer un nouveau compte.</p>

    <p>En cas de résiliation pour abus grave, BeWelcome se réserve le droit de bannir l’adhésion de manière
        permanente.</p>

    <h3>7. Responsabilité</h3>

    <p>Nous fournissons aux membres inscrits une plateforme pour proposer et pour trouver de l’hospitalité privée, pour
        organiser des échanges culturels et pour organiser leurs voyages.</p>

    <p>Malheureusement nous ne pouvons pas garantir que nos services satisferont toujours vos attentes et qu’ils sont
        100% exacts, toujours fiables, sans d’erreurs, toujours accessibles et rapides. Tous les services sont fournis «
        tels quels ». Par la présente vous renoncez à porter plainte contre nous ou à engager notre responsabilité en
        raison d’un événement lié à nos services. BeVolunteer se réserve le droit de modifier, suspendre ou arrêter les
        services à tout moment et sans préavis. Vous acceptez que BeVolunteer n’est pas et ne sera pas tenu responsable
        pour toute modification, suspension ou arrêt de ses services.</p>

    <p>BeVolunteer et BeWelcome ne peuvent pas être tenus responsables pour toute activité créée par des membres
        utilisant nos services.</p>

    <p>En cas de conflit entre membres, nous ne seront pas responsables ou tenus responsables. Si vous entrez en contact
        avec une personne par le biais de nos services dont vous pensez qu’elle se comporte ou s’est comporté de manière
        inappropriée, veuillez svp signaler cette personne immédiatement aux autorités appropriées, et à nous en
        utilisant le formulaire de contact. (link)</p>

    <p>Veuillez noter que, bien que nous vous encouragions de signaler les comportements inappropriés nous ne sommes pas
        responsables des actes de nos membres et que nous ne sommes pas obligés d’intervenir.</p>

    <p>Vous acceptez par la présente de défendre, d’indemniser ou de dédouaner BeWelcome et BeVolunteer, les membres du
        conseil d’administration et bénévoles de toute responsabilité en cas de plainte, de responsabilité, de dégâts,
        pertes ou dépenses, concernant entre autre autres les frais de procédure et d’expert, de consultations
        d’experts, découlant ou en lien de quelque manière que ce soit à l’accès de l’utilisateur aux services
        BeWelcome, ou de la violation des présentes conditions d’utilisation.</p>

    <h3>8. Litige</h3>

    <p>Ces conditions d’utilisations sont soumises au droit français et assujetties à la juridiction territorialement
        compétente.</p>

    <p>Les présentes conditions d’utilisation définissent la relation entre BeVolunteer, qui propose le service «
        BeWelcome » et vous, pour le respect de votre usage de notre service. En tout état de cause la version faisant
        autorité demeure la version française.</p>

    <p>L’absence d’action de BeWelcome ou BeVolunteer pour faire respecter un droit ou une disposition issus de ces
        conditions ne constitue en aucun cas un renoncement à leur application.</p>

    <p>Si une juridiction venait à déclarer une ou plusieurs dispositions illégales, les dispositions non concernées
        restent et demeurent applicable.</p>

    <p>BeVolunteer se réserve le droit d’amender ou de modifier ces conditions d’utilisations et informera tous les
        membres au moins trente jours avant leur entrée en vigueur.</p>
</div>

{% endblock content %}
