<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
         backupGlobals="false"
         verbose="true">
  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>

