/* ==========================================================================
   #MAP
   ========================================================================== */

/**
 * Map styles
 */



.o-map {
	height:480px; 
	width:100%; 
	overflow: hidden; 
	border-radius: 8px; 
	border: 4px solid white;
}

