parameters:
    database_host:     "%env(DB_HOST)%"
    database_port:     "%env(DB_PORT)%"
    database_name:     "%env(DB_NAME)%"
    database_user:     "%env(DB_USER)%"
    database_password: "%env(DB_PASS)%"

doctrine:
    dbal:
        driver: pdo_mysql
        host:     "%env(DB_HOST)%"
        port:     "%env(DB_PORT)%"
        dbname:   "%env(DB_NAME)%"
        user:     "%env(DB_USER)%"
        password: "%env(DB_PASS)%"

        # IMPORTANT: You MUST configure your server version,
        server_version: '10.1.41'

        charset: utf8mb4

        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_520_ci

        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"
        types:
            in_folder: App\Doctrine\InFolderType
            delete_request: App\Doctrine\DeleteRequestType
            spam_info: App\Doctrine\SpamInfoType
            message_status: App\Doctrine\MessageStatusType
            comment_admin_action: App\Doctrine\CommentAdminActionType
            comment_quality: App\Doctrine\CommentQualityType
            comment_relations: App\Doctrine\CommentRelationsType
            language_level: App\Doctrine\LanguageLevelType
            group_type: App\Doctrine\GroupType
            group_membership_status: App\Doctrine\GroupMembershipStatusType
            member_status: App\Doctrine\MemberStatusType
            accommodation: App\Doctrine\AccommodationType
            domain: App\Doctrine\DomainType
            forum_visibility: App\Doctrine\ForumVisibilityType
            thread_reply: App\Doctrine\ThreadReplyType
            forum_delete_status: App\Doctrine\ForumDeleteStatusType
            can_still_edit: App\Doctrine\PostCanStillEditType
            action_to_watch: App\Doctrine\ActionToWatchType
            report_status: App\Doctrine\ReportStatusType
            report_type: App\Doctrine\ReportTypeType
            who_spoke_last: App\Doctrine\WhoSpokeLastType

        mapping_types:
            enum:       string
            set:        string

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        hydrators:
            LanguageHydrator: App\Doctrine\Hydrator\LanguageHydrator
        filters:
            language_filter:
                class:   App\Doctrine\Filter\LanguageFilter
                enabled: true
        dql:
            datetime_functions:
                datediff: App\Doctrine\Functions\DateDiff
