{% extends '@base/base.html.twig' %}

{% block content %}

<div class="container">

    <!-- #main: content begins here -->
    <div id="main">

        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <div class="row welcomeback p-t-1" style="height: auto;">

                        <div class="col-xs-12 col-lg-2">

                            {# 'editmyprofile' or 'editavatar' when own profile ; gallery/show/user/xxxxx/pictures when on other profile #}
                            <a href="#" title="See profile member-101" ><img src="/members/avatar/member-101?100_100"></a>

                        </div>
                        <div class="col-xs-10 m-b-1">
                            <span class="pull-right"><small><a href="#"><i class="fa fa-flag"></i> report</a></small></span>
                            {# if on own profile #}
                            <a href="editmyprofile"><span class="h3"><i class="fa fa-edit"></i></span></a>
                            <span class="h1" style="font-size: 2.625em; color: white; text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);">Member-101 <small><i class="fa fa-mars" alt="male" title="male"></i> 99 years old</small></span><br>

                            <button id="MemberMenu" type="button" class="btn btn-secondary btn-sm dropdown-toggle text-xs-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </button>
                                    <div class="dropdown-menu" aria-labelledby="MemberMenu">
                                        <a class="dropdown-item text-xs-left" href="#aboutme">About me</a>
                                        <a class="dropdown-item text-xs-left" href="#accommodation">Accommodation</a>
                                        <a class="dropdown-item text-xs-left" href="#comments">Latest comments</a>
                                        <a class="dropdown-item text-xs-left" href="#interests">Interests</a>
                                        <a class="dropdown-item text-xs-left" href="#travels">Travelled to</a>
                                        <a class="dropdown-item text-xs-left" href="#groups">Groups membership</a>
                                        <a class="dropdown-item text-xs-left" href="#languages">Languages</a>
                                        <a class="dropdown-item text-xs-left" href="#friends">Friends, etc.</a>
                                    </div>

                            <span class="text-truncate" style="color: white; text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);">My occupation is sitting and looking at the screen</span>

                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <div class="col-xs-12 col-lg-4 m-y-1 p-y-1 languages">

                                <h4 class="text-uppercase">{# if on own profile #}<a href="editmyprofile"><i class="fa fa-edit"></i></a>Languages</h4>
                                <p class="m-b-0">English<span class="label label-default pull-xs-right">Mother tongue</span></p>
                                <p class="m-b-0">Galician<span class="label label-default pull-xs-right">Fluent</span></p>
                                <p class="m-b-0">German<span class="label label-default pull-xs-right">Advanced</span></p>
                                <p class="m-b-0">Bask<span class="label label-default pull-xs-right">Basic</span></p>
                                <p class="m-b-0"><a href="#languages">and 8 more languages</a></p>

                            </div>
                            <div class="col-xs-12 col-lg-6">
                            </div>
                            <div class="col-xs-12 col-lg-2">
                                <div class="btn-group-vertical btn-block m-b-1">
                                {# if on own profile
                                    <a href="editmyprofile" class="btn btn-primary text-xs-left"><i class="fa fa-edit"></i> Edit profile</a>
                                    <a href="#" class="btn btn-secondary text-xs-left">My preferences</a>
                                    <a href="#" class="btn btn-secondary text-xs-left">My notes</a>
                                    <a href="#" class="btn btn-secondary text-xs-left">Set inactive</a>
                                    <a href="#" class="btn btn-secondary text-xs-left">Delete profile</a>
                                #}

                                {# else #}
                                    <a href="#" class="btn btn-primary text-xs-left">Send message</a>
                                    <a href="#" class="btn btn-secondary text-xs-left">Friend</a>
                                    <a href="#" class="btn btn-secondary text-xs-left">Write comment</a>

                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle text-xs-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Add to...
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item text-xs-left" href="#">...new list</a>
                                            <a class="dropdown-item text-xs-left" href="#">People in Berlin</a>
                                            <a class="dropdown-item text-xs-left" href="#">Holidays in France</a>
                                        </div>
                                    </div>
                                {# #}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-b-1">
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-sm btn-primary">Overview</a>
                <a href="/members/xxxxx/comments" class="btn btn-sm btn-secondary">Comments</a>
                <a href="/members/xxxxx/gallery" class="btn btn-sm btn-secondary">Gallery</a>
                <a href="/members/xxxxx/groups" class="btn btn-sm btn-secondary">Groups</a>
                <a href="/members/xxxxx/trips" class="btn btn-sm btn-secondary">Trips</a>
                <a href="#" class="btn btn-sm btn-secondary">Show on map</a>
            </div>

            <div class="btn-group pull-xs-right" role="group">
                <a href="/members/xxxxx/en" class="btn btn-sm btn-primary">English</a>
                <a href="/members/xxxxx/fr" class="btn btn-sm btn-secondary">French</a>
                <a href="/members/xxxxx/de" class="btn btn-sm btn-secondary">German</a>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-md-4">
            <div class="card p-x-2 p-y-1">
                <a name="info"></a>
                <div class="media">
                    <div class="media-left">
                        <span class="h2"><i class="fa fa-home"></i></span>
                    </div>
                    <div class="media-body summary">
                        <small><strong><a href="#">Berlin</a></strong><br>
                        <a href="#">Europe</a> > <a href="#">Germany</a> > <a href="#">Berlin</a></small>
                    </div>
                </div>

                <div class="media m-t-1">
                    <div class="media-left">
                        {# AHREF and DIV if on own profile #}
                        <a href="#" id="SetStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/images/icons/nosorry.png"></a>
                            <div class="dropdown-menu" aria-labelledby="SetStatus" style="top: 0;">
                                <a href="#" class="dropdown-item"><img src="/images/icons/yesicanhost.png"> Yes</a>
                                <a href="#" class="dropdown-item"><img src="/images/icons/maybe.png"> Maybe</a>
                                <a href="#" class="dropdown-item"><img src="/images/icons/nosorry.png"> No</a>
                            </div>
                    </div>
                    <div class="media-body summary">
                        <small>Host status: <strong>No</strong><br>
                        Max. guests: <strong>4</strong></small>
                    </div>
                </div>

                <div class="media m-t-1">
                    <div class="media-left">
                        <span class="h1"><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="media-body summary">
                        <small>Last login: <i>3 days ago</i><br>
                        Member since: <i>2010</i></small>
                    </div>
                </div>
            </div>


            <div class="card">
            <a name="aboutme"></a>
                <h3 class="card-header">About me</h3>
                  <div class="card-block">
                      <p class="h5">Do we allow H5 to be used?</p>
                      <p class="card-text">If so, members can create some structure in their texts</p>
                 </div>
             </div>


             <div class="card">
             <a name="interests"></a>
                <h3 class="card-header">Interests</h3>
                  <div class="card-block">
                    <p class="h5">Media</p>
                    <p class="card-text">Some books, movies, music</p>
                    <p class="h5">Hobbies</p>
                    <p class="card-text">Climbing, board games</p>
                    <p class="h5">Other interests</p>
                    <p class="card-text">Philosophy, Arts, etc</p>
                 </div>
             </div>

             <div class="card">
             <a name="travels"></a>
                <h3 class="card-header">Travelled to</h3>
                  <div class="card-block">
                      <p class="m-b-0">Germany</p>
                      <p class="m-b-0">France</p>
                      <p class="m-b-0">Netherlands</p>
                 </div>
             </div>

             <div class="card">
             <a name="groups"></a>
                <h3 class="card-header">Groups membership</h3>
                  <div class="card-block">
                     <div class="list-group">
                        <a href="#" class="list-group-item"><img src="/members/avatar/member-102?30_30"> Redesigning</a>
                        <a href="#" class="list-group-item"><img src="/members/avatar/member-103?30_30"> The complete</a>
                        <a href="#" class="list-group-item"><img src="/members/avatar/member-104?30_30"> BeWelcome</a>
                        <a href="#" class="list-group-item"><img src="/members/avatar/member-105?30_30"> Website using</a>
                        <a href="#" class="list-group-item"><img src="/members/avatar/member-106?30_30"> Bootstrap as much as possible</a>
                        <a href="#" class="list-group-item"><i class="fa fa-group"></i> See all subscribed public groups</a>
                    </div>
                 </div>
             </div>

             <div class="card">
             <a name="languages"></a>
                <h3 class="card-header">Languages</h3>
                  <div class="card-block">
                        <p class="m-b-0">English<span class="label label-default pull-xs-right">Mother tongue</span></p>
                        <p class="m-b-0">French<span class="label label-default pull-xs-right">Fluent</span></p>
                        <p class="m-b-0">German<span class="label label-default pull-xs-right">Advanced</span></p>
                        <p class="m-b-0">Dutch<span class="label label-default pull-xs-right">Basic</span></p>
                        <p class="m-b-0">Spanish<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Swahili<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Hindi<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Malayalam<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Kanada<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Portuguese (Br)<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Sign Language<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Romanian<span class="label label-default pull-xs-right">Couple of words</span></p>
                        <p class="m-b-0">Latin<span class="label label-default pull-xs-right">Couple of words</span></p>
                 </div>
             </div>



            </div>

            <div class="col-xs-12 col-md-8">

                <div class="card">
                <a name="accommodation"></a>
                    <h3 class="card-header"><img src="/images/icons/nosorry.png"> Accommodation<a href="#" class="btn btn-primary-outline btn-sm pull-xs-right">Send a request</a></h3>
                      <div class="card-block">
                          <p class="card-text m-b-0"><strong>Max. number of guests: </strong>1</p>
                          <p class="card-text m-b-0"><strong>Max. length of stay: </strong>Text</p>

                          <div id="accordion" role="tablist" aria-multiselectable="true">

                          <div class="panel panel-default">
                                <div class="panel-heading m-b-0" role="tab" id="headingZero">
                                    <p class="panel-title">
                                        <a class="collapsed btn text-xs-left p-l-0" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                                            I live with
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseZero" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingZero">
                                    1 billion bacterias
                                </div>
                                <noscript>1 million bacterias</noscript>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading m-b-0" role="tab" id="headingOne">
                                    <p class="panel-title">
                                        <a class="collapsed btn text-xs-left p-l-0" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Please bring
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingOne">
                                    A sleeping bag
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading m-b-0" role="tab" id="headingTwo">
                                    <p class="panel-title">
                                        <a class="collapsed btn text-xs-left p-l-0" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            House rules
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingTwo">
                                    No smoking inside
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading m-b-0" role="tab" id="headingThree">
                                    <p class="panel-title">
                                        <a class="collapsed btn text-xs-left p-l-0" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            I can offer my guests
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingThree">
                                    A warm meal
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading m-b-0" role="tab" id="headingFour">
                                    <p class="panel-title">
                                        <a class="collapsed btn text-xs-left p-l-0" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            About my accommodation
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingFour">
                                    Lots of dust: allergic guests be aware
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading m-b-0" role="tab" id="headingFive">
                                    <p class="panel-title">
                                        <a class="collapsed btn text-xs-left p-l-0" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            How to get there
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse m-b-1" role="tabpanel" aria-labelledby="headingFive">
                                    Take the hoovercraft to the helipad and then land on the big H
                                </div>
                            </div>
                          </div>

                     </div>
                 </div>

                 <div class="card">
                 <a name="comments"></a>
                    <h3 class="card-header">Latest comments<a class="btn btn-primary-outline pull-right">All comments</a></h3>

                    <div class="media p-a-1">
                      <a class="media-left" href="#" style="max-width: 90px;">
                        <img class="media-object" src="/members/avatar/member-191?75_75">
                        <small class="username">JustALongUserNameToTest</small>
                      </a>
                      <div class="media-body">
                        <span class="media-heading"><strong>Positive</strong><small class="pull-xs-right">2015-12-10</small></span>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                      </div>
                    </div>

                    <div class="media p-a-1">
                      <a class="media-left" href="#" style="max-width: 90px;">
                        <img class="media-object" src="/members/avatar/member-192?75_75">
                        <small class="username">Member-192</small>
                      </a>
                      <div class="media-body">
                        <span class="media-heading"><strong>Positive</strong><small class="pull-xs-right">2015-12-10</small></span>
                        <p>The battle station is heavily shielded and carries a firepower greater than half the star fleet. It's defenses are designed around a direct large-scale assault. A small one-man fighter should be able to penetrate the outer defense. Pardon me for asking, sir, but what good are snub fighters going to be against that? Well, the Empire doesn't consider a small one-man fighter to be any threat, or they'd have a tighter defense. An analysis of the plans provided by Princess Leia has demonstrated a weakness in the battle station.</p>
                        <p>And what of the Rebellion? If the Rebels have obtained a complete technical readout of this station, it is possible, however unlikely, that they might find a weakness and exploit it. The plans you refer to will soon be back in our hands. Any attack made by the Rebels against this station would be a useless gesture, no matter what technical data they've obtained. This station is now the ultimate power in the universe. I suggest we use it!</p>
                        <p>Yes, sir. I think those new droids are going to work out fine. In fact, I, uh, was also thinking about our agreement about my staying on another season. And if these new droids do work out, I want to transmit my application to the Academy this year. You mean the next semester before harvest? Sure, there're more than enough droids. Harvest is when I need you the most. Only one more season. This year we'll make enough on the harvest so I'll be able to hire some more hands. And then you can go to the Academy next year. You must understand I need you here, Luke. But it's a whole 'nother year. Look, it's only one more season. Yeah, that's what you said last year when Biggs and Tank left. Where are you going? It looks like I'm going nowhere. I have to finish cleaning those droids.</p>
                      </div>
                    </div>

                    <div class="media p-a-1">
                      <a class="media-left" href="#" style="max-width: 90px;">
                        <img class="media-object" src="/members/avatar/member-194?75_75">
                        <small class="username">Member-194</small>
                      </a>
                      <div class="media-body">
                        <span class="media-heading"><strong>Positive</strong><small class="pull-xs-right">2015-12-10</small></span>
                        <p>Short</p>
                      </div>
                    </div>

                    <a class="btn btn-primary-outline btn-block">See all comments for this member</a>

                </div>

                 <div class="card">
                 <a name="friends"></a>
                    <h3 class="card-header">Family, friends and other connections</h3>
                      <div class="card-block">

                         <div class="list-group">
                            <a href="#" class="list-group-item"><img src="/members/avatar/member-450?30_30"> amnesiac -  Friend</a>
                            <a href="#" class="list-group-item"><img src="/members/avatar/member-450?30_30"> username - My best friend</a>
                            <a href="#" class="list-group-item"><img src="/members/avatar/member-467?30_30"> member-467 - We've met once</a>
                        </div>

                     </div>
                 </div>

            </div>

        </div>

        </div>
    </div> <!-- main -->
</div> <!-- container -->
{% endblock content %}