# editorconfig.org
root = true

[*]
indent_style = space
charset = utf-8
end_of_line = lf
indent_size = 4

[*.scss]
indent_size = 2

[*.css]
indent_size = 2

[docker-compose{,.*}.{yaml,yml}]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[.github/*/*.yml]
indent_size = 2

[{compose.yaml,compose.*.yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
