# It's highly recommended to use a global gitignore: https://help.github.com/en/github/using-git/ignoring-files
# Here is a sample: https://gist.github.com/vincentchalamon/d5defad563ed49d9306a4aa57dfd4498
errors.log
rox_local.ini
*.cache.ini
.php_cs.cache
.phpunit.result.cache
/data/*
!data/user/avatars/.gitkeep
!data/gallery/member/.gitkeep
google*.html
tools/testenv/images/status.csv
components/*
revision.txt
.buildpath
.sass-cache
doc/
/docker/db/*
!docker/db/.gitkeep
docker-compose.override.*
!docker-compose.override.yml.dist
composer.phar
auth.json
/.vagrant/*
/db_dumps/*
/ansible/cert.crt
/ansible/key.pem
coverage/
phpmetrics.html
phpmetrics.xml
VERSION
htdocs/assets/
config/*.local.yml
phploc.xml
/tools/testenv/images/lfw/*.jpg
/public/main.js
/public/images/newsletters/
/public/main.js.map
/public/service-worker.js
/public/service-worker.js.map
/swagger.json
/build/logs/

# geonames files (created by geonames:update command)
admin1CodesASCII.txt
countryInfo.txt
allCountries.zip

# deployer config
/config/deployer.yml

###> symfony/framework-bundle ###
/.env.local
/.env.local.*
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/main.js*
/public/service-worker.js*
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
!/config/jwt/*-test.pem
###< lexik/jwt-authentication-bundle ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

/infection.log

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
