errors.log
rox_local.ini
*.cache.ini
.php_cs.cache
/data/
!/dokuwiki/data/cache
/dokuwiki/data/cache/*
!/dokuwiki/data/cache/.gitkeep
!/dokuwiki/data/index
/dokuwiki/data/index/*
!/dokuwiki/data/index/.gitkeep
!/dokuwiki/data/pages
/dokuwiki/data/pages/*
!/dokuwiki/data/pages/.gitkeep
!/dokuwiki/data/meta
/dokuwiki/data/meta/*
!/dokuwiki/data/meta/.gitkeep
!/dokuwiki/data/attic
/dokuwiki/data/attic/*
!/dokuwiki/data/attic/.gitkeep
!/dokuwiki/data/media
/dokuwiki/data/media/*
!/dokuwiki/data/media/.gitkeep
!/dokuwiki/data/media_attic
/dokuwiki/data/media_attic/*
!/dokuwiki/data/media_attic/.gitkeep
!/dokuwiki/data/media_meta
/dokuwiki/data/media_meta/*
!/dokuwiki/data/media_meta/.gitkeep
!/dokuwiki/data/locks
/dokuwiki/data/locks/*
!/dokuwiki/data/locks/.gitkeep
!/dokuwiki/data/tmp
/dokuwiki/data/tmp/*
!/dokuwiki/data/tmp/.gitkeep
htdocs/exception.log
google*.html
htdocs/bw/cache/
htdocs/.htaccess
htdocs/update_status.txt
htdocs/revision.txt
htdocs/cache/
htdocs/styles/css/bewelcome.*
tools/testenv/images/status.csv
components/*
htdocs/js/*
htdocs/images/*
htdocs/css/*
cache/*

revision.txt
.buildpath
.project
.idea
.sass-cache

doc/
/node_modules/*
composer.phar
auth.json
/.vagrant/*
/db_dumps/*

/ansible/cert.crt
/ansible/key.pem
coverage/
phpmetrics.html
phpmetrics.xml
VERSION
htdocs/assets/
config/*.local.yml
.env
phploc.xml

/app/config/parameters.yml
/src/AppBundle/Resources/css/bewelcome.css
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assetic/
/web/bundles/
/web/build/
/web/css/
/web/js/

bewelcome.sql
bewelcome.sql.bz2

