dist: trusty

language: php

git:
  depth: 3

php:
  - '7.3'

addons:
  mariadb: '10.1'

env:
  - DB_HOST=127.0.0.1
  - APP_ENV=test

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm
    - $HOME/.nvm

before_install:
  - nvm install v8.4
  - nvm use v8.4
  - rvm install 2.2
  - gem install sass
  - phpenv config-rm xdebug.ini
  - sudo mysql -u root -e 'create database bewelcome;'
  - sudo mysql -u root -e "GRANT ALL PRIVILEGES ON bewelcome.* TO 'bewelcome'@'localhost' IDENTIFIED BY 'bewelcome';"
  - sudo mysql -u root -e 'FLUSH PRIVILEGES;'

install:
  - npm install
  - composer install --no-interaction --ignore-platform-reqs --no-scripts

script:
  - bin/console doctrine:schema:create
  - bin/console hautelook:fixtures:load --no-interaction
  - bin/console cache:clear
  - make version
  - make
  - make build
