default:
    suites:
        default:
            contexts:
                - 'App\Tests\Behat\DatabaseContext': ~
                - 'App\Tests\Behat\RefreshTokenContext': ~
                - 'App\Tests\Behat\SecurityContext': ~
                - 'Behat\MinkExtension\Context\MinkContext': ~
                - 'Behatch\Context\JsonContext': ~
                - 'Behatch\Context\RestContext': ~

    extensions:
        'Behat\MinkExtension':
            base_url: 'https://www.bewelcome.org/'
            files_path: 'features/assets/files'
            sessions:
                symfony:
                    symfony: ~
        'Behatch\Extension': ~
        'FriendsOfBehat\SymfonyExtension': ~

