# Copy to docker-compose.override.yml for local development (see Makefile install).
services:
  app:
    build:
      target: bewelcome_php_dev
    volumes:
      - .:/srv/bewelcome:rw,cached

  mailer:
    ports:
      - target: 80
        published: 1080
        protocol: tcp
