{
    "source": {
        "directories": [
            "src/Model"
        ]
    },
    "timeout": 20,
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
