parameters:
    level: 1
    paths:
        - src
        - tests
#        - build
    excludePaths:
        - vendor
        - var
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
        constantHassers: false
    doctrine:
        ormRepositoryClass: Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository
#    ignoreErrors:
#        # Ignore some legacy mixed type issues while migrating
#        - identifier: missingType.iterableValue
#        - identifier: missingType.generics

#includes:
#    - vendor/phpstan/phpstan-symfony/extension.neon
#    - vendor/phpstan/phpstan-doctrine/extension.neon
#    - vendor/phpstan/phpstan-mockery/extension.neon
