php_flag register_argc_argv off
  RewriteEngine On
  RewriteBase /travelbook/framework/htdocs/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.* index.php
