<?xml version="1.0" encoding="utf-8"?>
<module>
  <moduleName>old_bw_func</moduleName>
  <moduleVersion>0.0</moduleVersion>
  <moduleDescription>This module gather some useful function old BW functions</moduleDescription>
  <moduleFiles>
    <lib>
      <file class="MOD_old_bw_func">old_bw_func.lib.php</file>
    </lib>
  </moduleFiles>
</module>
