{% extends ':emails:email.html.twig' %}

{% block content %}
    {% trans with {'%username%': receiver.Username} %}Dear %username%,{% endtrans %}<br>
    <br>
    {{ 'Someone requested to reset you password. If that someone was you please click on the below to start the process to reset you password.' | trans }}<br>
    {{ 'Otherwise either just ignore this email or contact support at ' ~ path('feedback') ~ '.' | trans }}<br>
    <a href="{{ url('member_reset_password', { 'username': receiver.Username, 'key' : key }) }}">Reset Password</a><br>
    <br>
    Best regards,<br>
    The volunteers of BeWelcome
{% endblock %}