/* Thread view */
div.forumspost { 
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #f5f5f5;
	width:100%; 
	position:relative; 
	overflow:hidden;
	padding:5px;
	margin-bottom: 7px;
	float:right; 
} 
div.forumsavatar {
	width:80px;
	position:relative;
	height:80px;
	margin:.5em auto;
}
div.forumsauthorname {
	font-weight: bold;
	font-size: 1.1em;
}
div.forumsauthor {
	padding:1em 0 0 0;
	width:18%;
	float:left;
	text-align:center;
}
div.forumsmessage {
	padding:0 0 5px 0;
	float:right; 
	width:77%; 
	position:relative;
}
p.forumstime {
	font-style:italic;
	color:#333;
	border-bottom: 1px dotted #CCC;
}
div#forumsthreadreplytop {
	width:100%;
	text-align:right;
}
div#forumsthreadreplybottom {
	width:100%;
	text-align:right;
}


/* Board View */
table.forumsboardthreads {
	width:100%;
}
td.forumsboardthreadtitle {
	font-weight: bold;
	width: 60%;
}
td.forumsboardthreadreplies {
	font-size: 0.9em;
	text-align: center;
}
td.forumsboardthreadauthor {
	font-size: 0.9em;
	text-align: center;
}
td.forumsboardthreadviews {
	font-size: 0.9em;
	text-align: center;
}
td.forumsboardthreadlastpost {
	font-size: 0.9em;
	width: 20%;
	white-space:nowrap;
}
div#forumsboardselect {
	border: 1px solid #0394C3;
	padding: 5px 5px 5px 5px;
}
span.forumsboardthreadtags {
	font-size: 0.7em;
	font-weight: normal;
}
span.forumsboardnavichain {
	font-size: 0.5em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
div#boardnewtopictop {
	width: 100%;
	text-align: right;
	margin-bottom: 10px;
	margin-top: 0px;
}
div#boardnewtopicbottom {
	width: 100%;
	text-align: right;
	margin-top: 5px;
}
span.forumsthreadtags {
	font-size: 0.5em;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

div.forums_subtitle {
	font-weight: bold;
	border-top: 3px solid #0394C3;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.3em;
	letter-spacing: -0.05em;
	color: #888;
	padding-top: 20px;
}

span.forums_tag_description {
	font-size: 0.7em;
}

div#forums_introduction {
	
}

div#boardfoundtopics {
	font-weight: bold;
	border-top: 1px solid #0394C3;
	margin-top: 40px;
}

h2#forums_reply_title_lastposts {
	margin-top: 40px;
}

/* NEW by Lupochen */

/* Forum stuff */
#main table.forumsboardthreads td {
	padding: 8px;
}

#main tr.highlight td {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
}
div.forums_subtitle {
	font-weight: bold;
	border-top: 0;
	margin-top: 0;
}
span.forumsboardthreadtags a {
	font-size: 11px;
	font-weight: normal;
	color: #000;
}
span.forumsthreadtags a {
	font-size: 11px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #000;
}
span.forums_tag_description {
	font-size: 11px;	
	line-height: .5em;
}
ul.category {

}
ul.category a {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: -1px;
	padding:0;
			margin:0;	
}
div.row h3 {
	margin-bottom: 15px;
	
}
table.row td {
	margin-bottom: 15px;
	
}
div.tags a {
	font-size: 11px;
}
