@charset "UTF-8";
@media all

{

#h{background:#FFF;padding:.5em;position:relative}
#h h1{margin:0}

.l{float:left}
.r{float:right}
.clear{clear:both}
.notify{color:#ED810D}
.hidden{display:none}
.small{font-size:.8em;color:#888}

/*
div.box{border:1px solid #CCC;background:#FFF url(../images/page/bggrey.png) repeat-x top left;padding:.5em;margin-bottom:1em; height:80px;}

div.box h2{font-size:1.2em;margin:.5em 0 .5em 0}
*/

form.def-form div.row{margin:0 0 1em 0}
form.def-form label{font-weight:bold;color:#666}
form.def-form p.desc{font-size:.8em;color:#888;margin:0}
form.def-form div.statbtn{display:inline;margin:0 1em 0 0}



div.stretch{width:100%;text-align:center;margin:0 0 1em 0}

table.calmonth{border-collapse:collapse;border:4px solid #0394C3;font-size:.8em}
table.calmonth thead{background:#0394C3}
table.calmonth th{color:#FFF}
table.calmonth tbody{background:#FFF}
table.calmonth td{text-align:center;padding:.2em}
table.calmonth td a{color:#000}
table.calmonth td.today a{color:#FFF;font-weight:bold}
table.calmonth td.isowk{border-right:1px solid #000}
table.calmonth td.today{background:#0394C3}

div.acal{background:#FFF;border:1px solid #CCC;width:15em}

div.vert-infobar h2{position:absolute;top:0}
div.vert-infobar p{margin:2em 0 0 0;text-indent:2em;color:#aaa;font-size:80%}


/* not sure if we need this anymore - TO BE TESTED (matthias) */
/* We NEED it for the tabbed fieldset-menu to work. If we change it, we have to find another solution in terms of design (lupochen) */
div.fieldset-menu{
    margin:0 1em 1em 0;
}
fieldset{
    padding:0 1em 0 1em;
}
div.fieldset-menu ul{
    margin: 0;
    padding:0;
    list-style-type:none;
    border-bottom: 1px solid #ccc;
}
div.fieldset-menu li{
    padding-left:1em;
    padding-right:1em;
    padding-top: 0.25em;
    padding-bottom: 0.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display:inline;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 2em;
    background-color: #eee;
}
div.fieldset-menu li.active {
    border-bottom: 1px solid white;
    font-weight: bold;
    background-color: #fff;
}
div.fieldset-menu li a{
    color: #333;
}
div.fieldset-menu li a:hover{
    color: #333;
}
div.fieldset-menu li.active a {
    color: #333;
}


/* Gallery Image float + smaller heading */
div.thumb{margin:0 0 1em 0; width: 48%; float:left;}
div.img img.framed {margin:0 1em 0 0; float:left; min-width: 0; max-height: 0;}
div.img img.big{margin:0 1em 0 0; float:left; min-width:0; max-height: 0;}
div.img .small img{margin:0 1em 0 0; border:none; float:left; min-width: 5px; max-height: auto;}

#col3_content div.info div.img h3 {
font-size:1em;
margin:0 0 .5em 0;}

div.user{clear:left}
div.user img.l{margin:0 1em 0 0}

v\:* {
  behavior:url(#default#VML);
}

}
