<div class="card o-card mb-3">
    <a name="gallery"></a>
    <h3 class="card-header profile-bg2">
        <i class="fa fa-street-view"></i><span class="icontext">Contact info</span>
        {% if member.id == app.user.id %}
            <a href="{{ path('member/edit') }}" class="btn btn-sm btn-edit float-right"><span class="fa fa-pencil btn-edit-animation small pr-2"></span>edit</a>
        {% endif %}
    </h3>
    <div class="card-block">
        Contact info
    </div>
</div>