<div class="card o-card mb-3">
    <a name="languages"></a>
    <h3 class="card-header profile-bg2">
        <i class="fa fa-language"></i><span class="icontext">Languages</span>
        {% if member.id == app.user.id %}
            <a href="{{ path('member/edit') }}" class="btn btn-sm btn-primary float-right">edit</a>
        {% endif %}
    </h3>
    <div class="card-block">
        {% for language in member.languages %}
            {# TODO translate Level enum to: Mother tongue / Fluent / Advanced / Basic / Couple of words #}
            <p class="m-b-0">{{ language.EnglishName }} <span class="badge badge-default float-right">{{ language.pivot.Level | trans }}</span></p>
        {% endfor %}
    </div>
</div>
