<?xml version="1.0" encoding="utf-8"?>
<module>
  <moduleName>user</moduleName>
  <moduleVersion>0.0</moduleVersion>
  <moduleDescription>User handling</moduleDescription>
  <moduleFiles>
    <lib>
      <file class="MOD_user">user.lib.php</file>
      <file class="MOD_user_Auth">auth.lib.php</file>
      <file class="MOD_bw_user_Auth">bwauth.lib.php</file>
      <file class="MOD_right">right.lib.php</file>
      <file class="MOD_member">member.lib.php</file>
    </lib>
  </moduleFiles>
</module>
