{% extends '@base/base.html.twig' %}

{% block content %}
    <div class="container" style="padding: 50px 15px 0px;">


        <!-- #main: content begins here -->
        <div id="main">

            <div class="bw-row" style="width: 100%; min-height: 130px; padding: 1em; background-color: #EEEEEE; border: 3px solid #FFFFFF; box-shadow: 0 0 1px #888888;">
                <div id="avatar" class="col-xs-2"><a href="members/member-101" title="See profile member-101" ><img height="100" width="100" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a><span style="position:relative; left: -20px; top: 40px;"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></span></div>
                <div id="welcometext" class="col-xs-7"><span style="font-size: 2.4em; font-weight: 900;">Welcome back, %username!</span><br /><span style="font-size: 1.2em; font-weight: bold;">You're currently in <a href="#">Lyon</a>, your hosting status is <a href="#">yes</a></span></div>
                <div class="col-xs-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Where do you want to go?">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-star"></span> Go</button>
			      </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <!-- #two-boxes: messages and website activity -->
            <div id="two-boxes" class="row">

                <div id="messagecontainer" class="col-xs-6">
                    <!-- messages tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages received [2]</a></li>
                        <li role="presentation"><a href="#sent" aria-controls="sent" role="tab" data-toggle="tab">Sent messages</a></li>
                    </ul>

                    <div id="borderbox" style="border: 0.3em solid #FFF; overflow: hidden; box-shadow: 0 0 2px #888;">
                        <div class="tab-content">

                            <!-- messages content div -->
                            <div role="tabpanel" class="tab-pane active" id="messages">

                                <div id="message1" class="row" style="background-color: #FFF; padding: 1em;">
                                    <div id="sender1" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                    <div id="type1" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                    <div id="text1" class="col-xs-8"><span>Here's the text of message #1</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                    <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                </div>

                                <div id="message2" class="row" style="background-color: #EEE; padding: 1em;">
                                    <div id="sender2" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                    <div id="type2" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                    <div id="text2" class="col-xs-8"><span>Here's the text of message #2</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                    <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                </div>

                                <div id="message3" class="row" style="background-color: #FFF; padding: 1em;">
                                    <div id="sender3" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                    <div id="type3" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                    <div id="text3" class="col-xs-8"><span>Here's the text of message #1</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                    <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                </div>

                                <div id="message4" class="row" style="background-color: #EEE; padding: 1em;">
                                    <div id="sender4" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                    <div id="type4" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                    <div id="text4" class="col-xs-8"><span>Here's the text of message #2</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                    <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                </div>

                            </div>

                            <!-- sent messages content div -->
                            <div role="tabpanel" class="tab-pane" id="sent">
                                sent
                            </div>
                        </div>
                        <div id="messagebottom" style="height: 5em; background-color: #FFF; text-align: center; padding: 1em 0;">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><a href="#mygroups"><span class="glyphicons glyphicons-search">?</span> Search my messages</a></button>
                                <button type="button" class="btn btn-default"><a href="#subscriptions"> <span class="glyphicons glyphicons-inbox">?</span> My inbox</span></a></button>
                            </div>
                        </div>

                    </div>
                </div>


                <div id="newsforumcontainer" class="col-xs-6">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News [1]</a></li>
                        <li role="presentation" class="active"><a href="#forum" aria-controls="news" role="tab" data-toggle="tab">Forum [2]</a></li>
                        <li role="presentation"><a href="#activities" aria-controls="news" role="tab" data-toggle="tab">Activities</a></li>
                    </ul>

                    <div class="tab-content" style="border: 0.3em solid #FFF; overflow: hidden; box-shadow: 0 0 2px #888;">

                        <!-- news content div -->
                        <div role="tabpanel" class="tab-pane" id="news">
                            NEWS
                        </div>

                        <!-- discussion content div -->
                        <div role="tabpanel" class="tab-pane active" id="forum">

                            <!-- discussion settings -->
                            <div id="settings" class="row" style="background-color: #FFF; padding: 1em;">
                                <span class="col-xs-4">Show messages of:</span>
                                <div class="btn-group col-xs-8" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="checkbox" autocomplete="off" checked> groups
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="checkbox" autocomplete="off"> forum
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="checkbox" autocomplete="off"> threads I'm following
                                    </label>
                                </div>
                            </div>

                            <div id="discussion1" class="row" style="background-color: #EEE; padding: 1em;">
                                <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                <div id="text" class="col-xs-9"><span>Discussion #1<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                            </div>

                            <div id="discussion2" class="row" style="background-color: #FFF; padding: 1em;">
                                <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                <div id="text" class="col-xs-9"><span>Discussion #2<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                            </div>

                            <div id="discussion3" class="row" style="background-color: #EEE; padding: 1em;">
                                <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                <div id="text" class="col-xs-9"><span>Discussion #3<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                            </div>

                            <div id="discussion4" class="row" style="background-color: #FFF; padding: 1em;">
                                <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                <div id="text" class="col-xs-9"><span>Discussion #4<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                            </div>

                            <div id="messagebottom" style="background-color: #FFF; text-align: center; padding: 1em;">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default"><a href="#alldiscussions"><span class="glyphicons glyphicons-group">?</span> View forum</a></button>
                                    <button type="button" class="btn btn-default"><a href="#mygroups"><span class="glyphicons glyphicons-search">?</span>Search discussions</a></button>
                                    <button type="button" class="btn btn-default"><a href="#subscriptions"> <span class="glyphicon glyphicon-check">My subscriptions</span></a></button>
                                </div>
                            </div>

                        </div>

                        <!-- activities content div -->
                        <div role="tabpanel" class="tab-pane" id="activities">
                            Activities
                        </div>
                    </div>
                </div>
            </div>


            <!-- #widgets: 4 columns with additional info -->
            <div id="widgets" class="row">

                <div id="beinvolved" class="col-xs-4" style="background-color: #FFF; box-shadow: 0 0 2px #888888;">
                    <span>Be Involved</span>
                    <span>Help the community</span>
                    <!--
                    <span>BeWelcome is run by volunteers - free of charge and open source. Volunteering for the project is a great opportunity for you to get to know enthusiastic people who really believe in promoting hospitality and respect for each other. And it's fun, too!<span>
                    <span class="glyphicons glyphicons-sheriffs-star">?</span>Help BeWelcome
                    <span class="glyphicons glyphicons-euro">€</span><span class="glyphicons glyphicons-usd">?</span><span class="glyphicons glyphicons-gbp">?</span>Donate
                    -->
                </div>

                <div id="next" class="col-xs-3" style="background-color: #FFF; box-shadow: 0 0 2px #888888;">
                    <span>Next visitors</span>
                    <span>in your area</span>
                    <!--
                    <div id="nextmember1">
                        member1
                    </div>
                    <div id="nextmember2">
                        member2
                    </div>

                <div><a href="#viewmore"><img height="20" width="80" src="members/avatar/member-101?50_50" alt="Mygroups" /></a></div>
                <div><a href="#findaguest"><img height="20" width="80" src="members/avatar/member-101?50_50" alt="Mygroups" /></a></div>
                -->
                </div>

                <div id="recent" class="col-xs-3" style="background-color: #FFF; box-shadow: 0 0 2px #888888;">
                    <span>Recent visitors</span>
                    <span>of your profile</span>
                    <!--
                        <div id="memberprofile">
                            lastvisitor1
                        </div>

                        <div id="memberprofile">
                            lastvisitor2
                        </div>

                        <div id="memberprofile">
                            lastvisitor3
                        </div>

                    <div><a href="#viewmore"><img height="20" width="80" src="members/avatar/member-101?50_50" alt="Mygroups" /></a></div>
                    <div><a href="#findaguest"><img height="20" width="80" src="members/avatar/member-101?50_50" alt="Mygroups" /></a></div>
                    -->
                </div>

                <div id="beinformed" class="col-xs-2" style="background-color: #FFF; box-shadow: 0 0 2px #888888;">
                    <span>Be Informed</span>
                    <span>Transparency</span>
                    <!--
                    <span><a href="#viewmore"><img style="margin: 0.6em;" height="20" width="20" src="members/avatar/member-101?50_50" alt="Mygroups" /><br />Text</a></span>
                    <span><a href="#viewmore"><img style="margin: 0.6em;" height="20" width="20" src="members/avatar/member-101?50_50" alt="Mygroups" /><br />Text</a></span>
                    <span><a href="#viewmore"><img style="margin: 0.6em;" height="20" width="20" src="members/avatar/member-101?50_50" alt="Mygroups" /><br />Text</a></span>
                    <span><a href="#viewmore"><img style="margin: 0.6em;" height="20" width="20" src="members/avatar/member-101?50_50" alt="Mygroups" /><br />Text</a></span>
                    -->
                </div>

            </div><!-- end of #widgets -->


        </div> <!-- main -->
    </div> <!-- container -->
{% endblock content %}
