{% import 'macros.twig' as macros %}
<div class="col-12 col-lg-2" id="welcomeavatar">
    <div>
        {{ macros.avatar( my_member.Username, 100, true) }}
    </div>
    <div class="align-self-start hoststatus">
        <img src="/images/icons/{{ member.Accommodation }}.png">
    </div>
</div>