<?xml version="1.0" encoding="utf-8"?>
<module>
  <moduleName>i18n</moduleName>
  <moduleVersion>0.0</moduleVersion>
  <moduleDescription>Internationalization</moduleDescription>
  <moduleFiles>
    <lib>
      <file class="MOD_words">words.lib.php</file>
      <file class="MOD_bw_memcache">bw_memcache.lib.php</file>
      <file class="MOD_i18n">i18n.lib.php</file>
      <file class="DatabaseLoader">DatabaseLoader.php</file>
    </lib>
  </moduleFiles>
</module>
