.prototip .default {
  width: 150px;
  color: #fff;
  }
.prototip .default .toolbar {
  background: #e5e5e5;
  font: italic 17px Georgia, serif;
  }
.prototip .default .title { padding: 5px; }
.prototip .default .content { 
  background: #f5f5f5;
  font: 11px Arial, Helvetica, sans-serif;
  padding: 5px;
  }