<?xml version="1.0" encoding="utf-8"?>
<module>
  <moduleName>images</moduleName>
  <moduleVersion>0.0</moduleVersion>
  <moduleDescription>Image handling</moduleDescription>
  <moduleFiles>
    <lib>
      <file class="MOD_images_Image">image.lib.php</file>
    </lib>
  </moduleFiles>
</module>
