
/* ###########################################
** ### Menus #################################
** ###########################################
*/

#header #topnav {
	white-space: nowrap;
}
/*
#header #topnav ul{ 
	width: 60%;
} */
#header #topnav li { 
	font-size: 11px;
	display: inline;
	height: 46px;
	margin-left: 2px;
	padding: 8px 10px 6px 12px;
}
#header #topnav li a {color: #999999;}
#header #topnav img  {padding: 0 4px 0 0;	vertical-align:middle;}
#header #topnav #logo  {margin-right: 50px; margin-bottom: 0}

#language_select {
 /* color: #fff; */
  font-size: 11px;
  float: left; 
  color: #999999;
  padding-right: 3em;
}

#language_select select, #language_select option{
  font-size: 11px;
}

#form-quicksearch {
	/*display: inline;
	height: 25px;
	padding: 10px 15px; */
  float: right;
  color: #fff;
}
#nav_flowright #form-quicksearch a{
  font-size: 11px;
  color: #fff;
  padding: 0 1em;
}

#form-quicksearch #text-field {  
	border: 1px solid #ccc;
	font-size: 1.2em;
	padding: 0;
}

#form-quicksearch #submit-button {
	vertical-align: middle;
	
}

/* ######################################################################################################
** ### OLD MAIN NAV:  ######################################
** ######################################################################################################
*/

#nav_main {
	width:100%;
	float:left;
	color: #000;
/*  background: url("images/bg.gif") repeat-x bottom;	*/
	height: 25px;
	line-height: 25px;
	margin: 0;
	white-space: nowrap;
    
}
#nav_main ul {
    float:left;
    margin-top: 14px;
}
#nav_main li {
	float: left;
	display: block;
	margin-left: 0px;
	text-align: center;

}
#nav_main li a {
	color : #fff;
    font-weight: bold;
	text-decoration: none;
	font-size: 16px;
    letter-spacing: -0.05em;
	display: block;
	display: inline-block; /* IE 7 */
	border:none;
	height: 25px;
	line-height: 25px;
}
/*\*/
 * html #nav_main li a {
     width: 10px; /* IE */
 }
 /**/
 

#nav_main li a:hover, #nav_main li a:active {
	color: #eee;
}
#nav_main li a span {
	display: block;
	padding: 0 15px;

}

/* Active Menu-items */
#nav_main li.active a {
	color: #ffffff;
	font-weight: bold;
}
#nav_main li.active a:hover, #nav_main li.active a:active {
	color: #ffffff;
}
#nav_main li.active a span {
}
#nav_main li.active a:hover span, #nav_main li.active a:active span {
} 
