{% extends '@base/base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xs-9">
            {% include stepTemplate %}
        </div>

        <div class="clearfix hidden-sm-up"></div>

        <div class="col-xs-3">
            {% include '@start/tour/steps.html.twig' %}
        </div>
    </div>

{% endblock %}
