@charset "UTF-8";

@media all
{
  /**
   * FAQ-pages
   *
   */

    .faq ul {
        margin-bottom: 2em;
    }

    .faq li {
        padding: 0.7em 0;
        border-bottom: 1px solid #eee;
    }

    .faq li a{
        font-size: 1.3em;
        line-height: 1.5em;
        font-weight: bold;
    }
    
   .faq li a.selected{
        color: #333;
    }
    
   .faq li a.selected:hover{
        text-decoration:none;
    }
    
    .bullet li {
        padding: 0.3em 0;
    }

    .faq_text {
        color: #333;
    }

    #faqs { margin: 0;}
    #faqs dt, #faqs dd { padding: 0 0 0 20px }
    #faqs dt { font-size:1.2em;  cursor: pointer; margin: 0 0 15px 25px;}
    #faqs dt:before {
        content: '\f055' /*fontawesome char code inside the ''*/;
        font-family: FontAwesome; /* or whatever */
        color: #9d9d9d;
        display: inline-block;
        margin-left: -25px; /*same as padding-left set on li*/
        width: 25px; /*same as padding-left set on li*/
    }
    #faqs dd { font-size: 1em; margin: 0 0 20px 25px}
    #faqs dt.expanded:before {
        content: '\f056' /*fontawesome char code inside the ''*/;
        font-family: FontAwesome; /* or whatever */
        color: #9d9d9d;
        display: inline-block;
        margin-left: -25px; /*same as padding-left set on li*/
        width: 25px; /*same as padding-left set on li*/
    }
}
