/*
*  Show only column 3 for index page
*
*/
@media all


#teaser {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: none;
}

h1.slogan {
    font-size: 3em;
    padding-top: 0;
    padding-bottom: 0.2em;
    font-weight: bold;
}
p.sub-slogan {
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.5em;
    letter-spacing: 0;
}
.page-teaser {
    border:none;
}
#teaser .photodesc a{
    color: #bbb;
    font-weight: normal;
}
