
/* ######################################################################################################
** ### YAML Customizing for BW | File 1 ##################################################################
** ######################################################################################################
*/

/* #################################################################
** ### This is a modification on our layout CSS. We remove the left column and make the one in the middle wider #####
** #################################################################
*/

#map { 
	height: 400px; 
	width: 99%;
	border: 1px solid #333;
	z-index: 1;
}

div.anytime-marker-icon{
	background-image: url('/images/icons/gicon1_a.png');
}

div.maybe-marker-icon{
	background-image: url('/images/icons/gicon2_a.png');
}

div.neverask-marker-icon{
	background-image: url('/images/icons/gicon3_a.png');
}

div.leaflet-marker-icon{
	text-align:center; 
	padding-right: 5px;
	color:white; 
	line-height:22px; 
	font-size:12px;
	font-weight: bold;
	width: 21px !important;
	height: 21px !important;	
}
				
.highlighted-member-detail{background-color: #bccba4;}

.highlighted-leaflet-marker-icon{border-width: 5px;border-style:dotted;}

a.profileLink{cursor: pointer}
/* .profileLinkArea:hover{background-color: #bccba4;} */
a:hover{text-decoration: none}

div.leaflet-popup-content {
    margin: 10px;
}
div.leaflet-popup-content div.avatar {
    margin: 0 5px 5px 0;
    float: left;
}
div.leaflet-popup-content div.details {
    color: #777;
    font-size: 0.9em;
    margin-left: 50px;
    width: 200px;
}
div.leaflet-popup-content div.summary {
    clear: both;
    color: #777;
    font-size: 0.9em;
    line-height: 1.5em;
    max-height:10.5em;
    overflow: hidden;
    width: 250px;
}
div.leaflet-popup-content div.zoom-buttons {
    font-size: 0.75em;
    margin-top: 5px;
}

#map div.leaflet-control-attribution {color: #555;font-size:9px}
.leaflet-container .leaflet-control-attribution a{color: #555; font-weight:bold}
.leaflet-container .leaflet-control-attribution a:hover{color: #0078A8}
#mapBoundariesSearchButton{
    background: url(../../images/button_bg.png);
	position: absolute;
	top: 15px;
	left: 400px;
	z-index: 10;
}

@media all
{

#teaser { margin-bottom: 0.5em;}

#main #col3 #col3_content .full,#main #col3 #col3_content .full .info{
    padding: 0 0 0 0;
    border: none;
}

#main #nextmap{
    height: 400px;
    overflow: auto;
    z-index: 1;
}

#main #nextmap div.highlight{
    margin: 0;
}
#help_and_markers {
    padding: 1em 0;
}

div.markerLabel {
    display: block;
    padding-top: 9px;
}

div.markerLabel,
#sidebar ul#sidebar-list li div.label {
    text-align: center;
    color: white;
    width: 32px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}
div.markerLabelList {
    width: 22px; 
    height: 22px; 
    text-align: center; 
    color: white; 
    font-size: 12px; 
    font-weight: bold; 
    margin: 5px 0;
    padding: 0;
}

td.accommodation { padding-right: 1em; }


div.anytime { background: transparent url(../../../../../images/icons/gicon1_a.png) bottom left no-repeat; }
div.dependonrequest { background: transparent url(../../../../../images/icons/gicon2_a.png) bottom left no-repeat; }
div.neverask { background: transparent url(../../../../../images/icons/gicon3_a.png) bottom left no-repeat; }
div.markerLabelList a,div.markerLabelList a:hover,div.markerLabelList a:focus{
    display: block;
    color: #fff;
    background: transparent;
    padding: 3px;
    font-size: 12px; 
}
#searchteaser {width: 100%;}

#searchmore {margin-left: 2em;}

#searchoptions {margin-top: 1em;}

#changethisorder {display: inline;}

#loading {margin-left: 1em; }

#searchstatus {
    height: 4.5em;
}

#SearchAdvanced {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-bottom: 2em;
}
img.legend_icon {
    padding-left: .5em;
}


}
