/*
* rules for signuppage
* templates/apps/signup/registerform.php
*/

#main td.info {padding-left: 30px}
#teaser { margin-bottom: 0;}
#signuprox {width: 100%;}
#signuprox fieldset {margin-bottom: 0.5em; padding: .5em 1em;}
#signuprox legend { margin-left:0 !important; }
#signuprox label {width: 10em; clear: left; float: left; padding-left: 0.3em; }
#signuprox input {margin-bottom: 0.5em; margin-right: 0.5em;}
#signuprox textarea {width: 30em; height: 10em; margin-bottom: 0.8em;}
#signuprox select { margin-top: 0.2em; margin-right: 0.3em;}
/* #signuprox ul li{ margin-bottom: 2em; margin-top: 1em; }  */

#signuprox #map {width: 200px; min-height: 200px; height: 200px; border: 1px solid; margin: 1em; }

#signuprox p { padding-bottom: 1em; }
#signuprox p.entered { font-weight: normal; font-size: 1.4em; color: #999;}
#signuprox p.desc{font-size:11px;color:#888;margin:0}
#signuprox .signup-row { text-align: left; padding: 15px 0 15px 0; }
#signuprox .signup-row-thin { text-align: left; padding: 0; margin: 1em;}
#signuprox .checkbox input { padding: 2px; width: auto; border: 0;}
#signuprox .input_float li{ width: 16em; float:left; }
#signuprox .input_float input{ width: 13em; float:left; }
#signuprox .input_float li.number  { width: 6em; float:left; }
#signuprox .input_float .number input { padding: 2px; width: 3em; float:left; margin-right: 0.3em;}
#signuprox .small { font-size: 0.9em; color: #888;}
#signuprox .error {font-size: 11px; clear:both; width: 95%; }
#signuprox2 .statbtn {padding: 5px; float:left;}
#signuprox2 a.back {color: #888}
#signuprox2 .sweet { width:0; height: 0; display: inline; }
#signuprox2 .sweet {display: none;}
#signuprox2 .form-control-feedback-location {right: 100px;}
#signuprox2 ol.plain-location {padding-left: 0px;}
#signuprox2 li.hidden-location {display: none;}
#signuprox2 #spaf_map{ position: relative; display: block;}
#signuprox2 #spaf_map span{ display: none;}
#signuprox2 #spaf_map label span{ display: inline;}
#signuprox2 ol li{ margin-right: 1em; padding:5px; border-top: 1px solid #e5e5e5; width: 22em; float:left; background: center no-repeat; background-position: 250px}