@media all
{
/* modification for trip pages */

div.infobox {
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  margin: 2em 0;
  padding: 1em 2em;
}
div.infobox h1,div.infobox h2,div.infobox h3{
  font-size: 1.2em;
}
div.infobox p{
  font-size: 11px;
}

div.trip_heading {
  margin: 2em 0;
}

div.tripitem {
  border: 1px solid #0394C3;
  margin: 10px 5px 10px 5px;
  padding: 5px 5px 5px 5px;
}

#triplist {
      margin:0;
      margin-top:10px;
      padding:0;
      list-style-type: none;
}
#triplist li {
      margin:0;
      margin-bottom:4px;
      padding:15px;
      line-height: 1.5em;
}
#triplist li.edit {
      border: 1px dotted #0394C3;
	  background-color: #ffffff;
}
#triplist li:hover.edit {
      border: 1px solid #0394C3;
	  background-color: #ffffff;
}
#triplist li h3 {
      border: none;
}
.trip_map {
    width: 100%; 
    height: 200px; 
    border-top: 2px solid #333; 
    border-bottom: 10px solid #333;
}

.trip_title {
  margin-bottom: 0px;
}
.trip_title a {
  color: #333;
}
.trip_author, .trip_author a {
  color:#aaa;
  margin:0 0 1em 0
}
.trip_author .trip_daterange {
  color:#333;
}
.trip_flag {
  background: transparent url(../../images/flag_big.gif) no-repeat top left;
  width: 80px;
  height: 60px;
  padding: .4em .7em;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

#searchteaser form {
    border: none;
	padding: 0.8em 0 1em 0;
}

#main #col3 h2.trip_date, .trip_date {
    text-align: right;
    color: #888888;
    padding: .4em .4em .4em .4em;
}
#map_alltrips {
    border: 1px solid #ccc;
	background-color: #ffffff;
	padding: 2px;
}
#map {
    border: none;
	height: 250px;
}
.tripmap {
	width: 100%;
	height: 295px;
}
#onmap {
    position: relative; 
    z-index: 100; 
    top: 160px; 
    left: 0; 
    margin-bottom: -100px; 
    height: 100px;
    float: left;
}
#onmap_right{
    position: relative; 
    z-index: 100; 
    top: 100px; 
    left: 30px; 
    margin-bottom: -100px; 
    height: 100px;
    float: right;
}
#onmap #trip_name,#onmap_right #trip_name a {
    margin-bottom: 4px;
}
#onmap #trip_name a,#onmap_right #trip_name a{
    display: inline;
    background-color: #000; 
    padding: 5px 5px 5px 10px; 
    color: #fff; 
    opacity: 0.8;
}
#onmap .trip_author {
    display: inline;
    background-color: #000; 
    padding: 10px 10px 10px 10px; 
    color: #fff; 
    opacity: 0.8; 
    margin-top: 10px;
    margin-bottom: 10px;
	line-height: 2.5em;
}


div.markerLabel {
	display: block;
	padding-top: 9px;
}

div.markerLabel,
#sidebar ul#sidebar-list li div.label {
	text-align: left;
	color: white;
	font-size: 12px;
	font-family: Arial;
    font-weight: bold;
    padding-left: 10px;
}
div.markerLabel span{
	color: #fff;
	font-size: 11px;
    background-color: #333;
    opacity: 0.8;
    padding: 1px 2px;
    position:relative;
    top: 10px;
}
div.markerLabelList {
    width: 22px; 
    height: 22px; 
    text-align: center; 
    color: white; 
    font-size: 12px; 
    font-weight: bold; 
    margin: 5px 0;
    padding: 0;
}
div.listmarker { background: transparent url(../../../../images/icons/gicon2_a.png) bottom left no-repeat; }
div.markerLabelList a,div.markerLabelList a:hover,div.markerLabelList a:focus{
    display: block;
    color: #fff;
    background: transparent;
    padding: 3px;
    font-size: 12px; 
}

/*
** Calendar icons
*/

.calendar {
  float: left;
  margin-right: 6px;
  width: 42px;
  height: 42px;
  background: url('../../../../../images/icons/calendar_sprites_own.gif');
}

.calendar-icon-01 {
  background-position: 0 0;
}
.calendar-icon-02 {
  background-position: -52px 0;
}
.calendar-icon-03 {
  background-position: -104px 0;
}
.calendar-icon-04 {
  background-position: -156px 0;
}
.calendar-icon-05 {
  background-position: 0 -52px;
}
.calendar-icon-06 {
  background-position: -52px -52px;
}
.calendar-icon-07 {
  background-position: -104px -52px;
}
.calendar-icon-08 {
  background-position: -156px -52px;
}
.calendar-icon-09 {
  background-position: 0 -104px;
}
.calendar-icon-10 {
  background-position: -52px -104px;
}
.calendar-icon-11 {
  background-position: -104px -104px;
}
.calendar-icon-12 {
  background-position: -156px -104px;
} 
.calendar-day {
  font-weight: bold;
  font-size: 1.3em;
  color: #000;
  width: 42px;
  text-align:center;
  padding-top: 18px;
}
.calendar-year {
  font-weight: bold;
  font-size: .8em;
  color: #999;
  width: 42px;
  text-align:center;
  padding-top: 10px;
}

    #trips-map {
        height: 300px;
        width: 100%;
    }
    #trips-data{
        display: none;
    }

    /*
    *  custom styles for trips in Internet Explorer
    *
    */

    .marker-cluster-unique {
        /* hack for browsers without standard alpha support */
        background-color: #b9b6d4;
        background-color: rgba(146, 144, 200, 0.6);
    }

    .marker-cluster-unique div {
        /* hack for browsers without standard alpha support */
        background-color: #989acc;
        background-color: rgba(146, 144, 200, 0.6);
    }

    .leaflet-popup-content h4{
        margin: 0;
    }

    .leaflet-popup-content p.date-start{
        margin: 0;
    }

    .leaflet-popup-content .date-start{
        font-size: 75%;
    }

    .leaflet-popup-content .address{
        font-size: 75%;
    }



}
