{% extends 'emails/email.html.twig' %}

{% block content %}
    <p>
        {{ 'group.admin.approved'|trans({'admin': admin.Username, 'group': '<a href="' ~ url('group_start', { 'group_id': group.id}) ~ '">' ~ group.Name ~ '</a>'})|raw }}
    </p>
{% endblock content %}
