{% extends 'emails/email.html.twig' %}

{% block content %}
    <p>
        {{ 'group.declined.invitation'|trans({'username': invitee.Username, 'groupname': '<a href="' ~ url('group_start', {'groupId': group.id}) ~ '">' ~ group.Name ~ '</a>'}) }}
    </p>
{% endblock content %}
