<div id="messageCount" data-count="{{ messageCount }}">
    <a href="{{ path('messages') }}" class="nav-link"><i class="fa fa-lg fa-envelope"></i><span
                class="badge badge-warning d-md-none d-xl-inline-block mx-1">{{ messageCount }}</span></a>
</div>