<div id="messageCount" data-count="{{ messageCount }}">
    <a href="{{ path('conversations', {'messages': 1, 'unread_only': 1}) }}" class="nav-link" aria-label="{{ 'messages.unread' | trans }}">
        <i class="fa fa-lg fa-envelope pr-1"></i><span
                class="badge badge-warning d-md-none d-xl-inline-block">{{ messageCount }}</span>
    </a>
</div>
