<div id="messageCount" data-count="{{ messageCount }}">
    <a href="{{ path('messages') }}" class="nav-link">
        <i class="fa fa-lg fa-envelope"></i>&nbsp;
        <span class="badge badge-warning d-md-none d-xl-inline-block">{{ messageCount }}</span>
    </a>
</div>