<div id="requestCount" data-count="{{ requestCount }}">
    <a href="{{ path('requests') }}" class="nav-link">
        <i class="fa fa-lg fa-bed" style="padding-right: .25rem;"></i><span
                class="badge badge-warning d-md-none d-xl-inline-block">{{ requestCount }}</span>
    </a>
</div>