{% extends 'base.html.twig' %}

{% block content %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="btn btn-primary">{{ 'Reply' | trans }}</button>
    {{ form_end(form) }}

    {% include ':message:thread.html.twig' %}

{% endblock content %}
