{% extends 'base.html.twig' %}

{% block content %}
{% include ':message:thread.html.twig' %}
<div class="row justify-content-end"><a class="btn btn-primary" href="{{ path('message_reply', { id: thread[0].id }) }}">{{ 'Reply' | trans }}</a></div>
{% endblock content %}
