/*
*  custom styles for activities
*
*/
@media all
{
.back { color: #888888;}
.yform div.type-button {padding: 3px 0.5em;}
.abitright {padding-left: 15px;}
.abitlower {padding-top: 0.4em;}
.yform label {padding-bottom: 0.12em;}
.activitieslist {width: 100%;}
.activitieslist tr a {}
#activitiesMap { 
    height: 300px; 
    width: 100%;
}
li.picbox_activities {
    padding: 7px 7px 7px 0;
    width: 230px;
}
/*
** Calendar icons
*/

.calendar {
  float: left;
  margin-right: 6px;
  width: 42px;
  height: 42px;
  background: url('../../../../../images/icons/calendar_sprites_own.gif');
}

.calendar-icon-01 {
  background-position: 0 0;
}
.calendar-icon-02 {
  background-position: -52px 0;
}
.calendar-icon-03 {
  background-position: -104px 0;
}
.calendar-icon-04 {
  background-position: -156px 0;
}
.calendar-icon-05 {
  background-position: 0 -52px;
}
.calendar-icon-06 {
  background-position: -52px -52px;
}
.calendar-icon-07 {
  background-position: -104px -52px;
}
.calendar-icon-08 {
  background-position: -156px -52px;
}
.calendar-icon-09 {
  background-position: 0 -104px;
}
.calendar-icon-10 {
  background-position: -52px -104px;
}
.calendar-icon-11 {
  background-position: -104px -104px;
}
.calendar-icon-12 {
  background-position: -156px -104px;
} 
.calendar-day {
  font-weight: bold;
  font-size: 1.3em;
  color: #000;
  width: 42px;
  text-align:center;
  padding-top: 18px;
}
.calendar-year {
  font-weight: bold;
  font-size: .8em;
  color: #999;
  width: 42px;
  text-align:center;
  padding-top: 10px;
}
#activity-location-suggestion {
  width: 100%;
}
#activity-location-suggestion #locations {
  width: 100%;
}
#activity-location-suggestion ol li {
    width: 20.5em;
}
