/*
*  custom styles for activities
*
*/
@media all
{
.back { color: #888888;}
.yform div.type-button {padding: 3px 0.5em;}
.abitright {padding-left: 15px;}
.abitlower {padding-top: 0.4em;}
.yform label {padding-bottom: 0.12em;}
}
