@media all
{
textarea {margin-bottom: 1em;}

#messageboard {margin: 2em 0;}
#acceptmembers {margin: 2em 0;}

/* colors for comment quality */
.Neutral { color: #333; }
.Good { color: green; }
.Bad { color: red; }

.Neutral, .Good, .Bad { font-weight: bold; font-size: 1.1em; margin:0; padding:0;}

.checkcomment {margin-bottom: 2em;}
.small {margin-bottom: 0.1em;}
.checkcomment h4 {margin-bottom: 0.1em;}
.commentto {padding-bottom: 15px;}

.adminmembers{margin-bottom: 3em;}
.memberinfo {margin-bottom: 0.5em;}
.memberinfo p{margin-bottom: 0.1em;}

.pagination {margin-bottom: 1em;}

#adminmassmail table {
    width: 100%;
    border: 1px solid #ccc;
}

#adminmassmail td,
#adminmassmail th {
    text-align: center;
}

#adminmassmail td.left,
#adminmassmail th.left {
    text-align: left;
}

#rights table, #flags table, #newmembers table {
    width: 100%;
    border: 2px solid black;
}

#rights td, #flags td,
#rights th, #flags th,
#newmembers th, #newmembers td
{
    vertical-align: top;
    border: 1px solid #eee;
    word-wrap: break-word;
}

#rights td.usercol, #flags td.usercol,
#newmembers td.usercol
{
    text-align: center;
    max-width: 10em;
    width: 10em;
}

#rights td.right {
    max-width: 10em;
    width: 10em;
}

#flags td.flag {
    max-width: 13em;
    width: 13em;
}

#rights td.level, #flags td.level {
    width: 2em;
}

#rights td.scope, #flags td.scope {
    max-width: 25em;
    width: 25em;
}

#rights td.icon, #flags td.icon {
    max-width: 20px;
    width: 20px;
}

#newmembers td.send {
    width: 6em;
    max-width: 6em;
    text-align: center;
}
}
