@media all
{
textarea {margin-bottom: 1em;}

#messageboard {margin: 2em 0;}
#acceptmembers {margin: 2em 0;}

/* colors for comment quality */
.Neutral { color: #333; }
.Good { color: green; }
.Bad { color: red; }

.Neutral, .Good, .Bad { font-weight: bold; font-size: 1.1em; margin:0; padding:0;}

.checkcomment {margin-bottom: 2em;}
.small {margin-bottom: 0.1em;}
.checkcomment h4 {margin-bottom: 0.1em;}
.commentto {padding-bottom: 15px;}

.adminmembers{margin-bottom: 3em;}
.memberinfo {margin-bottom: 0.5em;}
.memberinfo p{margin-bottom: 0.1em;}

.pagination {margin-bottom: 1em;}

#adminmassmail table {
    width: 100%;
    border: 1px solid #ccc;
}

#adminmassmail td,
#adminmassmail th {
    text-align: center;
}

#adminmassmail td.left,
#adminmassmail th.left {
    text-align: left;
}
