@media all
{

/* we need more space on the admin pages */
#main {padding: 0 2em;}
#col1_content { padding: 0 0.5em 0 0; }

#col1 {width: 25%;}
#col3 {margin: 0 0 0 25%; border-left: 1px solid #ddd;}

textarea, form {margin-bottom: 0.5em;}

#messageboard {margin: 2em 0;}
#acceptmembers {margin: 2em 0;}

/* colors for comment quality */
.Neutral { color: #333; }
.Good { color: green; }
.Bad { color: red; }

.Neutral, .Good, .Bad { font-weight: bold; font-size: 1.1em; margin:0; padding:0;}

.checkcomment {margin-bottom: 2em;}
.small {margin-bottom: 0.1em;}
.checkcomment h4 {margin-bottom: 0.1em;}
.commentto {padding-bottom: 15px;}

.adminmembers{margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc;}
.memberinfo {margin-bottom: 0.5em;}
.memberinfo p{margin-bottom: 0.1em;}

.pagination {margin-bottom: 1em;}

.editor_ok_button {margin-bottom: 0.5em;}

}
