div.blogitem{margin-bottom: 3em; color: #333; font-family: Lucida Grande,Lucida Sans Unicode,Verdana,Helvetica,Arial,sans-serif;}
div.blogitem h3{margin:0; font-family:arial,helvetica,sans-serif; font-size:1.5em; color: #333;}
div.blogitem .text{max-width:768px}
div.blogitem .tags { font-size: 80%; padding:2px; background:transparent; }
div.blogitem ul,ol{margin: 1em 2em;}
div.blogitem ul li{list-style: disc;}
div.blogitem ol li{list-style: decimal;}

/* lowest usage */
a.tagusage1 {font-size:100%;}
a.tagusage2 {font-size:140%;}
a.tagusage3 {font-size:160%;}
a.tagusage4 {text-decoration:underline; font-size:200%;}
a.tagusage5 {text-decoration:underline; font-size:250%; font-weight:bold}

div.tags p{float:left;margin:0 1em 0 0}
div.tags ul{margin:0;padding:0;list-style-type:none;display:inline; border: 0;}
div.tags li{display:inline;margin:0 1em 0 0; padding: 0 .2em; float:left; text-decoration: none; border: 0;}
div.tags a{text-decoration: none; border: 0;}
div.tags a:hover{text-decoration: underline; border: 0;}

div.popupmap {
    width: 300px;
}
div.popupmap .innermap{
    border-right: 1px solid #999;
    border-bottom: 4px solid #999;
    border-left: 1px solid #ccc;
    border-top: 4px solid #999;
}

.blogmap {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
/* --- labeled marker styles for Google Maps --- */

div.markerLabel {
        display: block;
        padding-top: 9px;
}

div.markerLabel {
        text-align: center;
        color: #fff;
        background: #333 url(../../../../../images/icons/marker_left_bg.png) top right no-repeat;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        padding: .5em 1em;
        letter-spacing: 0px;
        font-size: 12px;
        font-family: Arial;
}

/* --- Classes for the search highlight javascript --- */

span.highlighted {
  background-color: #ccc;
  font-weight: bold;
}
span.term0 {
  background-color: #ccc;
}
span.term1 {
  background-color: #ccc;
}
span.term2 {
  background-color: #ccc;
}
fieldset {border-top: 0;}

.fieldset-menu li.active a {
    background-color: #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
    color: #333333;
}
