.smallinfo {
    font-size: 10px;
    color: #666666
}
.twocolumns {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -ms-column-count: 2;
    -ms-column-gap: 10px;
    -o-column-count: 2;
    -o-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
.rounded{
    display: inline-block;
    background-color: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    width:95%;
}
