@media all
{
#col1,#col1_content {display: none; }
#col2,#col2_content {display: none; }
#col3,#col3_content {margin: 0; }

#groups .groupbox {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-right: 2.5em;
  width: 350px;
}
#groups .groupinfo {
  margin-left: 100px;
}
#groups .groupinfo ul {
  padding-top: 0; 
}
#groups .groupinfo li {
  font-size: 0.9em;
  color: #888;
}
#groups .groupinfo p {
  clear: both;
}

#groups .groupmembers {
  padding-right: 25px;
  width: 60px;
  overflow: hidden;
}

#groups .groupsettinginfo {
  margin-bottom: 1.5em;
}

#search_result {
  padding: 3px;
  margin-bottom: 1em;
}

#search_result a {
  margin: 0.4em;
  display: block;
}

/* Special classes for relatedgrouplogs*/
#main li.picbox_relatedgroup {
  padding: 7px;
  width: 230px;
  padding-left: 0px;
}
img.framed_relatedgroup {
  background: none repeat scroll 0 0 #F3F3F3;
  border: 1px solid #DDDDDD;
  padding: 1px;
  margin-bottom: 1.5em;
  width: 60px;
  height: 60px;
}
#main .relatedgroupinfo {
  float: left;
  width: 48%;
}
