@media all
{
#col1,#col1_content {display: none; }
#col2,#col2_content {display: none; }
#col3,#col3_content {margin: 0; }

#groups .groupbox {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-right: 2.5em;
  width: 350px;
}
#groups .groupinfo {
  margin-left: 100px;
}
#groups .groupinfo ul {
  padding-top: 0;
}
#groups .groupinfo li {
  font-size: 0.9em;
  color: #888;
}
#groups .groupinfo p {
  clear: both;
}

#groups .groupmembers {
  padding-right: 25px;
  width: 60px;
  overflow: hidden;
}

#search_result {
  padding: 3px;
  margin-bottom: 1em;
}

#search_result a {
  margin: 0.4em;
  display: block;
}


#browseregions_dropdown {
  margin-top: 1em;
}
#places-location-map {
  width: 300px;
  border: 1px solid #999;
  background-color: #fff;
  padding: 2px;
  margin-bottom: 2em;
}
.geoheading {
  display: inline;
  float: left;
  margin-right: 1em;
}
.featuredcities {
  width: 30%;
  float: left;
  margin-right: 3%;
}
.profilepicture {
  vertical-align: top;
}
#geobreadcrumb a{
 color: #888;
 padding: 0 0.1em;
}
#changethisorder {
display:inline;
}
}
