#lightview {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 150px;
	width: 150px;
	margin: -75px 0 0 -75px;
}
#lightview  ul {
	margin: 0;
}

.lv_Container {
	position: relative;
	width: 100%;
	height: 100%;
	background: none;
}
.lv_Button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	background: none;
}

.lv_Sides {
	position: absolute;
	top: 50%;
	left: 0;
	clear: both;
	width: 100%;
}
.lv_Sides li {
	list-style-type: none;
	position: relative;
	overflow: hidden;
}

.lv_PrevSide { float: left; }
.lv_NextSide { float: right; }
.lv_Sides .lv_Wrapper {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.lv_Sides .lv_Button {
	float: left;
	background: none;
}

.lv_Frames {
	width: 100%;
	height: 100%;
	position: relative;
}
.lv_Frames li { list-style-type: none; }
.lv_Frame {
	width: 100%;
	display: block;
}
.lv_FrameTop {
	position: absolute;
	left: 0;
	width: 100%;
	display: block;
}
.lv_FrameBottom { position: relative; float: left; clear: both; }

.lv_Liquid {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden;
	clear: both;
}
.lv_Liquid .lv_Filler {
	position: absolute;
	height: 100%;
	width: 2px;
	top: 0;
	left: 50%;
}

.lv_Half {
	display: block;
	height: 100%;
	clear: both;
	line-height: 0px;
}
.lv_Half li { list-style-type: none; }
.lv_Corner {
	float: left;
	position: relative;
}
.lv_CornerTr, .lv_CornerBr { float: right; }

.lv_Fill {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.lv_Half .lv_CornerWrapper {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.lv_HalfRight .lv_CornerWrapper { float: right; }

.lv_Corner { position: relative; }
.lv_Corner canvas { position: relative; }
.lv_HalfLeft .lv_Corner { float: left; }
.lv_HalfRight .lv_Corner {
	position: relative;
	float: right;
}

.lv_Center {
	position: relative;
	clear: both;
	height: 100%;
	overflow: hidden;
	background: none;
}
.lv_WrapUp {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.lv_WrapDown {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.lv_WrapCenter { position: relative; }

.lv_Loading {
	position: absolute;
	top: 50%;
	left: 50%;
}
.lv_Loading .lv_Button {
	float: left;
	height: 100%;
	width: 100%;
}

.lv_MediaWrapper {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	clear: both;
}

.lv_MediaWrapper img { position: relative; float: left; }

.lv_PrevNext { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.lv_PrevNext .lv_Button { position: relative; height: 100%;}
.lv_PrevButton { float: left; }
.lv_NextButton { float: right; }

.lv_MenuBar {
	clear: both;
	position: relative;
	width: 100%;
	float: left;
	font: 11px Arial, Helvetica, sans-serif;
	color: #808080;
}

.lv_Close, .lv_Data { margin: 6px 0 0 0; }
/* when the menu is at the top (ajax/iframe/inline) content switch margins */
#lightview .lv_MenuTop .lv_Close, 
#lightview .lv_MenuTop .lv_Data { margin: 0 0 6px 0; }

.lv_Close { float: right; overflow: hidden; }
.lv_Close .lv_Button { float: right; width: 100%; height: 100%; }

.lv_Data {
	position: relative;
	float: left;
	padding-bottom: 3px;
	line-height: 13px;
}
.lv_Data li { list-style-type: none; }

/* simulates padding-left inside .lv_Data */
.lv_DataText div, .lv_ImgNumber div { margin-left: 3px; }

.lv_MenuTop .lv_DataText div,
.lv_MenuTop .lv_ImgNumber div { margin-left: 0; }

.lv_Data li {
	list-style-type: none;
	float: left;
	margin-top: 3px;
}
.lv_DataText { width: 100%; }
.lv_Title {
	font-weight: bold;
	margin-bottom: 2px;
}
.lv_Caption { clear: both; }
.lv_ImgNumber {
	color: #b8b8b8;
	margin-right: 5px;
	margin-top: 5px;
}
.lv_Slideshow {
	border-left: 1px solid #efefef;
	padding-left: 5px;
	margin-top: 5px;
	vertical-align: middle;
}
.lv_Slideshow .lv_Button { /* play and stop */
	float: left;
	background-position: center left;
	background-repeat: no-repeat;
}

.lv_Media,
.lv_External {
	position: relative;
	float: left;
}
#lightview iframe {
	border: 0;
	clear: both;
	padding: 0;
	margin: 0;
	background: none;
}

.lv_topButtons {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
}
.lv_topcloseButtonImage { cursor: pointer; }

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#lightviewError p { padding: 0 0 10px 0; }
#lightviewError div {
	padding: 6px;
	font: 11px Arial, Helvetica, sans-serif;
}
#lightviewError .message {
	background: #fcb5b5;
	color: #dd1f1f;
	margin-bottom: 3px;
}
#lightviewError .type { font-weight: bold; }
#lightviewError .pluginspage {
	background: #b5fcbd;
	color: #21be30;
}
#lightviewError a,
#lightviewError a:hover,
#lightviewError a:visited {
	color: #21be30;
	text-decoration: none;
	background: none;
	font-weight: bold;
	border-bottom: 1px solid #7de689;
}
#lightviewError p {
	margin-left: 0;
	padding: 0;
}

* html #lightview {
	position: absolute;
	margin-top: expression( -1 * this.offsetHeight / 2 + (document.documentElement ? document.documentElement.scrollTop : 0) + 'px');
	margin-left: expression( -1 * this.offsetWidth / 2 + (document.documentElement ? document.documentElement.scrollLeft : 0) + 'px');
}

* html #overlay { /* IE6 */
	position: absolute;
	height: expression((document.body.scrollHeight > document.documentElement.scrollHeight ? document.body.scrollHeight : document.documentElement.scrollHeight) > document.body.offsetHeight ? (document.body.scrollHeight > document.documentElement.scrollHeight ? document.body.scrollHeight : document.documentElement.scrollHeight) : document.body.offsetHeight + 'px');
	width: expression((document.body.scrollWidth > document.documentElement.scrollWidth ? document.body.scrollWidth : document.documentElement.scrollWidth) > document.body.offsetWidth ? (document.body.scrollWidth > document.documentElement.scrollWidth ? document.body.scrollWidth : document.documentElement.scrollWidth) : document.body.offsetWidth + 'px');
}