
/*
*  Show col2 on the right side for the tour-menu
*
*/
@media all
{
/* modification for trip pages */

#col1 { width: 0; display: none;}
#col2 { width: 0; display: none;}
#col3 {
    margin-left: 0; padding:0;
    margin-right:0;
}

.tripdesc {
    font-size: 1.3em;
    line-height: 1.6em;
}

div.infobox {
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  margin: 2em 0;
  padding: 1em 2em;
}
div.infobox h1,div.infobox h2,div.infobox h3{
  font-size: 1.2em;
}
div.infobox p{
  font-size: 11px;
}

div.trip_heading {
  margin: 2em 0;
}

div.tripitem {
  border: 1px solid #0394C3;
  margin: 10px 5px 10px 5px;
  padding: 5px 5px 5px 5px;
}

#triplist {
      margin:0;
      margin-top:10px;
      padding:0;
      list-style-type: none;
}
#triplist li {
      background: url("../../images/teaser_bg_white2.png") no-repeat scroll left bottom transparent;
      margin: 0 0 1em;
      padding:15px 0 0 0;
      line-height: 1.5em;

}
#triplist li h3 {
      border: none;
}

.fieldset-menu {
    margin: 0;
}
.fieldset-menu-form .fieldset-menu {
    margin: 0;
}
.fieldset-menu-form fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: 0;
    padding: 2em;
    position: relative;
}
.fieldset-menu-form legend {
    display: none;
}
ul.fieldset-menu {
    border-bottom: 1px solid #CCCCCC;
    list-style-type: none;
    margin: 0;
    padding: 4px 0 2px;
}
.fieldset-menu li {
    display: inline;
    margin-right: 0.5em;
}
.fieldset-menu li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E8E8EE;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #333333;
    padding: 4px 0.5em;
}
.fieldset-menu li a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid white;
    color: #333333;
}
.fieldset-menu li.active a {
    background-color: #F7F7F7;
    border-bottom: 1px solid #F7F7F7;
    color: #333333;
}
.datepicker-opener {
    padding: 0;
}
.datepicker-opener-table {
    margin: 3px 0 0 3px;
}
.trip_map {
    width: 100%; 
    height: 200px; 
    border-top: 2px solid #333; 
    border-bottom: 10px solid #333;
}

.trip_title {
  margin-bottom: 0px;
}
.trip_title a {
  color: #333;
}
.trip_author, .trip_author a {
  color:#aaa;
  margin:0 0 1em 0
}
.trip_author .trip_daterange {
  color:#333;
}
.trip_flag {
  background: transparent url(../../images/flag_big.gif) no-repeat top left;
  width: 80px;
  height: 60px;
  padding: .4em .7em;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

#searchteaser form {
    border: none;
	padding: 2em 0 1em 0;
}

#main #col3 h2.trip_date, .trip_date {
    text-align: right;
    color: #888888;
    padding: .4em .4em .4em .4em;
}
#map_alltrips {
    border: 1px solid #ccc;
	background-color: #ffffff;
	padding: 2px;
}
#map {
    border: none;
	height: 250px;
}
.tripmap {
	width: 100%;
	height: 250px;
}

div.markerLabel {
	display: block;
	padding-top: 9px;
}

div.markerLabel,
#sidebar ul#sidebar-list li div.label {
	text-align: left;
	color: white;
	font-size: 12px;
	font-family: Arial;
    font-weight: bold;
    padding-left: 10px;
}
div.markerLabel span{
	color: #fff;
	font-size: 11px;
    background-color: #333;
    opacity: 0.8;
    padding: 1px 2px;
    position:relative;
    top: 10px;
}
div.markerLabelList {
    width: 22px; 
    height: 22px; 
    text-align: center; 
    color: white; 
    font-size: 12px; 
    font-weight: bold; 
    margin: 5px 0;
    padding: 0;
}
div.listmarker { background: transparent url(../../../../images/icons/gicon2_a.png) bottom left no-repeat; }
div.markerLabelList a,div.markerLabelList a:hover,div.markerLabelList a:focus{
    display: block;
    color: #fff;
    background: transparent;
    padding: 3px;
    font-size: 12px; 
}

/*
** Calendar icons
*/

.calendar {
  float: left;
  margin-right: 6px;
  width: 42px;
  height: 42px;
  background: url('../../../../../images/icons/calendar_sprites_own.gif');
}

.calendar-icon-01 {
  background-position: 0 0;
}
.calendar-icon-02 {
  background-position: -52px 0;
}
.calendar-icon-03 {
  background-position: -104px 0;
}
.calendar-icon-04 {
  background-position: -156px 0;
}
.calendar-icon-05 {
  background-position: 0 -52px;
}
.calendar-icon-06 {
  background-position: -52px -52px;
}
.calendar-icon-07 {
  background-position: -104px -52px;
}
.calendar-icon-08 {
  background-position: -156px -52px;
}
.calendar-icon-09 {
  background-position: 0 -104px;
}
.calendar-icon-10 {
  background-position: -52px -104px;
}
.calendar-icon-11 {
  background-position: -104px -104px;
}
.calendar-icon-12 {
  background-position: -156px -104px;
} 
.calendar-day {
  font-weight: bold;
  font-size: 1.3em;
  color: #000;
  width: 42px;
  text-align:center;
  padding-top: 18px;
}
.calendar-year {
  font-weight: bold;
  font-size: .8em;
  color: #999;
  width: 42px;
  text-align:center;
  padding-top: 10px;
}
.tripname{
margin:0;
}

ol#locations li, ol.geoloc li {
    width: 20em;
}
}
