$brand-primary:             #f37000;
$primary:                   $brand-primary;
$info:                      #0083f3;

$link-color:                 #4c6c9b; // Use original bootstrap primary for links instead of BW orange
$link-hover-decoration:      none;
$grid-gutter-width:          1.875rem; // 30px

$font-family-sans-serif:     'Lato Light', 'Lato';
$line-height:                1.5;

$headings-font-family:       "Signika";
$table-bg-accent:               #f9f9f9;
$table-bg-hover:                #f5f5f5;
$input-btn-padding-y:           .375rem;
$input-btn-primary-border:             rgba(255,255,255,.5);
$input-btn-padding-x-sm:               .75rem;
$input-btn-padding-x-lg:               1.25rem;
$btn-block-spacing-y:            5px;
$btn-toolbar-margin:             5px;
$input-padding-y:                .375rem;
$input-border-color:             #ccc;
$input-padding-x-sm:             .75rem;
$input-padding-y-sm:             .275rem;

$input-padding-x-lg:             1.25rem;
$dropdown-bg:                    transparentize(#000, 0.2);

$dropdown-border-color:          rgba(255,255,255,.15);
$dropdown-link-color:            #fff;
$dropdown-link-hover-color:      #fff;
$dropdown-link-hover-bg:         $primary;
$navbar-border-radius:              0;
$navbar-padding-x:                  0;
$navbar-padding-y:                  0;
$navbar-dark-color:                white;
$navbar-dark-hover-color:          rgba(0,0,0,.6);
$navbar-dark-active-color:         black;
$navbar-dark-disabled-color:       grey;
$pagination-padding-y:                $input-btn-padding-y;
$pagination-color:                     $primary;
$pagination-bg:                        #ddd;
$pagination-border-color:              #fff;
$pagination-hover-bg:                  $primary;
$pagination-hover-border:              #fff;
$pagination-active-border:             #fff;
$pagination-disabled-color:            #ccc;
$pagination-disabled-border:           #fff;
$card-border-color:        #e5e5e5;
$tooltip-bg:                  $primary;
$modal-title-line-height:     $line-height;
$progress-bar-color:          $primary;
$list-group-link-hover-color:   #ccc;
$jumbotron-padding: 1rem;

$font-size-h4: 1.25rem;

$list-group-border-color: #aaa;