.ddextras{
  background-color: rgba(255,255,255,1);
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 1rem;
}

.memberpic{
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
}

.post{
  overflow: hidden;
  text-overflow: ellipsis;
}