.gray {
    color: #888;
    a {
        color: #888;
    }
    a:hover {
        color: #555;
    }
}

.blank {
    background-color: #fff;
}

.highlight {
    background-color: #eee;
}

.col3 {

    #forumrules ul, ol {
        margin: 5px 10px;
    }
    #forumrules ul li {
        list-style-type: disc;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }
    #forumrules ol li {
        list-style-type: decimal;
        margin-left: 1em;
        margin-bottom: 0.5em;
        padding-bottom: 0;
    }

    /* Community landing more and less buttons */
    .morelessbuttons {
        display: inline;
        float: left;
        padding: 0.7em 0.7em 1.3em 0;
    }
}

.groupul{
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
}

.postbox {
    border: 1px solid #fff;
}

.postleftcolumn {
    background-color: #ddd;
    border-right: #bbb;
}

.credentials{
    background-color: #ccc;
}

.middle{
    vertical-align: middle !important;
    align-self: center !important;
    text-align: center;
}

.l-forum-single-post {
  display: grid;
  grid-template-areas:
      "user_info user_info post_info post_info"
      "content content content content"
      "moderate moderate moderate admin_edit"
      "report permalink permalink edit";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 4px;
  border: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0.01);
}

.l-forum-single-post--dark {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Small
@media (min-width: 576px) {
  .l-forum-single-post {
    display: grid;
    grid-template-areas:
        "avatar member hosting"
        "avatar member extra_info"
        "about_me about_me about_me";
    grid-template-columns: 100px 1fr 1fr;
  }
}
 */
/* Medium
@media (min-width: 768px) {
  .l-forum-single-post {
    display: grid;
    grid-template-areas:
      "avatar member about_me"
      "avatar hosting about_me"
      "avatar extra_info about_me";
    grid-template-columns: 100px 180px 1fr;
  }
}
 */
/* Large
@media (min-width: 992px)  {
  .l-forum-single-post {
    display: grid;
    grid-template-areas:
      "avatar member about_me hosting"
      "avatar memebr about_me extra_info";
    grid-template-columns: 100px 180px 1fr min-content;
  }
}
 */

/**
 Components to structure the forum results grid
 */
.c-single-post-user_info {
  grid-area: user_info;
  padding: 4px;
}

.c-single-post-post_info {
  grid-area: post_info;
  padding: 4px;
}

.c-single-post-content {
  grid-area: content;
  background-color: white;
  padding: 4px;
}

.c-single-post-report {
  grid-area: report;
  border-top: 1px solid #aaa;
  padding: 4px;
}

.c-single-post-moderate {
  grid-area: moderate;
  padding: 4px;
}

.c-single-post-moderate:empty {
  padding: 0;
}

.c-single-post-admin_edit {
  grid-area: admin_edit;
  padding: 4px;
}

.c-single-post-admin_edit:empty {
  padding: 0;
}

.c-single-post-permalink {
  grid-area: permalink;
  border-top: 1px solid #aaa;
  padding: 4px;
}

.c-single-post-edit {
  grid-area: edit;
  border-top: 1px solid #aaa;
  padding: 4px;
}

/* Small+ */
@media (min-width: 576px) {
  .c-search-extra_info {
    display: block;
    grid-area: extra_info;
  }
}



