/* Sticky footer styles
-------------------------------------------------- */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Margin bottom by footer height */
  text-rendering: optimizeLegibility;
  background: #f7f7f7; /* For browsers that do not support gradients */
  background: linear-gradient(#afafaf, #f0f0f0 10em) repeat-x scroll left top #f0f0f0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

main {
  flex: 1 0 auto;
  margin-bottom: 1rem;
}
/* Wrapper for the main content, below the menu */
.container-content {
  @extend .container;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// standard framed box with slight shadow
.framed {
  background-color: #EEEEEE;
  border: 3px solid #FFFFFF;
}

.shadowed {
  box-shadow: 0 0 1px #888888;
}

// Styles for auto complete box
.ui-menu-item-highlight {
  font-weight: bold;
}

.ui-autocomplete-loading {
  background: white url("../images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.button {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  margin-right: 1rem;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $line-height-base, $btn-border-radius);
  @include transition(all .2s ease-in-out);

  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
  }

  &.disabled,
  &:disabled {
    opacity: .65;
    @include box-shadow(none);
  }

  // @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border-color);
}

// radio buttons
.btn-radio {
  background-color: rgba($brand-primary, .6);
  border: 0;
  font-family: "Signika", sans-serif;
  text-transform: capitalize;
  box-shadow: 0 0 1px 1px #d47a2e inset;
  margin: 0;
}

.btn-radio:hover {
  background-color: rgba($brand-primary, 1);
  box-shadow: 0 0 1px 1px #cc5e00 inset;
}

.btn-radio.active, .btn-radio.active:focus {
  background-color: rgba($brand-primary, 1) !important;
  outline: none;
  box-shadow: 0 0 1px 1px #b95500 inset;
}

// Flash notice styles
.flash {

  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  padding: .25em;
  clear: both;

  &.success {
    background-color: #0099ea;
  }
  &.notice {
    background-color: #c0c000;
  }
  &.error {
    background-color: #cc0000;
  }
}

#teaser {
  padding-left: ($grid-gutter-width /2);
  padding-right: ($grid-gutter-width /2);
  padding-bottom: .5rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 1rem;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

@include media-breakpoint-down(md) {
  .col1, .col3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include media-breakpoint-up(lg) {
  .col1 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col3 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col1 {
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }
}

.col3 li {
  list-style-type: none;
}

.submenu {
  padding-left: ($grid-gutter-width /2);
  padding-right: ($grid-gutter-width /2);
  margin-bottom: $spacer;
}

a {
  /* basic class for translation link */
  &.tr_link {
    background: #ddeeff none !important;
    border: 1px solid #888 !important;
    font-weight: normal !important;
    display: inline !important;
    color: #333 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /* "Hotpink" for missing words + translations */
    &.missing_word {
      background-color: #FF69B4 !important;
      color: #000 !important;
    }
    &.missing_translation {
      background-color: #FF69B4 !important;
      color: #000 !important;
    }

    /* "Aquamarine" for missing words + translations */
    &.obsolete {
      background-color: #7FFFD4 !important;
    }

    /* "GreenYellow" for editing existing translation */
    &.successful_translation {
      background-color: #ADFF2F !important;
    }

    /* "LemonChiffon" for hovering */
    &:hover {
      background: #FFFACD !important;
      color: #333 !important;
      border: 1px solid #888 !important;
      font-weight: normal !important;
      text-decoration: none !important;
    }
  }

}

.smaller {
  font-size: 65%;
}

.bold {
  font-weight: bold;
}

.icontext {
  padding-left: 0.4rem;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: #000 !important;
}

.list-group-item-heading {
  color: $link-color;
}

.white {
  color: #fff;
}

.btn:hover{
  cursor: pointer;
}

input.noradio{
    display:none;
}

/*
.page-link {
  color: #333 !important;

  @include media-breakpoint-down(md) {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem !important;
  }

  &:hover {
    color: #fff !important;
  }
}

.page-item {
  &.active .page-link {
    color: $pagination-active-color !important;
  }
}
 */

.signupmap{
  border: 1px solid #aaa;

  @include media-breakpoint-down(md) {
    width: 80%;
    height: 220px;
    margin: auto;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    height: 440px;
  }
}

.vmiddle{
  vertical-align: middle !important;
}

