.welcomeback{
  background-color: var(--gray-15);
  border-radius: 16px;
  position: relative;
  padding: 16px;
}

.welcomeback .o-avatar__name {
  display: none;
}

.hoststatus{
  position:absolute;
  left: 90px;
  top: 70px;
}

.hoststatusdropdown{
  top: -100%;
}

.homecity{
  font-size: 1.5rem !important;
}

.dashbox{
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 30px -3px #d7d7d7;
  border-radius: 0 16px 16px 16px;
  padding: 16px;
  min-height: 496px;
}

.shadow{
  box-shadow: 0 0 2px #888;
}

.framed {
  border-radius:2px;
}

.alert-info {
  border: 1px solid RGBA(138, 138, 138, 0.33);
  border-radius: 0.15rem;
  box-shadow: 0 3px 8px -2px RGBA(153, 150, 150, 0.67);
}

.dashentry{
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex !important;
  line-height: 1.2rem;
  max-height: 3.6rem;
  flex-direction: column !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  .text {
    @include media-breakpoint-down(md) {
      max-height: 2.1rem;
    }
    @include media-breakpoint-up(md) {
      max-height: 2.4rem;
    }
  }

  p {
    margin: 0;
  }
}

.scrollcontent .flex-row:nth-of-type(odd){
  background-color: #f0f0f0;
}

.scrollcontent .flex-row:nth-of-type(even){
  background-color: #fff;
}

.relative{
  position: relative;
}

.absolute {
  position: absolute;
}

.homeday{
  font-size: 1.4rem;
  top: -0.6rem;
}

.monthyear {
  top: -0.5rem;
  left: 1.7rem;
  font-size: 0.6rem;
}

.mr-5rem{
  margin-right: 5rem;
}

.attendees {
  top: -.3rem;
  left: 2.5rem;
}

.btn-dropdown {
  background-color:  white;
  text-transform: capitalize;
  box-shadow: 0 0 1px 1px rgb(231, 231, 231) inset;
  border:1px solid white !important;
}

.btn-homewhite {
  letter-spacing: 0.02rem;
  border: 1px solid $brand-primary !important;
  transition: background-color 0.2s, color 0.2s;
}

.btn-homewhite:hover {
  box-shadow: 0px 0px 6px -1px #d76401 inset,0px 5px 8px -8px #000;
}

.homehfour{
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  border-bottom: 1px solid #c3c3c3;
}
.homesubt{
  font-size: 16px;
  color: var(--gray-50);
  font-weight: 300;
}

.potentialguestinfo{
  border-spacing: 0.5rem 0;
}

/* Occurs when viewed on medium to very small screens only */

@include media-breakpoint-down(md) {

  .text-truncate{
    line-height: 1;
  }

  .btn {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

.searchsubmit {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-decoration;
}

.nav-tabs .nav-link.active {
  border-color: transparent;
}

.nav-tabs .nav-item > .active {
    box-shadow: 0px -2px 4px -2px #CFCFCF;
    border-radius: 8px 8px 0 0;
}

.nav-tabs .nav-link {
  font-family: "Signika", sans-serif;
}
