.locandlang{
  background-color: #ddd;
  border-radius: 0.2em;
  border: 1px solid #999;
  box-shadow: 3px -3px 5px rgba(0,0,0,0.1);
}

.allmessages{
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.1);
}

.messagebox{
  background-color: #fff;
  border-radius: 0.2em;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.subjectbg{
  background-color: rgba(255,255,255,1);
  border-radius: 0.2rem;
  border: 1px solid rgba(0,0,0,0.2);
}

.travellersnr{
  width: 4rem;
}

#message_thread {
  .message_own {
    min-width: 50%;
    max-width: 80%;
    padding: $pagination-padding-x;
    margin-bottom: .5rem;
    border-radius: $border-radius;
    border: 1px solid #bbb;
    background-color: #df9;
  }

  .message_own p:last-of-type {
    margin-bottom: 0;
  }

  .message_other {
    min-width: 50%;
    max-width: 80%;
    padding: $pagination-padding-x;
    margin-bottom: .5rem;
    border-radius: $border-radius;
    border: 1px solid #bbb;
    background-color: #ddd;
  }

  .message_other p:last-of-type {
    margin-bottom: 0;
  }

  blockquote {
    padding: $pagination-padding-x;
    border-radius: $border-radius;
    border: 1px solid #bbb;
    border-left: 8px #cc9037 solid;
    background-color: rgba(255,255,255,.7);
    margin: 0.5rem 0 0.5rem 0;

    p {
      margin: 0;
    }
  }
  figure {
    max-width: 100%;
  }
  figcaption {
    @include font-size($small-font-size);
    font-weight: $font-weight-normal;
    color: $text-muted;
  }
}

.messageheader{
  z-index: 1;
  border-bottom: 1px solid #666;
  border-radius: 0.25rem;
}

.messagethread{
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.messagetext{
  color: #333;
}

.ck-focused {
  color: #495057 !important;
  border-color: #ffb474 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(243, 112, 0, 0.25) !important;
}
