.navbar {

  .navbar-brand {
    padding-right: $spacer;
  }

  .nav-link {
    color: $navbar-dark-color;
    font-weight: bold;
    padding-top: 0.75rem;
    height: 100% !important;
  }

  .nav-link:hover {
    background-color: rgba($navbar-dark-color, 0.2);
    color: $navbar-dark-hover-color;
    text-shadow: 0 0 0.1rem white;
  }

  z-index: 1000;

}

.navbar-shadow{
  box-shadow: 0px 3px 10px #333;
}

.subnav{
  position: fixed !important;
  top: 42px;
  left: 0;
  right: 0;
  background-color: rgba($brand-primary,0.95);
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 5px #333;

  a{
    color: rgba($navbar-dark-color,0.8);
  }

  a:hover{
    color: $navbar-dark-color;
    text-decoration: none;
    background-color: #ce5409;
    margin-left: 0;
  }

  .h4{
    color: $navbar-dark-color !important;
  }

  .h4:hover{
    background: none !important;
  }
}

.bordert-1 {
  border-top: 1px solid $navbar-dark-color;
}

.borderb-1 {
  border-bottom: 1px solid $navbar-dark-color;
}

.menuborder{
  border-left: 1px solid rgba($navbar-dark-color,0.7);
  height: 2.7rem;
}

.menuborder-r{
  border-right: 1px solid rgba($navbar-dark-color,0.7);
  height: 2.7rem;
}

.subnavborder{
  border-left: 1px solid rgba($navbar-dark-color,0.7);
  height: 100%;
}

.loginform{
  padding-top: .2rem;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
