.hostcheckimg {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 .25rem;
}

.hostcheckbox {
  width: 100%;
  position: absolute;
}

#memberresults.loading {
  filter: blur(2px);
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.2) 20%,
        rgba(#fff, 0.5) 60%,
        rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.profilesummary {
  color: #000;
  text-underline: none;
  display: block;
  width: 100%;
}
