.hostcheckimg {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 .25rem;
}

.hostcheckbox {
  width: 100%;
  position: absolute;
}

#overlay.loading {
  filter: blur(2px);
}

.profilesummary {
  color: #000;
  text-underline: none;
  display: block;
  width: 100%;
}