// Include fonts

@import "mixins";

@import "~typeface-signika";
@import '~typeface-lato';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Core variables and mixins
@import "custom";
$font-family-bold: Signika;

@import "~bootstrap/scss/bootstrap";

@import "general";

// include page styles
@import "navbar";
@import "home";
@import "profile";
@import "activities";
@import "forumgroups";
@import "edit";
@import "messages";
@import "map";
@import "admin";

// select2
@import "~select2/src/scss/core";
@import "~select2-theme-bootstrap4/src/select2-bootstrap";

// Set yaml classes to keep old style alive and consistent
@import "yaml";
@import "navs";
@import "search";
@import "groups";
@import "forums";
@import "gallery";
@import "offcanvas";

// tempus dominus date time picker
@import "tempusdominus_bootstrap4";
@import "footer";

.badge-warning {
  @include badge-variant(white);
  color: $brand-primary;
}

.map {
}

.username{
  line-height: 1.1;
  word-wrap: break-word;
}

// This is actually defined in content_minimal but that file is not imported
.unread {
    font-weight: bold;
}

// Fix for location input appearing behind map on search member page
.ui-front {
    z-index: 2000!important;
}

.ck-content blockquote, blockquote {
  color: #444 !important;
  background: transparent !important;
  border: 1px #ddd solid !important;
  border-left: 8px $brand-primary solid !important;
  padding: 0 0.5em !important;
  margin: 0.5em 0 !important;
}

.jumbotron {
  a {
    color: $brand-primary;
  }
}

.leaflet-popup-content-wrapper{
  border-radius: 0.2rem;
}

.divlink  {
  color: black;
  display: block;
  width: 100%;
  height: 100%;

  .p{
    margin-bottom: 0.5rem !important;
  }
}

main {
  margin-top: 1rem;
}

.metrics {
  margin: 1em 0 0;
  overflow: auto;
}

.metrics .metric {
  float: left;
  margin: 0 1em 1em 0;
}

.metric {
  background: #FFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0 0 1px rgba(128, 128, 128, .2);
  min-width: 100px;
  min-height: 70px;
}

.metric .value {
  display: block;
  font-size: 28px;
  padding: 8px 15px 4px;
  text-align: center;
}

.metric .label {
  background: $primary;
  color: white;
  display: block;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

a.metric .value {
  color: black;
}

a.active .metric .value {
  color: white;
  background: $brand-primary
}

.card-columns {
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.nav-link {
  @include media-breakpoint-down(sm) {
    padding-right: $input-btn-padding-x-sm;
    padding-left: $input-btn-padding-x-sm;
  }
}

#editProfileTab .nav-tabs {
  display:none;
}

@include media-breakpoint-up(md) {
  #editProfileTab .nav-tabs {
    display: flex;
  }

  #editProfileTab .card {
    border: none;
  }

  #editProfileTab .card .card-header {
    display:none;
  }

  #editProfileTab .card .collapse{
    display:block;
  }
}

@include media-breakpoint-down(md){
  #editProfileTab .tab-pane {
    display: block !important;
    opacity: 1;
  }
}

#editProfileTab .nav-tabs {
  // border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    padding: $input-btn-padding-y-sm;
    border: $nav-tabs-border-width solid transparent;
    background-color: $secondary;
    color: white;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      border-color: $nav-tabs-link-hover-border-color;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    border: none !important;
  }

}

@import "wiki";

/* styles for the accommodation checkboxes */
.checked {
   border-color: #f37000 !important;
   border-radius: 2px;
   background-color: #f37000 !important;
   outline: 0 !important;
   box-shadow: 0 0 0 0.2rem rgba(243, 112, 0, 1) !important;
}

.not_checked {
  border-color: #fff !important;
  border-radius: 2px;
  background-color: #fff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1) !important;
}

@import "parallax";

.alert-notice {
  @extend .alert-info;
}

.alert-error {
  @extend .alert-danger;
}

figure > img {
  max-width: 100%;
}

figure > figcaption {
  text-align: center;
}

.editor, .ck-editor__editable {
  min-height: 10rem;
}

// Masonry
.grid-item {
  width:100%;
}

.grid-item-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.grid-item-content {
  margin: .25rem;
  padding: .25rem;
  background: #ddd;
  border: 1px solid #ccc;
}

.custom-file-label-fix {
  overflow: hidden;
  white-space: nowrap;
  // For text overflow we need also padding-right.
  // problem is the button width is not constant.
  padding-right: 6em;
  text-overflow: ellipsis;
}
