// Include fonts

@import "mixins";

@import "~typeface-signika";
@import '~typeface-lato';

/* Use SVG font
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
*/

// Core variables and mixins
@import "custom";
$font-family-bold: Signika;

@import "~bootstrap";

@import "config";
@import "generic/generic";

@import "general";

// include page styles
@import "navbar";
@import "home";
@import "profile";
@import "activities";
@import "forumgroups";
@import "edit";
@import "messages";
@import "map";
@import "admin";

// select2
@import "~select2/src/scss/core";
// @import "~select2-theme-bootstrap4/src/select2-bootstrap";

@import "~@ttskch/select2-bootstrap4-theme/src/single";
@import "~@ttskch/select2-bootstrap4-theme/src/multiple";
@import "~@ttskch/select2-bootstrap4-theme/src/layout";

// Set yaml classes to keep old style alive and consistent
@import "yaml";
// @import "navs";
@import "search";
@import "groups";
@import "forums";
@import "gallery";
@import "offcanvas";

// tempus dominus date time picker
@import "tempusdominus_bootstrap4";
@import "footer";

.badge-warning {
    background-color: white;
    color: $brand-primary;
}

.map {
}

.username{
  line-height: 1.1;
  word-wrap: break-word;
}

// This is actually defined in content_minimal but that file is not imported
.unread {
    font-weight: bold;
}

// Fix for location input appearing behind map on search member page
.ui-front {
    z-index: 2000!important;
}

.ck-content blockquote, blockquote {
  color: #444 !important;
  background: transparent !important;
  border: 1px #ddd solid !important;
  border-left: 8px $brand-primary solid !important;
  padding: 0 0.5em !important;
  margin: 0.5em 0 !important;
}

.jumbotron {
  a {
    color: $brand-primary;
  }
}

.leaflet-popup-content-wrapper{
  border-radius: 0.2rem;
}

.divlink  {
  color: black;
  display: block;
  width: 100%;
  height: 100%;

  .p{
    margin-bottom: 0.5rem !important;
  }
}

main {
  margin-top: 1rem;
}

.metrics {
  margin: 1em 0 0;
  overflow: auto;
}

.metrics .metric {
  float: left;
  margin: 0 1em 1em 0;
}

.metric {
  background: #FFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0 0 1px rgba(128, 128, 128, .2);
  min-width: 100px;
  min-height: 70px;
}

.metric .value {
  display: block;
  font-size: 28px;
  padding: 8px 15px 4px;
  text-align: center;
}

.metric .label {
  background: $primary;
  color: white;
  display: block;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

a.metric .value {
  color: black;
}

a.active .metric .value {
  color: white;
  background: $brand-primary
}

.card-columns {
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.nav-link {
  @include media-breakpoint-down(sm) {
    padding-right: $input-btn-padding-x-sm;
    padding-left: $input-btn-padding-x-sm;
  }
}

#editProfileTab .nav-tabs {
  display:none;
}

@include media-breakpoint-up(md) {
  #editProfileTab .nav-tabs {
    display: flex;
  }

  #editProfileTab .card {
    border: none;
  }

  #editProfileTab .card .card-header {
    display:none;
  }

  #editProfileTab .card .collapse{
    display:block;
  }
}

@include media-breakpoint-down(md){
  #editProfileTab .tab-pane {
    display: block !important;
    opacity: 1;
  }
}

#editProfileTab .nav-tabs {
  // border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    padding: $input-btn-padding-y-sm;
    border: $nav-tabs-border-width solid transparent;
    background-color: $secondary;
    color: white;
    @include border-top-radius($nav-tabs-border-radius);

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    border: none !important;
  }

}

@import "wiki";

/* styles for the accommodation checkboxes */
.checked {
   border-color: #f37000 !important;
   border-radius: 2px;
   background-color: #f37000 !important;
   outline: 0 !important;
   box-shadow: 0 0 0 0.2rem rgba(243, 112, 0, 1) !important;
}

.not_checked {
  border-color: #fff !important;
  border-radius: 2px;
  background-color: #fff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 1) !important;
}

@import "parallax";

.alert-notice {
  @extend .alert-info;
}

.alert-error {
  @extend .alert-danger;
}

figure > img {
  max-width: 100%;
}

figure > figcaption {
  text-align: center;
}

.editor, .ck-editor__editable[role=textbox] {
  min-height: 10rem;
}

// Masonry
.grid-item {
  width:100%;
}

.grid-item-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.grid-item-content {
  margin: .25rem;
  padding: .25rem;
  background: #ddd;
  border: 1px solid #ccc;
}

.custom-file-label-fix {
  overflow: hidden;
  white-space: nowrap;
  // For text overflow we need also padding-right.
  // problem is the button width is not constant.
  padding-right: 6em;
  text-overflow: ellipsis;
}

@mixin make-td-col($size, $columns: $grid-columns) {
  width: percentage($size / $columns);
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @for $i from 1 through $grid-columns {
    td.col#{$infix}-#{$i}, th.col#{$infix}-#{$i} {
      @include make-td-col($i, $grid-columns);
    }
  }
}

.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
  height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: $brand-primary;
  background: -webkit-linear-gradient(left, #fff , $brand-primary);
  background: -o-linear-gradient(left, #fff , $brand-primary);
  background: -moz-linear-gradient(left, #fff , $brand-primary);
  background: linear-gradient(left, #fff , $brand-primary);

  position: absolute;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(243, 112, 0, 0.7);
  -webkit-box-shadow: 0 0 8px rgba(243, 112, 0, 0.7);
  box-shadow: 0 0 8px rgba(243, 112, 0, 0.7);
}

.rangeslider__value-bubble {
  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 25px;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  @include border-radius(5px);

  &:before,
  &:after {
    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    content: "";
    display: block;
    margin: auto;
    width: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
  &:before {
    border-top-color: #ccc;
    border-bottom-width: 0;
    bottom: -11px;
  }
  &:after {
    border-top-color: #fff;
    border-bottom-width: 0;
    bottom: -10px;
  }
}

#mockup {
  background-color: #ccc;
  color: black;
}

#mockup img {
  max-width: 100%;
}

$avatar-sizes: 30, 50, 75, 100, 150, 200, 500;

@each $size in $avatar-sizes {
  .avatar-#{$size} {
    height: #{$size}px;
    width: #{$size}px;
  }
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .25rem;
}

