/* ========================================================================
//   #VARIABLES
//   ======================================================================== */


/*Colors*/


:root {

  --bewelcome: #f37000;
  --transparent: transparent;

  --red: #f3000a;
  --yellow: #f3ea00;
  --blue: #7000f3;

  --black: #000;
  --white: #fff;
  --gray-5: #f9f9f9;
  --gray-10: #eee;
  --gray-15: #ddd;
  --gray-20: #ccc;
  --gray-30: #bbb;
  --gray-40: #999;
  --gray-50: #808080;
  --gray-60: #6f6f6f;
  --gray-65: #595959;
  --gray-70: #454545;
  --gray-80: #3F3F3F;
}










/* ========================================================================
//   #FONTS
//   ======================================================================== */

/*@font-face {
    font-family: 'Signika';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    text-rendering: optimizeLegibility;
    src: url('fonts/Signika-Regular.eot');
    src: url('fonts/Signika-Regular.eot') format('embedded-opentype'),
         url('fonts/Signika-Regular.woff') format('woff'),
         url('fonts/Signika-Regular.ttf') format('truetype'),
         url('fonts/Signika-Regular.svg#Signika') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Signika';
        font-weight: 400;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-display: swap;

        src: url('fonts/Signika-Regular.svg#Signika') format('svg');
}
}*/






