/* ========================================================================
//   #VARIABLES
//   ======================================================================== */


/*Colors*/


:root {

  --bewelcome: #f37000;
  --bewelcome-dark: #cd5e00;
  --transparent: transparent;
  --red: #f3000a;  
  --yellow: #f3ea00;
  --green: #00f370; 
  --blue: #7000f3;
  --black: #000;  
  --white: #fff;  
  --gray-5: #f9f9f9;  
  --gray-10: #eee;  
  --gray-15: #ddd;  
  --gray-20: #ccc;  
  --gray-30: #bbb;  
  --gray-40: #999;  
  --gray-50: #808080;  
  --gray-60: #6f6f6f;  
  --gray-65: #595959;  
  --gray-70: #454545;  
  --gray-80: #3F3F3F;
}





/*Screen width*/

@media screen and (max-width: 600px) {
   :root {
    --width: 1px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
   :root {
    --width: calc(100vw / 1440);
  }
}

@media screen and (min-width: 1201px) {
    :root {
      --width: 1px;
    }
}






/* ========================================================================
//   #FONTS
//   ======================================================================== */

@charset "UTF-8";

/* signika-300normal - latin */

/*@font-face {
  font-family: 'Signika';
  src: local("Signika Light "), 
       local("Signika-Light");
  src: url('../../public/fonts/Signika-Light.eot');
  src: url('../../public/fonts/Signika-Light.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Signika-Light.woff') format('woff'),
       url('../../public/fonts/Signika-Light.woff2') format("woff2")
       url('../../public/fonts/Signika-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Signika';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Signika-Light.eot') format('svg');
  }
}
*/




/* signika-400normal - latin */

/*@font-face {
  font-family: 'Signika';
  src: local("Signika Regular "), 
       local("Signika-Regular");
  src: url('../../public/fonts/Signika-Regular.eot');
  src: url('../../public/fonts/Signika-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Signika-Regular.woff') format('woff'),
       url('../../public/fonts/Signika-Regular.woff2') format("woff2")
       url('../../public/fonts/Signika-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Signika';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Signika-Regular.eot') format('svg');
  }
}
*/




/* signika-600normal - latin */

/*@font-face {
  font-family: 'Signika';
  src: local("Signika SemiBold "), 
       local("Signika-SemiBold");
  src: url('../../public/fonts/Signika-Semibold.eot');
  src: url('../../public/fonts/Signika-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Signika-Semibold.woff') format('woff'),
       url('../../public/fonts/Signika-Semibold.woff2') format("woff2")
       url('../../public/fonts/Signika-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Signika';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Signika-Semibold.eot') format('svg');
  }
}
*/




/* signika-700normal - latin */

/*@font-face {
  font-family: 'Signika';
  src: local("Signika Bold "), 
       local("Signika-Bold");
  src: url('../../public/fonts/Signika-Bold.eot');
  src: url('../../public/fonts/Signika-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Signika-Bold.woff') format('woff'),
       url('../../public/fonts/Signika-Bold.woff2') format("woff2")
       url('../../public/fonts/Signika-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Signika';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Signika-Bold.eot') format('svg');
  }
}*/





/* lato-100normal - latin */

/*@font-face {
  font-family: 'Lato';
  src: url('../../public/fonts/Lato-Thin.eot');
  src: url('../../public/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-Thin.woff') format('woff'),
       url('../../public/fonts/Lato-Thin.woff2') format("woff2")
       url('../../public/fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-Thin.eot') format('svg');
  }
}*/





/* lato-100italic - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Thin italic"), 
       local("Lato-Thinitalic");
  src: url('../../public/fonts/Lato-ThinItalic.eot');
  src: url('../../public/fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-ThinItalic.woff') format('woff'),
       url('../../public/fonts/Lato-ThinItalic.woff2') format("woff2")
       url('../../public/fonts/Lato-ThinItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 100;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-ThinItalic.eot') format('svg');
  }
}*/





/* lato-300normal - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Light "), 
       local("Lato-Light");
  src: url('../../public/fonts/Lato-Light.eot');
  src: url('../../public/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-Light.woff') format('woff'),
       url('../../public/fonts/Lato-Light.woff2') format("woff2")
       url('../../public/fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-Light.eot') format('svg');
  }
}*/





/* lato-300italic - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Light italic"), 
       local("Lato-Lightitalic");
  src: url('../../public/fonts/Lato-LightItalic.eot');
  src: url('../../public/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-LightItalic.woff') format('woff'),
       url('../../public/fonts/Lato-LightItalic.woff2') format("woff2")
       url('../../public/fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-LightItalic.eot') format('svg');
  }
}*/





/* lato-400normal - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Regular "), 
       local("Lato-Regular");
  src: url('../../public/fonts/Lato-Regular.eot');
  src: url('../../public/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-Regular.woff') format('woff'),
       url('../../public/fonts/Lato-Regular.woff2') format("woff2")
       url('../../public/fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-Regular.eot') format('svg');
  }
}*/

/* lato-400italic - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Italic"), 
       local("Lato-Italic");
  src: url('../../public/fonts/Lato-Italic.eot');
  src: url('../../public/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-Italic.woff') format('woff'),
       url('../../public/fonts/Lato-Italic.woff2') format("woff2")
       url('../../public/fonts/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-Italic.eot') format('svg');
  }
}*/





/* lato-700normal - latin */
/*
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold "), 
       local("Lato-Bold");
  src: url('../../public/fonts/Lato-Bold.eot');
  src: url('../../public/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-Bold.woff') format('woff'),
       url('../../public/fonts/Lato-Bold.woff2') format("woff2")
       url('../../public/fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-Bold.eot') format('svg');
  }
}*/

/* lato-700italic - latin */
/*
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold italic"), 
       local("Lato-Bolditalic");
  src: url('../../public/fonts/Lato-BoldItalic.eot');
  src: url('../../public/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-BoldItalic.woff') format('woff'),
       url('../../public/fonts/Lato-BoldItalic.woff2') format("woff2")
       url('../../public/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-BoldItalic.eot') format('svg');
  }
}*/





/* lato-900normal - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Black "), 
       local("Lato-Black");
  src: url('../../public/fonts/Lato-Black.eot');
  src: url('../../public/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-Black.woff') format('woff'),
       url('../../public/fonts/Lato-Black.woff2') format("woff2")
       url('../../public/fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-Black.eot') format('svg');
  }
}*/

/* lato-900italic - latin */

/*@font-face {
  font-family: 'Lato';
  src: local("Lato Black italic"), 
       local("Lato-Blackitalic");
  src: url('../../public/fonts/Lato-BlackItalic.eot');
  src: url('../../public/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../../public/fonts/Lato-BlackItalic.woff') format('woff'),
       url('../../public/fonts/Lato-BlackItalic.woff2') format("woff2")
       url('../../public/fonts/Lato-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    text-rendering: optimizeLegibility;
    src: url('../../public/fonts/Lato-BlackItalic.eot') format('svg');
  }
}
*/





