@import "foundation-settings";

.wrapper {
  width: 100%;
}

.header {
      background: $primary-color;
}

.header .columns {
  padding-bottom: 0;
}
.header p {
  color: #fff;
  margin-bottom: 0;
}

.header .wrapper-inner {
  padding: 20px; /*controls the height of the header*/
}
.header .container {
  background: $primary-color;
}

.wrapper.secondary {
  background: $secondary-color;
}

@import "~foundation-emails/scss/foundation-emails";
