#faqs dt.h5 i,
#faqs dt.h5 svg { 
    color: #9d9d9d;
}    
#faqs dt {
    cursor: pointer;
    margin: 0 0 10px 0;
    padding-left: 1.3em;
    text-indent: -1.3em;
}
#faqs dd {
    padding: 0 0 10px 25px;
}
