.floating-label {
  position: relative;
}

.floating-label > label {
  position: absolute;
  display: block;
  left: .375rem;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.floating-label input::-webkit-input-placeholder {
  color: transparent;
}

.floating-label input:-ms-input-placeholder {
  color: transparent;
}

.floating-label input::-ms-input-placeholder {
  color: transparent;
}

.floating-label input::-moz-placeholder {
  color: transparent;
}

.floating-label input::placeholder {
  color: transparent;
}

.floating-label input:not(:placeholder-shown) {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.floating-label input:not(:placeholder-shown) ~ label {
  padding-top: 0;
  top: 0;
  left: .375rem;
  padding-bottom: .25rem;
  font-weight: bold;
  font-size: 9px;
  color: #222;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .floating-label > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .floating-label > label {
    display: none;
  }
  .floating-label input:-ms-input-placeholder {
    color: #777;
  }
}
