{% extends '@login/loginbase.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6 push-md-3">
            <div class="info" id="login-widget">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData) }}
                    </div>
                {% endif %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}