    <nav class="navbar navbar-sticky-top navbar-light bg-primary">
        <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="main"><img src="/images/logo_index_top.png"
                                                 alt="{{ 'BeWelcome' | trans }}"/></a>
        </div>
            </div>
    </nav>
