.l-show-trip {
  display: grid;
  grid-template-columns: 24px 1fr 1fr;
  grid-gap: 16px;
  position: relative;
  border-left: 1px solid var(--white);
  margin-left: 12px;
  padding-bottom: 32px;
}

@media (max-width: 900px) {
  .l-show-trip {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }
}

.l-show-trip:last-child {
  border-left: initial;
}

@media (max-width: 900px) {
  .l-show-trip:last-child {
    border-left: 1px solid var(--white);
  }
}




.l-trip-legs {
  display: grid;
  grid-template-columns: 104px 1fr 104px;
  width: 100%;
  grid-gap: 36px;
  padding: 24px 36px;
  margin: 8px 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3)
}


@media (max-width: 900px) {
  .l-trip-legs {
    grid-gap: initial;
    display: flex;
    flex-direction: column;
  }
}





.l-trips-wrapper {
  position: relative;
  z-index: 1;
  max-width: 960px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 900px) {
  .l-trips-wrapper {
    max-width: initial;
    left: inherit;
    transform: initial;
    margin: 0 16px;
  }
}





.l-trips-overlay-wrapper {
  padding: 48px 0;
  background-color: rgba(0, 0, 0, 0.3);
}