.l-show-trip {
	display: grid;
	grid-template-columns: 24px 1fr 1fr;
	grid-gap: 16px;
	position: relative;
	border-left: 1px solid var(--white);
	margin-left: 12px;
	padding-bottom: 32px;
}

@media (max-width: 900px) {
  .l-show-trip {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }
}

.l-show-trip:last-child {
	border-left: initial;
}

@media (max-width: 900px) {
  .l-show-trip:last-child {
		border-left: 1px solid var(--white);
	}
}

