.c-dashboard {
  height: 440px;
  font-family: Signika;
}

.c-dashboard p {
  font-family: Signika;
}

.c-dashboard .unread p {
	font-weight: bold;
}

.c-dashboard__item {
	display: flex;
	align-items: center;
	background-color: var(--gray-5);
	padding: 0 16px;
	border-radius: 8px;
	margin-bottom: 8px;
	height: 80px;
	overflow: hidden;
}

.c-dashboard__message-item {
  display: grid;
  align-items: center;
  background-color: var(--gray-5);
  padding: 0 4px;
  border-radius: 8px;
  margin-bottom: 8px;
  height: 80px;
  overflow: hidden;
  grid-template-columns: 80px auto 16px;
}


