<div class="card mb-3">
    <a name="travels"></a>
    <h3 class="card-header profile-bg2">
        <i class="fa fa-globe"></i><span class="icontext">Travelled to</span>
        {% if member.id == my_member.id %}
            <a href="{{ path('member/edit') }}" class="btn btn-sm btn-primary float-right">edit</a>
        {% endif %}
    </h3>
    <div class="card-block">
        {{ member.PastTrips | nl2br }}

        {# New design expects structured list of countries. Old system just stores text input. #}
        {#<p class="m-b-0"><img src="http://www.clickfire.com/images/flags/germany.gif"><span class="icontext">Germany</span></p>#}
    </div>
</div>

<div class="card mb-3">

    <h3 class="card-header profile-bg2">
        <i class="fa fa-globe"></i><span class="icontext">Planned trips</span>
        {% if member.id == my_member.id %}
            <a href="{{ path('member/edit') }}" class="btn btn-sm btn-primary">edit</a>
        {% endif %}
    </h3>
    <div class="card-block mb-3">
        {{ member.PlannedTrips | nl2br }}
        {# Link with trips-feature, if trips are available #}

        {% if member.id == my_member.id %}
            <a href="trips/create" class="btn btn-primary btn-block"><i class="fa fa-map-marker"></i> Plan your trip</a>
        {% endif %}
    </div>
</div>
