.gray {
    color: #888;
    a {
        color: #888;
    }
    a:hover {
        color: #555;
    }
}

.blank {
    background-color: #fff;
}

.highlight {
    background-color: #eee;
}

.col3 {

    #forumrules ul, ol {
        margin: 5px 10px;
    }
    #forumrules ul li {
        list-style-type: disc;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }
    #forumrules ol li {
        list-style-type: decimal;
        margin-left: 1em;
        margin-bottom: 0.5em;
        padding-bottom: 0;
    }

    /* Community landing more and less buttons */
    .morelessbuttons {
        display: inline;
        float: left;
        padding: 0.7em 0.7em 1.3em 0;
    }
}

.groupul{
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
}

.postbox {
    border: 1px solid #fff;
}

.postleftcolumn {
    background-color: #ddd;
    border-right: #bbb;
}

.credentials{
    background-color: #ccc;
}

.middle{
    vertical-align: middle !important;
    align-self: center !important;
    text-align: center;
}