@media all
{
/*
  .thumb_wrapper .thumb {
    width: 160px;
    height: 180px;
    margin: 0;
    padding: 10px;
  }
  .fixed_columns_list { padding: 1em 0; }
  .thumb_wrapper .thumb.size1 {
    width: 280px;
    height: 320px;
    margin: 0;
    padding: 0
  }
  .gallery_overview {
    padding: 1em 0;
  }
  .gallery_overview .gallery_first {
    padding: 1.4em;
    background: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
  }
  .gallery_overview .thumb_container,.gallery_overview .thumb_container img {
    width: 75px;
    height: 75px;
  }
  .gallery_overview .thumb_container .thumb {
    padding: 1px;
  }
  .gallery_overview .thumb_container {
    margin: 0 6px 6px 0;
    border: 0;
    background-color: 0;
  }

  .gallery_menu a.delete { padding-left: 18px; background: transparent url(../../images/iconsfam/delete.png) no-repeat top left; }
  .gallery_menu a.upload { padding-left: 18px; background: transparent url(../../images/iconsfam/image_add.png) no-repeat top left; }
  .gallery_menu a.manage { padding-left: 18px; background: transparent url(../../images/iconsfam/images.png) no-repeat top left; }
  .gallery_menu a.active {
    color: #000;
    font-weight: bold;
  }
  */

  .gallery_container {
    height: 100%;
    width: 100%;
    padding: 17px 10px 8px 8px;
    text-align: center;
    background: transparent url(../../images/pic_shadow.png) no-repeat scroll center top;
  }
  .gallery_container .framed{
    height: 100px;
    width: 100px;
  }

}
