.welcomeback{
  margin-top: -23px;
  background-color: #eee;
  border: 3px solid #fff;
  border-top: none;
  border-radius: 0.15rem;
  box-shadow: 0px 3px 8px -2px RGBA(153, 150, 150, 0.67);
}

.hoststatus{
  position:relative;
  right: 15px;
}

.hoststatusdropdown{
  top: -100%;
}

.dashbox{
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 3px 8px -2px #999696;
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  border: 1px solid #e1e1e1;
  border-top: none;  
}

.readunread{
  background-color: #FFF;
  padding: 0.2em;
  text-align: center;
}

.shadow{
  box-shadow: 0 0 2px #888;
}

.framed {
  border-radius:2px;
}

.alert-info {
  border: 1px solid RGBA(138, 138, 138, 0.33);
  border-radius: 0.15rem;
  box-shadow: 0px 3px 8px -2px RGBA(153, 150, 150, 0.67);
}

.dashentry{
  height: 2.1rem;
}

.activityinfo{
  padding-left: .25rem;
  min-width: 15%;
}

.dateandtitle{
  width: 55%; // fix for Chrome
  min-width: 55%;
  max-width: 60%;
  position: relative;
}

.activitytitle{
  position: absolute;
  width: 100%;
}

.scrollcontent .flex-row:nth-of-type(odd){
  background-color: #f0f0f0;
}

.scrollcontent .flex-row:nth-of-type(even){
  background-color: #fff;
}

.avatarpadding{
  padding: 10px 0;
}

.btn-dropdown {
  background-color:  white;
  text-transform: capitalize;
  box-shadow: 0 0 1px 1px rgb(231, 231, 231) inset;
  border:1px solid white !important;
}

.btn-homewhite {
  letter-spacing: 0.02rem;
  font-size: 0.9rem;
  border: 1px solid $btn-primary-bg !important;
  transition: background-color 0.2s, color 0.2s;
}

.btn-homewhite:hover {
  box-shadow: 0px 0px 6px -1px #d76401 inset,0px 5px 8px -8px #000;
}

.homehfour{
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  border-bottom: 1px solid #c3c3c3;
}
.homesubt{
  font-size: 1rem;
  color:gray;
}

.potentialguestinfo{
  border-spacing: 0.5rem 0;
}

@include media-breakpoint-up(md){

  .welcomeback {
    height: 7em;
  }

}

/* Occurs when viewed on medium to very small screens only */

@include media-breakpoint-down(md) {

  .welcomeback {
    height: auto;
  }

  .verticalalign {
    transform: translateY(0%) !important;
  }

  .text-truncate{
    line-height: 1;
  }

  .avatarpadding{
    padding: 5px 0;
  }

}

.searchsubmit {
  border: 0;
  padding: 0;
  font-size: $font-size-h4;
  background-color: transparent;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}