.locandlang{
  background-color: #ddd;
  border-radius: 0.2em;
  border: 1px solid #999;
  box-shadow: 3px -3px 5px rgba(0,0,0,0.1);
}

.allmessages{
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px -3px 5px rgba(0,0,0,0.1);
}

.messagebox{
  background-color: #fff;
  border-radius: 0.2em;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.subjectbg{
  background-color: rgba(255,255,255,.2);
}