body{
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height:1.6rem;
}

.summary{
	line-height: 1.1;
}

.card-header{
	font-size:1.25em;
	text-transform: uppercase;
	border:2px solid white;
	border-radius:0.25rem;
	background-color: rgba(243,112,0,1);
	color:white;
	letter-spacing: 0.03em;
	line-height: inherit !important;
	padding: 0.5rem 1rem;
	text-shadow: 0 0 3px #ce8140;
	box-shadow: inset 0 0 13px -2px #ce8140;
	margin:0;
}
.card-block {
	padding:1rem 1.6rem;
}

.profileimg {
	border-radius: 3px;
	border: 3px solid white;
	box-shadow: 0 3px 8px -2px #000;
}

.card {
	box-shadow: 0 3px 8px -2px #999696;
	border:none;
	border-radius: 0.25rem;
	line-height: 1.6rem;
}

.headerimg {
	// background-image: url(/images/profilepicture.jpg);
	// background-size: cover;
	background: $brand-primary;
	background: linear-gradient(to bottom, rgba(254,182,69,1) 16%,rgba(243,112,0,1) 51%);
	border-bottom-right-radius: .25rem !important;
	border-bottom-left-radius: .25rem !important;
  	border-bottom:  1px solid #999999;
	box-shadow:0 3px 8px -1px #999696, 0 50 150 -50 #000 inset;
	height: auto;
	margin: 0;
}

.media small {
	line-height: 2;
}

.languages {
	color: #FFF;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.25em;
}

.regularfont {
	font-family: $font-family-base;
}

.whiteshadow {
	color: white;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.profilebig {
	font-family:"Signika-Regular", LatoWeb, sans-serif;
	font-size:2.625em;
	white-space: nowrap;
}

.profilemedium {
	font-family: "Signika-Regular", LatoWeb, sans-serif;
	font-size: 1.4em;
	white-space: nowrap;
}

.top0 {
	top: 0;
}

.profilebreadcrumb{
	font-size:0.8em;
	text-transform: uppercase;
	font-family:"Signika-Light", LatoWeb, sans-serif;
}

.profilestatusbox {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 3px 8px -1px #000,inset 0 0 70 10 white;
}

.mappreview {
	border-radius: 3%;
	border: 1px solid white;
}

.btn-secondary {
	font-size: 1rem;
	margin-bottom: 0.3rem;
	background-color:  white;
	text-transform: capitalize;
	border:2px solid white !important;
}
.btn-primary-profile {
	font-size: 1rem;
	border: 2px solid white !important;
	text-transform: capitalize;
	box-shadow: 0 0 3px 1px #d47a2e inset;
	margin: 0;
}

.btn-profile {
	font-size: 0.9rem;
	margin-bottom: 0.6rem;
	border-radius: 0.25rem !important;
	border: 1px solid rgba(0, 0, 0, 0.28) !important;
	box-shadow: 0 5px 8px -6px #000;
}

.btn-group-profile{
	// box-shadow: 0 3px 8px -1px #999696;
}

.gray {
	color:$gray-light;
}

a.report {
	color: rgba(#fff,0.3);
}

a.report:hover {
	color: rgba(#fff,0.8);
}

.lang{
	font-family: $font-family-bold;
	font-size: 0.9rem;
	text-transform:capitalize;
}

.mother{
	text-transform:uppercase;
	letter-spacing: 0.02rem;
}

a.request:link, a.request:visited {
	color: #fff !important;
}

a.request:focus, a.request:hover {
	color:white !important;
	text-decoration: underline;
}

.acc-info, a.acc-info{
	font-weight: 700;
	color: $brand-primary;
}

.profilelist{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top: 0;
}

.commentavatar {
	max-width: 90px;
}

@media only screen
and (min-width: 1288px) {
	.col-md-4 {
		//	width: 38.333%;
	}

	.col-md-8 {
		//	width: 61.667%;
	}
}

a.grouplist {
	color: #2e2e2e !important;
}

a.grouplist:hover {
	background: $brand-primary !important;
	color: #fff !important;
}