// Include fonts

@import "mixins";

$font-path: '../fonts/';
@include font-face('Signika-Bold', $font-path + 'signika-bold-webfont', normal, normal);
@include font-face('Signika-Regular', $font-path + 'signika-regular-webfont', normal, normal);

@import '../../../../node_modules/lato-font/scss/public-api';

$lato-font-path: '../fonts';

@include lato-include-font('black');
@include lato-include-font('medium');

@import '../../../../node_modules/font-awesome/scss/font-awesome';

// Core variables and mixins
@import "custom";
$font-family-bold: Signika-bold, Arial;


@import "../../../../node_modules/bootstrap/scss/bootstrap";

@import "general";

// include page styles
@import "navbar";
@import "home";
@import "profile";
@import "activities";
@import "forumgroups";
@import "edit";
@import "messages";

// select2
@import "../../../../node_modules/select2/src/scss/core";
@import "select2-bootstrap4";

// Set yaml classes to keep old style alive and constistent
@import "yaml";
@import "navs";
@import "search";
@import "groups";
@import "forums";
@import "offcanvas";

.badge-warning {
  @include badge-variant(white);
  color: $brand-primary;
}

.map {

}

.username{
  line-height: 1.1;
  word-wrap: break-word;
}

// This is actually defined in content_minimal but that file is not imported
.unread {
    font-weight: bold;
}

// Fix for location input appearing behind map on search member page
.ui-front {
    z-index: 2000!important;
}

// Use own blockquote style
blockquote {
  color: #444;
  background: #f8f8f8;
  border: 1px #ddd solid;
  border-left: 8px #ddd solid;
  padding: 1rem;
  margin: 1rem;
}

.jumbotron {
  a {
    color: $brand-primary;
  }
}

.verticalalignmiddle{
  vertical-align: middle !important;
}
