// Include fonts

@import "mixins";

$font-path: '../fonts/';
@include font-face('Signika-Bold', $font-path + 'signika-bold-webfont', normal, normal);
@include font-face('Signika-Regular', $font-path + 'signika-regular-webfont', normal, normal);

@import '../../../../node_modules/lato-font/scss/public-api';

$lato-font-path: '../fonts';

@include lato-include-font('black');
@include lato-include-font('medium');

@import '../../../../node_modules/font-awesome/scss/font-awesome';

// Core variables and mixins
@import "custom";
$font-family-bold: Signika-bold, Arial;


@import "../../../../node_modules/bootstrap/scss/bootstrap";

@import "general";

// include page styles
@import "navbar";
@import "home";
@import "profile";
@import "activities";
@import "forumgroups";
@import "edit";
@import "messages";

// select2
@import "../../../../node_modules/select2/src/scss/core";
@import "select2-bootstrap4";

// Set yaml classes to keep old style alive and constistent
@import "yaml";
@import "navs";
@import "search";
@import "groups";
@import "forums";
@import "offcanvas";

.badge-warning {
  @include badge-variant(white);
  color: $brand-primary;
}

.map {

}

.username{
  line-height: 1.1;
  word-wrap: break-word;
}

// This is actually defined in content_minimal but that file is not imported
.unread {
    font-weight: bold;
}

// Fix for location input appearing behind map on search member page
.ui-front {
    z-index: 2000!important;
}

// Use own blockquote style
blockquote {
  color: #444;
  background: #f8f8f8;
  border: 1px #ddd solid;
  border-left: 8px #ddd solid;
  padding: 1rem;
  margin: 1rem;
}

.jumbotron {
  a {
    color: $brand-primary;
  }
}

.leaflet-popup-content-wrapper{
  border-radius: 0.2rem;
}

.divlink  {
  color: black;
}

#message_thread {
  .message_own {
    @include make-col(11);
    padding: $pagination-padding-x;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    border-color: $border-color;
    background-color: #91ff8e;
  }

  .message_other {
    @include make-col(11);
    // @include make-col-offset(1);
    padding: $pagination-padding-x;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    border-color: $border-color;
    background-color: #69d4d5;
  }

  .current {
    background-color: white;
  }
}

main {
  margin-top: 1rem;
}

// Tempus Dominus (temporary location)
$bs-datetimepicker-timepicker-font-size: 1.2em !default;
$bs-datetimepicker-active-bg: green !default;
$bs-datetimepicker-active-color: red !default;
$bs-datetimepicker-border-radius: $border-radius !default;
$bs-datetimepicker-btn-hover-bg: yellow !default;
$bs-datetimepicker-disabled-color: red !default;
$bs-datetimepicker-alternate-color: blue !default;
$bs-datetimepicker-secondary-border-color: #ccc !default;
$bs-datetimepicker-secondary-border-color-rgba: rgba(100, 100, 100, 0.2) !default;
$bs-datetimepicker-primary-border-color: white !default;
$bs-datetimepicker-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !default;

.bootstrap-datetimepicker-widget {
  list-style: none;

  &.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
    width: 12.8vw;

    &.timepicker-sbs {
      @media (min-width: map-get($grid-breakpoints, 'sm')) {
        width: 38em;
      }

      @media (min-width: map-get($grid-breakpoints, 'md')) {
        width: 38em;
      }

      @media (min-width: map-get($grid-breakpoints, 'lg')) {
        width: 38em;
      }
    }

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
    }

    &.bottom {
      &:before {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $bs-datetimepicker-secondary-border-color;
        border-bottom-color: $bs-datetimepicker-secondary-border-color-rgba;
        top: -7px;
        left: 7px;
      }

      &:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $bs-datetimepicker-primary-border-color;
        top: -6px;
        left: 8px;
      }
    }

    &.top {
      &:before {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $bs-datetimepicker-secondary-border-color;
        border-top-color: $bs-datetimepicker-secondary-border-color-rgba;
        bottom: -7px;
        left: 6px;
      }

      &:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $bs-datetimepicker-primary-border-color;
        bottom: -6px;
        left: 7px;
      }
    }

    &.float-right {
      &:before {
        left: auto;
        right: 6px;
      }

      &:after {
        left: auto;
        right: 7px;
      }
    }
  }

  .list-unstyled {
    margin: 0;
  }

  a[data-action] {
    padding: 6px 0;
  }

  a[data-action]:active {
    box-shadow: none;
  }

  .timepicker-hour, .timepicker-minute, .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: $bs-datetimepicker-timepicker-font-size;
    margin: 0;
  }

  button[data-action] {
    padding: 6px;
  }

  .btn[data-action="incrementHours"]::after {
    @extend .sr-only;
    content: "Increment Hours";
  }

  .btn[data-action="incrementMinutes"]::after {
    @extend .sr-only;
    content: "Increment Minutes";
  }

  .btn[data-action="decrementHours"]::after {
    @extend .sr-only;
    content: "Decrement Hours";
  }

  .btn[data-action="decrementMinutes"]::after {
    @extend .sr-only;
    content: "Decrement Minutes";
  }

  .btn[data-action="showHours"]::after {
    @extend .sr-only;
    content: "Show Hours";
  }

  .btn[data-action="showMinutes"]::after {
    @extend .sr-only;
    content: "Show Minutes";
  }

  .btn[data-action="togglePeriod"]::after {
    @extend .sr-only;
    content: "Toggle AM/PM";
  }

  .btn[data-action="clear"]::after {
    @extend .sr-only;
    content: "Clear the picker";
  }

  .btn[data-action="today"]::after {
    @extend .sr-only;
    content: "Set the date to today";
  }

  .picker-switch {
    text-align: center;

    &::after {
      @extend .sr-only;
      content: "Toggle Date and Time Screens";
    }

    td {
      padding: 0;
      margin: 0;
      height: auto;
      width: auto;
      line-height: inherit;

      span {
        line-height: 2.5;
        height: 2.5em;
        width: 100%;
      }
    }
  }

  table {
    width: 100%;
    margin: 0;


    & td,
    & th {
      text-align: center;
      border-radius: $bs-datetimepicker-border-radius;
    }

    & th {
      height: 20px;
      line-height: 20px;
      width: 20px;

      &.picker-switch {
        width: 145px;
      }

      &.disabled,
      &.disabled:hover {
        background: none;
        color: $bs-datetimepicker-disabled-color;
        cursor: not-allowed;
      }

      &.prev::after {
        @extend .sr-only;
        content: "Previous Month";
      }

      &.next::after {
        @extend .sr-only;
        content: "Next Month";
      }
    }

    & thead tr:first-child th {
      cursor: pointer;

      &:hover {
        background: $bs-datetimepicker-btn-hover-bg;
      }
    }

    & td {
      height: 54px;
      line-height: 54px;
      width: 54px;

      &.cw {
        font-size: .8em;
        height: 20px;
        line-height: 20px;
        color: $bs-datetimepicker-alternate-color;
      }

      &.day {
        height: 20px;
        line-height: 20px;
        width: 20px;
      }

      &.day:hover,
      &.hour:hover,
      &.minute:hover,
      &.second:hover {
        background: $bs-datetimepicker-btn-hover-bg;
        cursor: pointer;
      }

      &.old,
      &.new {
        color: $bs-datetimepicker-alternate-color;
      }

      &.today {
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          border: solid transparent;
          border-width: 0 0 7px 7px;
          border-bottom-color: $bs-datetimepicker-active-bg;
          border-top-color: $bs-datetimepicker-secondary-border-color-rgba;
          position: absolute;
          bottom: 4px;
          right: 4px;
        }
      }

      &.active,
      &.active:hover {
        background-color: $bs-datetimepicker-active-bg;
        color: $bs-datetimepicker-active-color;
        text-shadow: $bs-datetimepicker-text-shadow;
      }

      &.active.today:before {
        border-bottom-color: #fff;
      }

      &.disabled,
      &.disabled:hover {
        background: none;
        color: $bs-datetimepicker-disabled-color;
        cursor: not-allowed;
      }

      span {
        display: inline-block;
        width: 54px;
        height: 54px;
        line-height: 54px;
        margin: 2px 1.5px;
        cursor: pointer;
        border-radius: $bs-datetimepicker-border-radius;

        &:hover {
          background: $bs-datetimepicker-btn-hover-bg;
        }

        &.active {
          background-color: $bs-datetimepicker-active-bg;
          color: $bs-datetimepicker-active-color;
          text-shadow: $bs-datetimepicker-text-shadow;
        }

        &.old {
          color: $bs-datetimepicker-alternate-color;
        }

        &.disabled,
        &.disabled:hover {
          background: none;
          color: $bs-datetimepicker-disabled-color;
          cursor: not-allowed;
        }
      }
    }
  }

  &.usetwentyfour {
    td.hour {
      height: 27px;
      line-height: 27px;
    }
  }
}

.input-group.date {
  & .input-group-addon {
    cursor: pointer;
  }
}