// Include fonts

@import "mixins";

$font-path: '../fonts/';
@include font-face('Signika-Bold', $font-path + 'signika-bold-webfont', normal, normal);
@include font-face('Signika-Regular', $font-path + 'signika-regular-webfont', normal, normal);

@import '../../../../node_modules/lato-font/scss/public-api';

$lato-font-path: '../fonts';

@include lato-include-font('black');
@include lato-include-font('medium');

@import '../../../../node_modules/font-awesome/scss/font-awesome';

// Core variables and mixins
@import "custom";
$font-family-bold: Signika-bold, Arial;


@import "../../../../node_modules/bootstrap/scss/bootstrap";

@import "general";

// include page styles
@import "navbar";
@import "home";
@import "profile";
@import "activities";
@import "forumgroups";
@import "edit";
@import "messages";
@import "map";
@import "admin";

// select2
@import "../../../../node_modules/select2/src/scss/core";
@import "../../../../node_modules/select2-theme-bootstrap4/src/select2-bootstrap";

// Set yaml classes to keep old style alive and constistent
@import "yaml";
@import "navs";
@import "search";
@import "groups";
@import "forums";
@import "gallery";
@import "offcanvas";
@import "tempusdominus_bootstrap4";

.badge-warning {
  @include badge-variant(white);
  color: $brand-primary;
}

.map {

}

.username{
  line-height: 1.1;
  word-wrap: break-word;
}

// This is actually defined in content_minimal but that file is not imported
.unread {
    font-weight: bold;
}

// Fix for location input appearing behind map on search member page
.ui-front {
    z-index: 2000!important;
}

// Use own blockquote style
/*
blockquote {
  color: #444;
  background: transparent;
  border: 1px #ddd solid;
  border-left: 8px #ddd solid;
  padding: 0 1rem;
  margin: 0;
}
 */

.jumbotron {
  a {
    color: $brand-primary;
  }
}

.leaflet-popup-content-wrapper{
  border-radius: 0.2rem;
}

.divlink  {
  color: black;
  display: block;
  width: 100%;
  height: 100%;

  .p{
    margin-bottom: 0.5rem !important;
  }
}

main {
  margin-top: 1rem;
}

.metrics {
  margin: 1em 0 0;
  overflow: auto;
}

.metrics .metric {
  float: left;
  margin: 0 1em 1em 0;
}

.metric {
  background: #FFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0 0 1px rgba(128, 128, 128, .2);
  min-width: 100px;
  min-height: 70px;
}

.metric .value {
  display: block;
  font-size: 28px;
  padding: 8px 15px 4px;
  text-align: center;
}

.metric .label {
  background: #E0E0E0;
  color: #222;
  display: block;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
}

/* make sure translations are shown above the footer but loaded after it as this allows to translate the footer as well */
#translations {
  order: 1;

  margin-top: 1em;
}

#footer_content {
  order: 2;
}
