/************* HTML tags *************/


/************* classes *************/

.preflabel {
	background-color: #faf5dd;
	font-weight: bold;
	padding: 2px;
}

.preftd {
	width: 20%;
}

.prefsel {
	border: 1px solid black;
	background-color: #faf5dd;
}

.signupboxes {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	background-color: #faf5dd;
}

.signuptables {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0px 0px 0px;
	padding: 5px;
	background-color: #faf5dd;
	width: 100%;
}

.signuptables select,
.signuptables textarea {
	border: 1px solid black;
}

.signupborders {
	border: 1px solid black;
}

.signuptables a {
	margin-left: 10px;
	position: relative;
	z-index: 20;
}

.signuptables a span {
	display: none
}

.signuptables a:hover {
	background:;
	z-index: 25;
}
 
.signuptables a:hover span {
	position: absolute;
	border: 1px solid black;
	top: 10px;
	left: 0px;
	padding: 2px;
	width: 400px;
	display: block;
	background-color: white;
}

.signuptexts {
	width: 95%;
	height: 100px;
}

.signupvisible {
	color: green;
	font-size: .9em;
}

.signuphidden {
	color: red;
	font-size: .9em;
}

.signuplabels {
	width: 20%;
}

.signupinputs {
	width: 40%;
}

.signupname {
	margin-right: 5px;
	border: 1px solid black;
}

/************* IDs *************/

#preferencesTable td {
	padding: 0px 15px 15px 0px;
	vertical-align: top;
}

#preferencesTable input {
	border: 1px solid black;
	background-color: #faf5dd;
}

#signup {
	padding: 70px 140px 0px 140px;
}

#signupheader {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

#signupterms {
	width: 80%;
}

#signupterms textarea{
	width: 98%;
	height: 100px;
}

#signupagree {
	font-weight: bold;
	text-align: center;
}

#signupagree input {
	margin-right: 10px;
}

#signupsubmit {
	background-color: white;
	border: 1px solid black;
}

#signupstreet {
	width: 90%;
	border: 1px solid black;
}
