{% import 'macros.twig' as macros %}
<div class="u-block u-mr-24" id="welcomeavatar">
    <div>
        {{ macros.roundedavatarstack( member.Username, 96, true) }}
        <div class="hoststatus">
            <img src="/images/icons/{{ member.Accommodation }}.png">
        </div>
    </div>
</div>