@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2b (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.1
 */

@media screen, projection
{
  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background: #f7f7f7 url(../images/bggrey.png) top left repeat-x;
      margin:0;
      padding:0;
      height:100%;
  }

    #container {
        min-height:100%;
        position:relative;
    }

  /* Layout Alignment | Layout-Ausrichtung */
  #page_margins { min-width: 900px; max-width: 960px; margin: 0 auto; width: auto;
      padding-bottom:10em;   /* Height of the footer */
  }
  #page { padding: 0;
  }

  
  /* Layout Properties | Layout-Eigenschaften */
  #header { background: #f37000; width: 100%;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    display: inline-block}
  #topnav { float: right; margin: 0 2em 1em 2em}  
  #nav { top: 0; padding: 0 2em; background-color: #f37000;}
  #teaser { margin: 0 0 1em 0; background: transparent url(../images/teaser_bg_white2.png) no-repeat bottom left; }
  #main { padding: 0 4em; }
  #bottom { height:10em;
      position:absolute;
      bottom:0;
      border-top: 1px solid white;
      background-color: #646464;
      width: 100%;
  }
  #footer { min-width: 900px; max-width: 960px; margin: 0 auto; width: auto; padding: 1em 2em 0.25em 2em; color:#e3e3e3; }

 /*------------------------------------------------------------------------------------------------------*/

 /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #col1 { float: right; width: 20%}
  #col2 { display:none}
  #col2_content { display:none}

  #col3 { width: auto; margin: 0 20% 0 0}
  #col1_content { padding: 0 0 0 2em }
  #col3_content { padding: 0 2em 0 0 }


}
