{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.tools.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'tools.headline' | trans }}</h1>
    {{ form(form) }}
{% endblock content %}