{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.tools.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'admin.tools.headline' | trans }}</h1>
    <h2>{{ 'admin.tools.change_username' | trans }}</h2>

    {{ form(form) }}

{% endblock content %}