# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    router.request_context.host: '%env(web_host)%'
    router.request_context.scheme: 'https'
    new_members_messages_per_hour: "%env(int:new_members_messages_per_hour)%"
    new_members_messages_per_day: "%env(int:new_members_messages_per_day)%"
    new_members_requests_per_hour: "%env(int:new_members_requests_per_hour)%"
    new_members_requests_per_day: "%env(int:new_members_requests_per_day)%"
    data_directory: "%kernel.project_dir%/data"
    group_directory: "%kernel.project_dir%/%env(group_directory)%"
    gallery_directory: "%kernel.project_dir%/%env(gallery_directory)%"
    upload_directory: "%kernel.project_dir%/%env(upload_directory)%"
    newsletter_image_directory: "%kernel.project_dir%/%env(newsletter_image_directory)%"
    massmail_batch_size: '%env(int:massmail_batch_size)%'
    forum_notification_batch_size: '%env(int:forum_notification_batch_size)%'
    locales: "%env(csv:LOCALES)%"
    document_locales: "%env(DOCUMENT_LOCALES)%"
    app.username.regexp: !php/const App\Entity\Member::USERNAME_REGEXP
    manticore.host: '%env(MANTICORE_HOST)%'
    manticore.port: '%env(int:MANTICORE_PORT)%'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services; this also means
        # fetching services directly from the container via $container->get() won't work.
        # The best practice is to be explicit about your dependencies anyway.
        bind:
            $projectDir: '%kernel.project_dir%'
            $refreshTokenTtl: '%env(APP_REFRESH_TOKEN_TTL)%'
            $manticoreHost: '%manticore.host%'
            $manticorePort: '%manticore.port%'
            $locales: '%locales%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Model/MemberDataExtractor/DoctrineExtractor.php,Twig,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: [ 'controller.service_arguments' ]


    App\ApiPlatform\JWTAuthorizationDecorator:
        decorates: 'api_platform.openapi.factory'
        arguments: ['@.inner']

#    App\Swagger\SwaggerDecorator:
#        decorates: 'api_platform.swagger.normalizer.documentation'
#        arguments: ['@App\Swagger\SwaggerDecorator.inner']
#        autoconfigure: false

    App\Security\RefreshToken\RefreshTokenStorageInterface: '@App\Security\RefreshToken\DoctrineRefreshTokenStorage'

    App\Security\RefreshToken\JWTTokenManager:
        decorates: lexik_jwt_authentication.jwt_manager
        arguments:
            $decorated: '@App\Security\RefreshToken\JWTTokenManager.inner'

    App\Command\RefreshTokensExpireCommand:
        arguments:
            $repository: '@App\Repository\MemberRepository'

    App\Command\DataRetentionCommand:
        arguments:
            $dataDirectory: '%data_directory%'

    App\Command\SendMassmailCommand:
        arguments:
            $batchSize: '%massmail_batch_size%'

    App\Command\SendCommentReminderCommand:
        arguments:
            $batchSize: '%massmail_batch_size%'

    App\Command\SendNotificationsCommand:
        arguments:
            $batchSize: '%forum_notification_batch_size%'

    App\Serializer\MemberContextBuilder:
        decorates: api_platform.serializer.context_builder
        arguments:
            $decorated: '@App\Serializer\MemberContextBuilder.inner'

    app.member_data_extractor.activities:
        class: App\Model\MemberDataExtractor\ActivitiesExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.comments:
        class: App\Model\MemberDataExtractor\CommentsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.donations:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\Donation'
            $memberRelationName: donor
            $alias: donations
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.forums_posts:
        class: App\Model\MemberDataExtractor\ForumPostsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.gallery_items:
        class: App\Model\MemberDataExtractor\GalleryItemsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.group_information:
        class: App\Model\MemberDataExtractor\GroupInformationExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.messages:
        class: App\Model\MemberDataExtractor\MessagesExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.member_data:
        class: App\Model\MemberDataExtractor\MemberDataExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.polls:
        class: App\Model\MemberDataExtractor\PollsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.privileges:
        class: App\Model\MemberDataExtractor\PrivilegesExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.profile_pictures:
        class: App\Model\MemberDataExtractor\ProfilePicturesExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.requests:
        class: App\Model\MemberDataExtractor\RequestsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.invitations:
        class: App\Model\MemberDataExtractor\InvitationsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.rights:
        class: App\Model\MemberDataExtractor\RightsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.special_relations:
        class: App\Model\MemberDataExtractor\SpecialRelationsExtractor
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.broadcasts:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\BroadcastMessage'
            $memberRelationName: receiver
            $alias: broadcasts
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.newsletters:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\Newsletter'
            $memberRelationName: createdBy
            $alias: newsletters
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.community_news:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\CommunityNews'
            $memberRelationName: createdBy
            $alias: communitynews
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.logs:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\Log'
            $memberRelationName: member
            $alias: logs
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.shouts:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\Shout'
            $memberRelationName: member
            $alias: shouts
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.subscriptions:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\MemberThreadSubscription'
            $memberRelationName: subscriber
            $alias: subscriptions
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.translations:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\Word'
            $memberRelationName: author
            $alias: translations
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.gallery:
        class: App\Model\MemberDataExtractor\GalleryItemsExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\MemberThreadSubscription'
            $memberRelationName: subscriber
            $alias: subscriptions
        tags: [ 'app.member_data_extractor' ]

    app.member_data_extractor.trips:
        class: App\Model\MemberDataExtractor\DoctrineExtractor
        factory: [ '@App\Model\MemberDataExtractor\DoctrineExtractorFactory', 'create' ]
        arguments:
            $className: 'App\Entity\Trip'
            $memberRelationName: creator
            $alias: trips
        tags: [ 'app.member_data_extractor' ]

    App\Model\MemberModel:
        arguments:
            $extractors: !tagged_iterator app.member_data_extractor

    translation.loader.db:
        public: true
        class: App\TranslationLoader\DatabaseLoader
        tags:
            - { name: translation.loader, alias: db }

    App\EventListener\LocaleListener:
        public: true
        tags:
            - { name: kernel.event_subscriber }

    App\Controller\Admin\TranslationController:
        arguments:

    App\Controller\Admin\MockupController:
        arguments:
            $providers: !tagged_iterator app.mockup_provider

    App\Model\SuggestLocationModel:
        arguments:
            $manticoreHost: '%manticore.host%'
            $manticorePort: "%manticore.port%"

    app.user_locale_listener:
        public: true
        class: App\EventListener\UserLocaleListener
        arguments: [ '@session', '@doctrine.orm.entity_manager' ]
        tags:
            - { name: kernel.event_subscriber }

    app.userprovider:
        public: true
        class: App\Provider\UserProvider
        arguments: [ '@doctrine.orm.entity_manager' ]

    #    rox.legacy_dispatch_listener:
    #        class: App\EventListener\LegacyDispatchListener
    #        arguments: ['@rox.legacy_kernel', '@session', '@security.token_storage' ]
    #        tags:
    #            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException, priority: 200000 }

    rox.legacy_kernel:
        class: App\LegacyKernel\LegacyHttpKernel
        public: true
        arguments: [ '@twig', '@event_dispatcher', '@controller_resolver', '@request_stack', '@argument_resolver', '@service_container' ]

#    rox.legacy_password_hasher:
#        public: true
#        class: App\Security\LegacyPasswordHasher

    rox.legacy_loader:
        public: true
        class: App\Routing\LegacyLoader
        tags:
            - { name: routing.loader }

    rox.legacy_controller:
        public: true
        class: App\Controller\LegacyController
        calls:
            - [ setContainer, [ '@service_container' ] ]

    rox.twig_extension:
        public: true
        class: App\Twig\Extension
        arguments:
            $publicDirectory: '%kernel.project_dir%/public'
        tags:
            - { name: 'twig.extension' }

    rox.member_twig_extension:
        class: App\Twig\MemberTwigExtension
        public: true
        arguments: [ '@session', '@router', '@security.helper' ]
        tags:
            - { name: twig.extension }

    pagerfanta.bootstrap4.ajax.template:
        public: true
        class: App\Pagerfanta\TwitterBootstrap4AjaxTemplate

    pagerfanta.bootstrap4.ajax.view:
        public: true
        class: Pagerfanta\View\DefaultView
        arguments:
            - "@pagerfanta.bootstrap4.ajax.template"
            - "@translator"
        tags: [ { name: pagerfanta.view, alias: twitter_bootstrap4_ajax_translated } ]

    rox.logger:
        class: App\Logger\Logger
        arguments: [ '@doctrine.orm.entity_manager', '@security.helper' ]

    rox.datacollector_translator:
        public: true
        class: Symfony\Component\Translation\DataCollectorTranslator
        decorates: translator
        arguments: [ '@rox.datacollector_translator.inner' ]

    rox.user_checker:
        public: true
        class: App\Security\UserChecker
        autowire: true

    rox.default.pagerfanta:
        class: Pagerfanta\View\OptionableView
        arguments:
            - '@pagerfanta.view.twitter_bootstrap4'
            - { proximity: 2, prev_message: '«', next_message: '»' , css_container_class: 'pagination float-right' }
        public: false
        tags: [ { name: pagerfanta.view, alias: rox_default } ]

    rounded_pagination.pagerfanta.view:
        class: Pagerfanta\Twig\View\TwigView
        arguments:
            - '@twig'
            - 'pagerfanta/rounded_pagination.html.twig'
        public: false
        tags: [ { name: pagerfanta.view } ]

    rounded_pagination.pagerfanta:
        class: Pagerfanta\View\OptionableView
        arguments:
            - '@rounded_pagination.pagerfanta.view'
            - { proximity: 1 }
        public: false
        tags: [ { name: pagerfanta.view, alias: rounded_pagination } ]

    rounded_pagination_end.pagerfanta.view:
        class: Pagerfanta\Twig\View\TwigView
        arguments:
            - '@twig'
            - 'pagerfanta/rounded_pagination_end.html.twig'
        public: false
        tags: [ { name: pagerfanta.view } ]

    rounded_pagination_end.pagerfanta:
        class: Pagerfanta\View\OptionableView
        arguments:
            - '@rounded_pagination_end.pagerfanta.view'
            - { proximity: 1 }
        public: false
        tags: [ { name: pagerfanta.view, alias: rounded_pagination_end } ]

    #  doctrine.filter.configurator:
    #    public: true
    #    class: App\Doctrine\Filter\Configurator
    #    arguments:
    #      - "@doctrine.orm.entity_manager"
    #      - "@request_stack"
    #      - "@annotation_reader"
    #    tags:
    #      - { name: kernel.event_listener, event: kernel.request }

    rox.wiki.model:
        public: true
        class: App\Model\WikiModel
        arguments:
            - "@doctrine.orm.entity_manager"

    \HTMLPurifier:
        alias: rox.html_purifier

    rox.words_extractor:
        class: App\Utilities\WordsExtractor
        tags: [ { name: translation.extractor, alias: words } ]

    #  rox.activator:
    #    class: App\Activator\RoleActivator
    #    arguments: ["@security.helper"]

    App\Model\TranslationModel:
        public: true
        arguments:
            $cacheDirectory: '%kernel.cache_dir%'

    Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler:
        arguments:
            - !service { class: PDO, factory: [ '@database_connection', 'getWrappedConnection' ] }
            - { lock_mode: LOCK_NONE }

    Symfony\Bridge\Doctrine\Security\RememberMe\DoctrineTokenProvider: ~

    App\Controller\PoliciesController:
        public: true
        arguments:
            $locales: "%document_locales%"

    app.mockup_provider.my_data:
        class: App\Model\MockupProvider\MyDataMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.landing:
        class: App\Model\MockupProvider\LandingMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.forums:
        class: App\Model\MockupProvider\ForumMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.groups:
        class: App\Model\MockupProvider\GroupMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.message:
        class: App\Model\MockupProvider\MessageMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.unsubscribe_newsletter:
        class: App\Model\MockupProvider\NewsletterUnsubscribeMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.newsletters:
        class: App\Model\MockupProvider\NewslettersMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.errors:
        class: App\Model\MockupProvider\ErrorMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.requests:
        class: App\Model\MockupProvider\RequestMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.invitations:
        class: App\Model\MockupProvider\InvitationMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.signups:
        class: App\Model\MockupProvider\SignupMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.home_and_login:
        class: App\Model\MockupProvider\HomeAndLoginMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.policies:
        class: App\Model\MockupProvider\PoliciesMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.passwords:
        class: App\Model\MockupProvider\PasswordMockups
        tags: [ 'app.mockup_provider' ]

    app.mockup_provider.comments:
        class: App\Model\MockupProvider\CommentMockups
        tags: [ 'app.mockup_provider' ]
