.welcomeback{
    min-height: 100px;
    background-color: #EEEEEE;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 1px #888888;
}
.hoststatus{
    position:relative;
    top: 40px;
}
.welcome{
    font-size: 2.4em;
    font-weight: 900;
}
.hostcity{
    font-size: 1.2em;
    font-weight: bold;
}
.searchhost{
    position: absolute;
    top: 25px;
    right: 10px;
}
.marginbottom{
    margin-bottom: 2em;
}
.dashbox{
    border: 0.3em solid #FFF;
    overflow: hidden;
    box-shadow: 0 0 2px #888;
    height: 30em;
}
.readunread{
    background-color: #FFF;
    padding: 1em;
    text-align: center;
}
.dashentry{
    padding: 1em;
    line-height: 1em;
}
.odd{
    background-color: #FFF;
}
.even{
    background-color: #EEE;
}
.scrollcontent{
    position:relative;
    max-height: 20em;
    height:100%;
    width: 105%;
    width: calc(100% + 20px);
    overflow-x:hidden;
    overflow-y:visible;
}
.chevplace{
    top: 1.1em;
    right: 0px;
}
.center{
    text-align: center;
}
.shadow{
    box-shadow: 0 0 2px #888;
}
.widget{
    background-color: #FFF;
    box-shadow: 0 0 2px #999;
    padding: 1em;
}
.smallmargin{
    margin: 1em 0 1em 0;
}
.dashentrytext{
    font-size: 1.2em;
}
.unread{
    font-weight: bold;
}
.smalltext{
    font-size:0.7em;
}