<?php
/**
 * Configuration
 *
 * @package core
 * @author The myTravelbook Team <http://www.sourceforge.net/projects/mytravelbook>
 * @copyright Copyright &copy; 2005, myTravelbook Team
 * @license http://www.gnu.org/licenses/gpl.html GNU General Public License (GPL)
 * @version $Id: config.inc.php.example 205 2007-02-11 15:42:52Z marco $
 */
// database dsn (see: http://www.php.net/manual/en/ref.pdo.php)
$db['dsn']  = 'mysql:host=localhost;dbname=mtb';
// username
$db['user']     = 'mtb';
// password
$db['password'] = 'mtb';

// SMTP server config
$smtp['backend']  = 'mail'; // "mail", "smtp" or "sendmail"
$smtp['host']     = 'mail.server.example';
$smtp['port']     = 25;
$smtp['auth']     = true;
$smtp['username'] = 'mailuser';
$smtp['password'] = 'mailpassword';

// mail addresses
$mailAddresses['registration'] = 'registration@mytravelbook.org';

$request['prefix'] = '';

$env['baseuri']       = 'http://localhost/bw/';
$env['cookie_prefix'] = 'bw_';
$env['session_name']  = 'sidTB';
$env['suspend_url']   = 'http://www.bewelcome.org/tb/suspendinfo.html';

// Your Google Maps API Key (only valid per domain/directory)
$google['maps_api_key'] = '';
// The URL to the geoname webservice (this default is probably ok for you)
$google['geonames_webservice'] = 'http://ws.geonames.org/search?q={query}&maxRows={rows}&style=LONG';


// Chat settings (optional)
$chat = array();
// $chat['host'] = 'your.chat.domain';
// $chat['port'] = 6667;
// $chat['channel'] = '#mytravelbook';




//*******************************************************
// PLEASE DO NOT EDIT BEYOND THIS LINE
//*******************************************************

PVars::register('config_rdbms', $db);
unset($db);
PVars::register('config_smtp', $smtp);
unset($smtp);
PVars::register('config_mailAddresses', $mailAddresses);
unset($mailAddresses);
PVars::register('config_request', $request);
unset($request);
PVars::register('config_google', $google);
unset($google);
PVars::register('config_chat', $chat);
unset($chat);
PVars::register('env', $env);
define('SESSION_NAME', $env['session_name']);
unset($env);
?>