<p>
    {% trans with {'%admin%': admin.Username, '%group_start%': group_start, '%group_end': group_end, '%groupname%': group.Name} %}%admin% approved your application for %group_start%"%groupname%"%group_end% and you are now a member of that group.{% endtrans %}
</p>
