<p>
    {% trans with {'%username%': receiver.Username} %}email.greeting{% endtrans %}<br><br>
    {% trans with {'%username%': sender.Username, '%groupname%': group.Name} %}%username% wants to join the group "%groupname%".{% endtrans %}
</p>
<p>
    {% trans with {'%accept_start': accept_start, '%accept_end': accept_end, '%decline_start': decline_start, '%decline_end': decline_end} %}You can %accept_start%accept%accept_end% or %decline_start%decline%decline_end% this request.{% endtrans %}
</p>
<p>{{ 'email.farewell' | trans }}</p>
