/*
@layer components {

  .ts-dropdown .create:hover, .ts-dropdown .option:hover {
    @apply u-bg-bewelcome u-text-white;
  }

  .ts-dropdown .active {
    @apply u-bg-bewelcome u-text-white;
  }

  .ts-wrapper {
    @apply u-w-full;
  }

  .ts-control > input {
    height:40px;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    @apply shadow-sm u-rounded-8 u-border-gray-30 u-bg-white u-py-2 u-px-3 u-text-base;
  }

  .ts-dropdown {
    @apply border border-solid border-t u-border-gray-30 u-text-base;
  }

  .ts-wrapper.multi .ts-control > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #f37000;
    color: #fff;
    border: 1px solid #f37000;
  }
}
*/
