@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(u);
@import "tailwindcss/utilities.css" layer(utilities);

@import './objects/objects.css';
@import './components/components.css';
@import "./layouts/layouts.css";

@source not "../../public/";

@theme {
  --color-white: white;
  --color-bewelcome: oklch(0.6914 0.1856 48.95);
  --color-bewelcome-dark: oklch(0.3457 0.1856 48.95);
  --color-bewelcome-light: oklch(0.7977 0.1856 48.95);

  --spacing: 1px;
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-72: 72px;
  --spacing-96: 96px;
  --spacing-150: 150px;
  --spacing-300: 300px;

  --radius-4: 4px;
  --radius-5: 5px;
  --radius-8: 8px;
  --radius-full: 100%;

  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-24: 24px;
  --text-26: 26px;
  --text-28: 28px;

  --font-signika: "Signika", sans-serif;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
}

p {
  margin-bottom: 0;
}

/* Screen width */
@media screen and (max-width: 600px) {
    :root {
       --width: 1px;
   }
 }

 @media screen and (min-width: 601px) and (max-width: 1200px) {
    :root {
       --width: calc(100vw / 1440);
   }
 }

 @media screen and (min-width: 1201px) {
     :root {
         --width: 1px;
     }
 }

#message_thread img {
  max-width: 100%;
  height: auto;
}
