{% extends 'base.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    <h1>{{ title | title }}</h1>

    <div id="wiki">{{ wikipage | raw }}</div>

    <a class="btn btn-primary mb-3 float-right" href="{{ url('wiki_page_edit', { 'pageTitle': title}) }}">{{ 'wiki.page.edit' | trans }}</a>

{% endblock content %}