
/* ######################################################################################################
** ### YAML Customizing for BW | File 1 ##################################################################
** ######################################################################################################
*/

@media all
{

/* Formatierung der Seite */
/*body {
	background: #fff;
	padding: 0;
	color: #000;
	font-size: 80%;
	font-family: Arial,'Trebuchet MS', Verdana, Helvetica, sans-serif;
}*/

/* ###########################################
** ### modifications to base.css #############
** ###########################################
*/

/* Here you can set a border around the whole page */
/*  body { background: #889 url(../images/body_bg.png) repeat-x top left;} */
	
  /* (en) Centering layout in old IE-versions */
  /* (de) Zentrierung des Layouts in alten IE-versionen */
  body { text-align: center }
  #page_margins { text-align:left }

#page {
	border-right: 0px #f6f6f6 solid;
	border-left: 0px #f6f6f6 solid;
	background: #fff /*url(../images/page_bg.png) repeat-x top left*/; 
	max-width: 900px;
	margin: auto;
}

#page_margins {
/*	border-left: 2px #667 solid;
	border-right: 2px #667 solid;
	border-bottom: 5px #667 solid;*/
	background: #fff;
	min-width: 756px;
/*	max-width: 1105px;*/
	margin:auto;
/*    background: #fff url(/images/misc/global_bg_greywhite.png) repeat-y top center; */
}


/* formatting of the header */
#header {
	background: none;

}

#header #logo {
  top: 0;
}

#topnav {
position:relative;
float: left;
text-align: left;
top: 0;
right: 0;
}
#topnav #logobox{
position:relative;
height:62px;
width: 402px;
margin: 0;
padding: 0;
background: #fff url(../../../images/topandlogo.png) no-repeat top left;
}


/* ###########################################
** ### Content columns customizing ###########
** ###########################################
*/

#main {
	padding: 0 0 0 12px;
	background: #fff;
}

#col1 { width: 180px; float: right;} 
#col2 { width: 0; display: none;} 

#col3 { 
	margin: 0; padding:0; 
	margin-right:180px;
	margin-left: 0;
	border-left: none; /*
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #999;*/
}

#col1_content  {
	margin:0;
	padding: 10px 30px 15px 10px;
}
#col2_content {
	margin:0;
	padding: 10px 30px 15px 10px;
}
#col3_content {
	margin: 0;
	padding: 0;
	background: #fff;
}

/* ############################
** ### Teaser layout #################
** ############################
*/
#teaser {
	margin: 0; 
	padding: 1em 0 0 0; 
/*	background: url(../images/top2_bg_a.png) top left repeat-x;  */
	border-bottom: none; 
}

#teaser #teaser_l {
	float:left; 
	width: 140px;
	padding-bottom: 10px;
	padding-left: 0;
	margin: 0;
}
#teaser #teaser_r {
	width: 65%;
	padding-bottom:10px;
	float:left;
	margin: 0 0 0 25px;
}

/* Media all end */
}
