@charset "UTF-8";
/**
* "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
*
*  YAML Version: 3.0.2
*  file       : bw_content.css
*  function   : formatting  of content (text, graphics, links, lists, tables, etc.)
*
*  last modification: 38.09.07 by Matthias Hess (BW: matthias)
*  
*/

@media all
{
  /**
   * Fonts
   * (en) font-family and font-size selection for headings and standard text elements
   *
   * @section content-fonts
   */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  html * { font-size: 100.01% }

  /* (en) base layout gets standard font size 12px */
  body {
	font-family: Arial,'Trebuchet MS', Verdana, Helvetica, sans-serif;
    font-size: 75.00%; 
  }

  /* ### headings ### */
  h1,h2,h3,h4,h5 { font-family: Arial,'Lucida Grande', Verdana, Sans-Serif; font-weight:normal; }

  h1 {font-size: 1.6em; color: #000; margin: 0 0 0.25em 0; padding-top: 1em; letter-spacing: -0.05em; font-weight:bold; }
  h2 {font-size: 1.3em; color: #333; margin: 0 0 0.25em 0; padding-top: 1em; letter-spacing: -0.05em; font-weight:bold; }
  h3 {font-size: 1.3em; color: #006; margin: 0 0 0.25em 0; padding-top: 1em; letter-spacing: -0.05em; font-weight:bold; border-bottom: 1px solid #eee; } 
  h4 {font-size: 1.0em; color: #333; margin: 0 0 0.30em 0; padding-top: 1em; font-weight:bold; border-bottom: none;} 
  h5 {font-size: 1.0em; color: #888; margin: 0 0 0.30em 0; font-style:italic; 	padding-top: 3px; margin-bottom: 0; font-style: normal; color: #333;}
  h6 {font-size: 1.0em; color: #888; margin: 0 0 0.30em 0; font-style:italic; }

  h2 span{ letter-spacing: normal;}
  h3 span { letter-spacing: normal;}
  h4 span{ letter-spacing: normal;}
  .list h5 {	padding-top: 0;}

  /* ### paragraphs ###*/
  p,ul,dd,dt { line-height: 1.5em; }
  p { line-height: 1.5em; margin: 0 0 1em 0; }

  /* ### text formatting  ### */
  strong,b {font-weight: bold; } 
  em,i { font-style:italic; }
  pre, code {	font-family: "Courier New", Courier, monospace; }
  address { font-style:normal; line-height: 1.5em; margin: 0 0 1em 0; }
  
  acronym, abbr {
  	letter-spacing: .07em;
  	border-bottom: 1px dashed #c00;
  	cursor: help;
  }
  
  blockquote { 
	color: #444; 
	background: #f8f8f8; 	
	border: 1px #ddd solid;
	border-left: 8px #ddd solid;
	padding: 1em 1em 0 1em;
	margin: 0 0 1em 1em;
}
  
  hr { 
  	color: #fff; 
  	background:transparent; 
  	margin: 0 0 0.5em 0; 
  	padding: 0 0 0.5em 0; 
  	border:0; 
  	border-bottom: 1px #eee solid; 
  }
  
   /**
   * Generic Content Classes
   * (en) standard classes for positioning and highlighting
   *
   * @section content-generic-classes
   */
  .note {background: #F5F5F5; padding: 1em; border-top: 1px #888 dotted; border-bottom: 1px #888 dotted;}
  .important {background: #ffd; padding: 1em; border-top: 1px #ddb dotted; border-bottom: 1px #dbb dotted;}
  .warning {background: #fdd; padding: 1em; border-top: 1px #dbb dotted; border-bottom: 1px #dbb dotted;}
  .error {background: #FFEBE8; padding: 1em; border-top: 1px #FF0000 dotted; border-bottom: 1px #FF0000 dotted; }
  .highlight {background: #faf5dd url(../images/cell_bg.jpg) repeat-x;}
  
  .grey {color: #888; }
  

  .float_left { float: left; display:inline; margin-right: 1em; margin-bottom: 0.15em;  }
  .float_right { float: right; display:inline; margin-left: 1em; margin-bottom: 0.15em;  }
  .center { text-align:center; margin: 0.5em auto }
  

  /* ### image positioning ### */
  img.float_left { float: left; margin-right: 1em; margin-bottom: 0.15em; border:0; }
  img.float_right { float: right; margin-left: 1em; margin-bottom: 0.15em; border:0; }
  img.center { text-align:center; background: #fff; padding: 4px; border:1px #ddd solid; }
  img.framed {padding:4px; border: 1px #ddd solid; background: #f3f3f3 } 

  /**
   * Local and external Links
   *
   * (en) Formatting of hyperlinks
   *
   */
  a, a em.file {color: #ff8800; text-decoration:none; background-color:transparent;}
  a:hover {background-color: #ff8800; color: #fff; text-decoration:none;}
  a:focus {background-color: #ff8800; color: #fff; text-decoration:none;}

  #topnav a { color: #fff; background:transparent; text-decoration:none; }
  #topnav a:hover { text-decoration:underline; background-color: transparent;}
  #topnav a:focus { text-decoration:underline; background-color: transparent;}

  /*#main a[href^="http:"], #main a[href^="https:"]
    {
    	padding-left: 12px;
    	background-image: url('../../img/icons/ext_link.gif');
    	background-repeat: no-repeat;
    	background-position: 0 0.45em;
    }
    */
  #main a.imagelink {
  	padding-left: 0;
  	background: transparent;
  }

  /**
   * Tables
   * (en) Generic classes for table-width and design definition
   *
   * @section content-tables
   */

  table { width: auto; border-collapse:collapse; margin-bottom: 0.5em; }
  table.full { width: 100%; }
  table.fixed { table-layout:fixed }
  table.framed {border: 1px solid; 	border: none 0pt;	border-bottom: 1px solid #e5e5e5; }

  th,td { padding: 0.5em; }
  thead th { background: #444; color: #fff }
  tbody th { background: #faf5dd url(../images/content_shadow.png) repeat-x; color: #333;}
  tbody th.sub { background: #ddd; color: #333 } 

  /* standard tablelist highlighting */
  tr.highlight{
	background: #f5f5f5;
	border: none 0pt;
	border-top: 1px solid #e5e5e5;
	margin-right: 4px;
  }
  tr.blank {
	border: none 0pt;
	border-top: 1px solid #e5e5e5;
	margin-right: 4px;
  }  
  tr.blank:hover,tr.highlight:hover {
	background: #ffeebb;
	border: none 0pt;
	border-top: 1px solid #e5e5e5;
	margin-right: 4px;
  }
  td.memberlist  {padding: 0.5em 0.5em 0.5em 0.5em;}
  td.connections  {text-align: center;}
  
  /* thick orange touch */
  tr.blank:hover,tr.highlight:hover {
	background: #ff8409 url(../images/cell_bg_orange.png) repeat-x;
  }
  tr.blank:hover *,tr.highlight:hover *{
	color: #fff;
  }
  tr.blank:hover a:active,tr.blank:hover a:hover,tr.highlight:hover a:active,tr.highlight:hover a:hover {
	color: #fff;
	text-decoration: underline;
	background: none;
  }
  
  /**
   * Forms
   * (en) Generic classes for forms, inputs and textareas
   *
   * @section content-forms
   */
   
  form {overflow:hidden;}

  textarea {
  	font-size: 1.2em;
  	font-family: Arial, Helvetica;
  	padding: 5px;
  }

  input, textarea, select {
    font-size: 1.2em;
    border: 1px #ccc solid;
    background: #fafafa;
    color: #777;
    padding: 1px;
  }
  input[type=image] {
    border: 0;
    background: transparent;
  }
  input[type=submit] {
    background:transparent url(../images/button_bg.png) repeat-x scroll 0%;
    border-color:#E5E5E5 rgb(187, 187, 187) rgb(187, 187, 187) rgb(229, 229, 229);
    border-style:solid;
    border-width:1px;
    color:#ff8800;
    font-size:11px;
    font-weight:bold;
    height:22px !important;
    line-height:20px !important;
    margin:1px;
    padding:1px 5px;
    text-align:center;
    width:auto !important;
  }
  
  input:focus, textarea:focus {
    background: #f0f0f0;
    color: #333;
    border-color: #666;
  }
  
  label {
    color: #333;
    font-weight: bold;
  }
  
  /**
   * Pagination
   * (en) Generic classes for pagination
   *
   * @section content-pagination
   */
   
   /* NEW by Lupochen */
  div.pages {clear:both; padding-top:15px; 	white-space: nowrap; }
  div.pages ul{float:right; margin:0;padding:0;}
  div.pages li{float: left; display:block; display:inline-block; height: 18px; line-height: 16px; margin:0; padding: 0 0.2em; }
  /*div.pages li.sep{border:0}
  div.pages li a {	height: 18px; line-height: 16px; display:block; text-align: center; font-size: 11px; background: #fff;}
  div.pages li.current {background:#ddd;}*/
  div.pages li.current a {color:#666;font-weight:bold; }
  div.pages li a:hover { color: #fff; background: #ff9900; }
  div.pages li a:active {	color: #fff; background: #ff9900;}

  /* give pagination our 'button' style */
 div.pages li a {
    background:transparent url(../images/button_bg.png) repeat-x scroll 0%;
    border-color:#E5E5E5 rgb(187, 187, 187) rgb(187, 187, 187) rgb(229, 229, 229);
    border-style:solid;
    border-width:1px;
    font-size:11px;
    font-weight:bold;
    height:18px !important;
    line-height:16px !important;
    margin:.2em;
    padding:1px 5px;
    text-align:center;
    width:auto;
}
div.pages li a:hover {background: transparent url(../images/cell_bg_orange.png) repeat-x scroll 0%;}
div.pages li a.off:hover {background: none; color: #666; }
div.pages li a {color: #ff8800; text-decoration:none; background-color:transparent;}
div.pages li a:hover {background-color: transparent; color: #333; text-decoration:none;}
div.pages li a:focus {background-color: transparent; color: #333; text-decoration:none;}
  
  /*\*/
   * html div.pages li a {
       width: 10px; /* IE */
   }
   /**/
    
  
  /* ### Teaser + Divs, lists, styles etc. in teaser ###*/
  #teaser_bg_layered {position: absolute; top: 75px; left: 0px; z-index: 5; width: 100%; border-bottom: 3px solid #666; background: #999 url(../images/top2_bg_a.png) repeat-x;}

  #teaser_bg {z-index: 1;}
  #teaser_bg_layered #teaser {max-width: 1100px; border-bottom: 1px solid #333;}
  #teaser h1, #teaser h2,#teaser h3,#teaser h4,#teaser h5,#teaser p,#teaser a,#teaser span,#teaser div {color: #fff}
  #teaser h1 {font-size: 2em; padding: 0 0 5px 5px; margin: 0; line-height: 1.5em; word-wrap: break-word; white-space: word-break;}
  #teaser h2 {font-size: 1.3em; padding-top: 0.5em;}
  #teaser h3 {font-size: 1.2em; padding-top: 0.5em;}
  #teaser p {padding-top: 0.5em; }
  #teaser #teaser_l h1 {vertical-align: middle; text-align: left;	float: left; }
  #teaser #teaser_l h2 {margin: 0; }
  #teaser #teaser_l h3 {border-bottom: none; text-align:right; padding:0; margin:0; }
  
  #teaser #title { float: left; }
  #teaser .note {
    float: left;
    width: 70%;
    background-color: transparent;
    background-image: url(../images/info.gif);
    background-position:left top;
    background-repeat:no-repeat;
    border-bottom: 0;
    border-top: 0;
    padding: 0em 1em 1em 42px;
    margin-left: 2em;
    text-align: justify;  
  }

  /* mods in teaser */
  #teaser a { color: #ffffff; font-weight: bold; }
  #teaser a:hover {background-color: transparent; text-decoration:underline;}
  #teaser a:focus {background-color: transparent; text-decoration:underline;}

  #teaser q {font-size: 0.8em; font-style:italic;}

  #teaser th {padding: 0em 0em 0.5em 0em;}

  #teaser #profile-info {padding-top:0px;}
  #teaser #profile-info #username strong {font-size: 1.7em; line-height: 1.5em; padding: 10px 10px 10px 0; letter-spacing: -0.05em;} 
  #teaser #profile-info ul {padding: 0.3em 0em 0em 0em;}
  #teaser #profile-info li {line-height: 1.1em;}
  #teaser #profile-info p{float: left;}

  #teaser #navigation-path{
  	line-height: 1em;
  	white-space: nowrap;
  	font-size: 11px;
  	color: #ffffff;
  	padding: 0.4em 0em 1.4em 0em;
  	width: auto;
  }

  .notabs {
  	height: 5px;
  	background: transparent url(../images/tab2_bg.gif) repeat-x left bottom;
  /*	border: 1px dashed #CCCCCC;*/
  }


/* ###########################################
** ### subframe to hold the YAML subtemplates while using full cell background in col3_content #################################
** ###########################################
*/
#main div.subframe {
	padding: 0.7em 1.6em;
	margin-right: 4px;
}
#main div.subframe_inner {
  padding: 0 1px 0 1px;
 	margin: 0 -1px 0 -1px;
 	overflow: hidden;
	margin-right: 4px
}



/* ######################################################################################################
** ### special rulesets of the YAML standard layout #####################################################
** ######################################################################################################
*/

/* ###  formatting of text  ################################################################## */

/* Navigation at the end of the page */
p.navlink { background-color: #f4f8f4; border: 1px #aca dotted; padding: 6px; margin-bottom: 0.5em; }
p.navlink a { color: #353;}
p.navlink a:hover { font-weight: bold; background: transparent; }

/* Unordered lists without bullets */ 
ul.linklist { list-style-type: none; margin: 0 0 1em 0; }
ul.linklist li { margin: 0 0 0.5em 0;}
ul.linklist li a { line-height: 1em;}

/* CrossBrowser-Compatibility */ 
ul.browsers { margin: 0  0 .4em 0; }

ul.browsers li {
	margin: 0;
	list-style-type: none;
	background: #f8f8f8; color: #444; 
	padding: 0.1em 0.1em 0.2em 0.5em; 
	font-weight: normal;
	text-align: left; 
	border-bottom: 1px #fff solid; 
	border-right: 1px #fff solid;
}

ul.browsers li img { vertical-align:bottom;
}

ul.browsers li.title {
	font-weight: bold;
	background: #eee; color: #444; 
	padding: 0.2em 0.2em 0.2em 0.5em; 
}


/* ### tables ################################################################## */

table.bugs { margin-bottom: 1em; margin-top: .5em; }
table.bugs th { 
	background: #444; color: #fff; 
	padding: 0.5em; 
	text-align: center; 
	border-bottom: 1px #fff solid; 
	border-right: 1px #fff solid;
}

table.bugs td {
	background: #888; color: #fff; 
	padding: 0.5em; 
	text-align: center; 
	border-bottom: 1px #fff solid; 
	border-right: 1px #fff solid;
}

/* ### download-box ################################################################## */

.bluebox {
	color:#000;
	background: #f0f0f4; padding: 2px; border: 4px #ccd solid;
	text-align: left;
	padding: 4px 0 4px 15px;
	margin-bottom: 1em;
}

.bluebox h5 { font-size: 140%; color:#006; font-weight: normal; font-style: normal; padding: 0px 8px 0 5px; }
.bluebox p { padding: 0px 8px 0 5px; }

div.dl_button	{
	width: 220px;
	min-height: 50px;
	text-align:left;
	padding-bottom: 20px;
	background-image: url(../../img/yaml_dl_button.gif);
	background-position:bottom;
}

div.dl_button a {
	display:block;
	width: 100%;
	min-height: 30px;
	text-align:left;
	background: url(../../img/yaml_dl_button.gif);
}

div.dl_button a:hover { text-decoration:none; } 

.dl_button a strong {display:block; padding: 17px 5px 0px 20px; color: #448; font-weight: bold; font-size: 125%; text-decoration:underline;}
.dl_button span.version {display:block; padding: 0px 5px 0px 20px; color: #666; font-weight: normal; font-size: 85%;}


/* ###########################################
** ### standdard formatting in main #################################
** ###########################################
*/

#main ul,li { margin:0; padding:0; list-style-type:none;}
ol li { margin-left: 1em; padding-bottom: 0.4em; list-style-type:decimal;}

/* ###########################################
** ### Divs, headings, lists etc. in content columns #################################
** ###########################################
*/

#main ul.contact li {
	float: left;
	width: 48%; 
	list-style-type: none;
} 
#main ul.contact li ul {
	margin: 0 0 0.8em 0;
} 
#main ul.contact li ul li {
	padding: 0.2em; 
	float: left;
	width: 90%; 
} 

#main li.label{
  color: #333;
	font-weight: bold;
} 

#main #col1 div.info {
	padding: 1.2em 1em 1.6em 1.8em;
}
#main #col2 div.info {
	padding: 1.2em 1.8em 1.6em 1em;
}
#main div.info p {
	line-height: 1.3em;
}

#main div.info {
	padding: 22px 30px 15px 30px;
}

#main div.highlight {
	background: #faf5dd url(../images/cell_bg.jpg) repeat-x;
	border: 1px solid #e5e5e5;
	margin-right: 4px;
}

#main h3 {
    font-size: 1.3em;
	color: #888888;
}
#main #col3 div.info h3 {
	margin: 0 0 0.6em 0;
	padding-top: 0;
}
#main #col3 div.info h2 {
  font-size: 1.3em;
  font-weight: bold;
  color: #888;
  padding: 1em 0 0.6em 0;
}
#main #col1 h3 {
    margin: 0 0.4em 0.6em 0;
	color: #000000; !important
}

#main div.info ul.information li {
	float: left;
	width: 48%; 
	list-style-type: none;
}
#main div.info ul.information li.label {
	font-weight: bold;
} 


  /* ### footer ###*/

  #footer {
  	background: #fff url(../images/footer_bg.png) repeat-x left top;
  	border-top: 1px #ccc solid;
  	margin: 0; padding: 2.5em 2em;
  	color: #6A6A5B;
  }
  #footer img { height: 11px; border: 1px solid #fff; }  
  #footer p {font-size: 11px;}
  
  #footer a {margin: 0.1em 0.2em; padding: 0.2em 0.3em; color:#ff8800; font-weight: bold; }
  #footer a:hover {background-color: #ff8800; color: #fff; text-decoration:none; }
  #footer a:focus {background-color: #ff8800; color: #fff; text-decoration:none; }
  
  #footer #flags a {-moz-opacity:0.5; opacity:0.6; }
  #footer #flags a:hover {background-color: transparent; color: #ff8800; text-decoration:none; -moz-opacity:1.00; opacity:1.00; }
  #footer #flags a:focus {background-color: transparent; color: #ff8800; text-decoration:none; -moz-opacity:1.00; opacity:1.00; }
  
  #footer span a, #footer #flags span a { -moz-opacity:1.00; opacity:1.00;}
  #footer span img {	height: 13px;	width: 18px; -moz-opacity:1.00; opacity:1.00;}
  
  

/* ###########################################
** ### Profile ids for special teaser #################################
** ###########################################
*/

/*#topcontent #topcontent-profile-photo {
	margin: 20px 10px 0px 10px;
	width: 120px; 
	height: 86px;
	float: left;
}*/
#pic_sm1,#pic_sm2,#pic_sm3 {
	position: absolute;
	overflow: visible;
	width: 25px;
}	
#pic_sm1 img,#pic_sm2 img,#pic_sm3 img {
	padding: 2px;
	background: #fff;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #333;
	border-bottom: 1px solid #666;
}
#pic_sm1
{
	z-index: 1;
	top: 10px;
	left: -25px;
	}
#pic_sm2
{
	z-index: 2;
	top: 30px;
	left: -30px;
}
#pic_sm3
{
	z-index: 3;
	top: 50px;
	left: -25px;
}
#pic_sw
{
	position: relative;
	z-index: 3;
	overflow: visible;
	top: 0px;
	left: 0px;
}
#pic_sw img {
	float: left;
}
#pic_main
{
	margin-left: 20px;
	width: 114px;
	z-index: 5;
	overflow: visible;
	position: relative;
}
#pic_main #img1
{
	position: absolute;
	z-index: 5;
/*	margin: 0px;
	width: 90px;
	padding: 8px 9px 0px 12px;
	height: 86px;
	background: url(../images/pic_main_oben.gif) repeat-x; */
}

#pic_main #img1 img
{
	height: 90px;
	width: 90px;
	padding: 6px;
	background: #fff;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	border-right: 2px solid #333;
	border-bottom: 2px solid #666; 
/*	border: 1px solid #df7000; */
}

#pic_main #img2
{
	position: absolute;
	z-index: 2;
	margin: 0;
	padding: 0;
	top: 90px;
	background: url(../images/pic_main_unten.gif) repeat-x;
}

/* NEW PROFILE PIC FRAME */
#pic_frame {
	margin: 8px;
}
#pic_frame img{
	margin-left:-7px;
	margin-top: -7px;
}
#teaser.profile #teaser_l  {
	padding-top: 0;
}

/* ###########################################
** ### Custom classes for mainpage / user homepage #################################
** ###########################################
*/

#main .main_preposts p {
  font-size: 11px;

}
#main .main_preposts img {
	font-size: 11px;
	float: left;
	margin: 0 1em 0.15em 0;
	padding:4px; 
	border: 1px #ddd solid; 
	background: #f3f3f3; 
}
#MainUserpic {
	width: 50px;
	height: 50px;
	padding:4px; 
	border: 1px #ff8409 solid; 
	background: #f3f3f3; 
}
.main_posts .news {
  font-size: 14px;
  font-weight: bold;
  line-height: 13px;
  padding: 3px 0;
  margin: 0px;
}

.posts p {
  font-size: 11px;
  line-height: 1em;
  margin: 0px;
  font-weight: normal;
}
div.posts {
  float:left;
  padding: 0 20px 0 0;
}

#main .small {
  font-size: 0.9em;
  line-height: 1.8em;
  padding: 0;
  margin: 0px;
  font-weight: normal;
  display: inline;
}
/* ### teaser on mainpage ### */
#teaser.teaser_main img {
  margin-right: 5px;
  margin-top: 0px;
  float:left;
}
#teaser.teaser_main p {
  padding: 0px;
  margin: 0px;
  line-height: 1.7em;
}
#teaser.teaser_main #teaser_l {float:left; width: 84px; margin: 0 0 0 0; }
#teaser.teaser_main h2 {font-size: 1.6em; padding-bottom: 5px; }
#teaser.teaser_main #teaser_r {width: 70%; margin: 0 10px 0 0; }


/* ###########################################
** ### Other classes & IDs #############################
** ###########################################
*/

.titlelink {font-size: 14px; font-weight: bold; letter-spacing: -1px;}
.username {font-size: 14px; font-weight: bold; letter-spacing: -1px;}
.hr_div {padding: 5px 30px 0 30px;}

.button, input.button {
    background:transparent url(../images/button_bg.png) repeat-x scroll 0%;
    border-color:#E5E5E5 rgb(187, 187, 187) rgb(187, 187, 187) rgb(229, 229, 229);
    border-style:solid;
    border-width:1px;
    color:#ff8800;
    font-size:11px;
    font-weight:bold;
    height:22px !important;
    line-height:20px !important;
    margin:1px;
    padding:1px 5px;
    text-align:center;
    width:auto;
}
.button a, input:hover.button{color: #ff8800; text-decoration:none; background-color:transparent;}
.button a:hover {background-color: transparent; color: #333; text-decoration:none;}
.button a:focus {background-color: transparent; color: #333; text-decoration:none;}
    
#mapsearch {width: 300px; height: 90px; background: url(../images/map.gif) no-repeat; font-weight: bold;}
#mapsearch fieldset {padding: 15px 0 0 20px;}
#mapsearch label {font-size: 1.5em; color: #fff;}
#mapsearch input {padding: 0.2em; -moz-opacity:0.1; opacity:0.7; font-size: 1.2em;}
#mapsearch #submit-button {vertical-align:middle; padding-bottom:4px}


/* Tagcloud */
#tagcloud a:link, #tagcloud a:visited {
text-decoration:none;
background: none;
}

#tagcloud a:hover, #tagcloud a:active {
text-decoration: underline;
color: #000;
background: none;
}

#tagcloud a {
/*padding: 4px; */
}

#tagcloud  .tag_smallest {
font-size: 0.8em;
}

#tagcloud  .tag_small {
font-size: 1em;
}

#tagcloud  .tag_medium {
font-size:1.5em;
}

#tagcloud  .tag_large {
font-size:1.7;
}

#tagcloud  .tag_largest {
font-size:2em;
}

/* rules for signuppage */
#signup { margin-left: 20%;  margin-right: 20%; }
#signup textarea { width: auto; float: left;}
#signup select { margin-top: 0.2em; margin-right: 1em;}
#signup ul li{ margin-bottom: 2em; }
#signup input { padding: 2px; width: 15em; }
#signup .checkbox input { padding: 2px; width: auto; border: 0;}
#signup .input_float li{ width: 19em; float:left; }
#signup .input_float input{ width: 15em; float:left; }
#signup .input_float .number li { width: 5em; float:left; }
#signup .input_float .number input { padding: 2px; width: 3em; float:left; }
#signup .small { font-size: 0.9em; color: #888;} 
#signup a { color: #ff8800; text-decoration:none; background-color:transparent;}
#signup a:hover { background-color: transparent; color: #ff8800;  text-decoration:underline;}
#signup a:focus { background-color: transparent; color: #ff8800;  text-decoration:underline;}
#signup a span { display: none; }

#signup a.tip { position: relative; z-index: 24; color: #000; text-decoration: none; }
#signup a.tip:hover { z-index: 25; background-color: #F5F5DC; text-decoration: none; }
#signup a.tip span { display: none; }
#signup a.tip:hover span {
    display: block;
    position: absolute;
    cursor:help;
    top: 2em;
    left: 2em;
    width: 15em;
    border: 1px solid #888;
    background-color: #F5F5DC;
    color: #000000;
    text-align: left;
    padding: 2px;
    font-size: 11px;
    text-decoration: none;
}
#signup .number a.tip { position: relative; z-index: 24; color: #000; text-decoration: none; margin-left: 5px; width:auto;}
#signup .number a.tip:hover span {
    display: block;
    position: absolute;
    cursor:help;
    top: -1.5em;
    left: -1.5em;
    width: 15em;
    border: 1px solid #888;
    background-color: #F5F5DC;
    color: #000000;
    text-align: left;
    padding: 2px;
    font-size: 11px;
    text-decoration: none;
}

/* Media screen end */
}
