
/* ###################################################
** ### css mods by Matthias (globetrotter_tt) ###
** ###################################################
*/

/* ccs test for admincomment */

div.admincomment {
  width: 65%;
  padding-bottom: 4em;
}

/* css for adminmandatory */
.update {
  background-color: #FF6;
}

/* ##################################################################
** ### icons - we can use differet graphics with every stylesheet ###
** ##################################################################
*/

/* space for the icons next to the headline */
h3.icon  {
  padding-left: 25px;
  padding-bottom: 2px;
}
/* space for the icons next to the linklist */
li.icon {
  padding-left: 20px;
  padding-bottom: 2px;
}
/* space for the icons next to legend in editmyprofile */
legend.icon {
  padding-left: 25px;
  padding-bottom: 2px;
}

/* #########################################
** ### icons 22x22 for the profile pages ###
** #########################################
*/
/* icon for "About me" */
.info22 {
  background: url(../images/icons22/icon_info.png) top left no-repeat;
 }

/* icon for "Hobbies & Interests" */
.sun22 {
  background: url(../images/icons22/icon_sun.png) top left no-repeat;
 }

/* icon for "Travel Experience" */
.world22 {
  background: url(../images/icons22/icon_world.png) top left no-repeat;
 }

/* icon for "My Groups" */
.groups22 {
  background: url(../images/icons22/icon_groups.png) top left no-repeat;
 }

/* icon for "Accommodation" */
.accommodation22 {
  background: url(../images/icons22/icon_accommodation.png) top left no-repeat;
 }

/* icon for "Contact Info" */
.contact22 {
  background: url(../images/icons22/icon_contact.png) top left no-repeat;
 }

/* #########################################
** ### icons 22x22 for the profile pages ###
** #########################################
*/
/* icon for "Login Info" */
.login22 {
  background: url(../images/icons22/icon_computer.png) top left no-repeat;
 }


/* #################################
** ### icons 16x16 for linklists ###
** #################################
*/
/* icon for "delete" */
.delete16 {
  background: url(../images/icons16/icon_delete.png) top left no-repeat;
 }

/* icon for "markspam" */
.markspam16 {
  background: url(../images/icons16/icon_markspam.png) top left no-repeat;
 }

 /* icon for "marknospam" */
.marknospam16 {
  background: url(../images/icons16/icon_marknospam.png) top left no-repeat;
 }

/* icon for "reply" */
.reply16 {
  background: url(../images/icons16/icon_reply.png) top left no-repeat;
 }

/* icon for "contactmember" */
.contactmember16 {
  background: url(../images/icons16/icon_newmessage.png) top left no-repeat;
 }

/* icon for "addcomment" */
.addcomment16 {
  background: url(../images/icons16/icon_addcomment.png) top left no-repeat;
 }

 /* icon for "forumpost" */
.forumpost16 {
  background: url(../images/icons16/icon_forumpost.png) top left no-repeat;
 }

 /* icon for "my list" */
.mylist16 {
  background: url(../images/icons16/icon_mylist.png) top left no-repeat;
 }

  /* icon for "my relations" */
.myrelations16 {
  background: url(../images/icons16/icon_myrelations.png) top left no-repeat;
 }

/* icon for "admin" */
.admin16 {
  background: url(../images/icons16/icon_admin.png) top left no-repeat;
 }

/* icon for "profile" */
.profile16 {
  background: url(../images/icons16/icon_profile.png) top left no-repeat;
 }

/* #################################
** ### icons 16x16 for linklists / BASED on famfamfam's SILK icons ###
** #################################
*/
  /* icon for "my relations" */
.fam_commentadd {
  background: url(../images/iconsfam/add.png) top left no-repeat;
 }

/* icon for "admin" */
.fam_comments {
  background: url(../images/iconsfam/fam_comments.png) top left no-repeat;
 }

/* icon for "profile" */
.fam_comments {
  background: url(../images/iconsfam/fam_comments.png) top left no-repeat;
 }

/* #################################
** ### Enabling normal lists ###
** #################################
*/
#main ul.list, #main ul.list li {list-style-type: disc; margin: 1em 2em 1em 1.2em; line-height: 1.3em;}


/* css for groups */

#groups li {padding-right: 0.8em;}
#groups li.center a {margin: 0; }
#groups ul {padding-bottom: 0.8em; padding-top: 0.8em;}
#groups h3 { margin-top: 0.8em;}
