
/* ###################################################
** ### css mods by Matthias (globetrotter_tt) ###
** ###################################################
*/

/* ccs test for admincomment */

div.admincomment {
  width: 65%;
  padding-bottom: 4em;
}

/* css for adminmandatory */
.update {
  background-color: #FF6;
}

/* #################################
** ### Enabling normal lists ###
** #################################
*/
#main ul.list, #main ul.list li {list-style-type: disc; margin: 1em 2em 1em 1.2em; line-height: 1.3em;}


/* css for groups */

#groups li {padding-right: 0.8em;}
#groups li.center a {margin: 0; }
#groups ul {padding-bottom: 0.8em; padding-top: 0.8em;}
#groups h3 { margin-top: 0.8em;}
