<?xml version="1.0" encoding="utf-8"?>
<module>
  <moduleName>layoutbits</moduleName>
  <moduleVersion>0.0</moduleVersion>
  <moduleDescription>Small layout elements</moduleDescription>
  <moduleFiles>
    <lib>
      <file class="MOD_layoutbits">layoutbits.lib.php</file>
    </lib>
  </moduleFiles>
</module>
