@media all
{
/* modification for tour pages */

#tour {
    max-width: 800px;
}
#tour h1{
  padding: 0;
  font-size: 4em;
}

 ul#steps{
  margin: 1px;
  padding: 0;
  display:block;
}

 ul#steps li{
  color: #999;
  vertical-align: middle;
  clear:both;
  padding: 1em 0;
}

 #steps div.desc{
  padding:10px 6px 0px 6px;
  vertical-align: middle;
}
 #steps div.number{
  font-size: 1.6em;
  margin:0 16px 5px 0;
  text-align:center;
  width:20px;
  float: left;
}
 #steps li a{
  color: #999;
  font-size: 1em;
}
 #steps li a:hover{
  color: #999;
  background: transparent;
}
 #steps li.active, #steps li.active a{
  color: #333;
  font-weight: bold;
}
 #steps li.active .number {
  font-size: 1.8em;
  color: #333;
}
 #steps li.active{
    font-size: 1.5em;
}

}
