{% filter inky|inline_css(source('emails/email.css')) %}
    <style type="text/css">
        .header {
            background: #8a8a8a;
        }
        .header .columns {
            padding-bottom: 0;
        }
        .header p {
            color: #fff;
            margin-bottom: 0;
        }
        .header .wrapper-inner {
            padding: 20px; /*controls the height of the header*/
        }
        .header .container {
            background: #8a8a8a;
        }
        .wrapper.secondary {
            background: #f3f3f3;
        }
    </style>
    <!-- move the above styles into your custom stylesheet -->


    <wrapper class="header" bgcolor="#8a8a8a">
        <container>
            <row class="collapse">
                <columns small="6" valign="middle">
                    <a href="{{ url('homepage') }}"><img
                            src="{{ email.image('@images/logo_index_top.png') }}"><</a>
                </columns>
                <columns small="6" valign="middle">
                    <p class="text-right">BeWelcome</p>
                </columns>
            </row>
        </container>
    </wrapper>

    <container>

        <spacer size="16"></spacer>

        <row>
            <columns>

                {%- block content -%}{%- endblock content -%}

            </columns>
        </row>

        <wrapper class="secondary">
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <p>{{ "now" | date("Y") }} - <a href="{{ url('homepage') }}" target="_blank">BeWelcome</a></p>
                </columns>
            </row>
        </wrapper>

    </container>
{% endfilter %}
