{% filter inky|inline_css(source('emails/email.css')) %}
    <wrapper class="header">
        <container>
            <row class="collapse">
                <columns small="12" valign="middle">
                    <a href="{{ url('homepage') }}"><img
                            src="{{ email.image('@images/logo_index_top.png') }}"><</a>
                </columns>
            </row>
        </container>
    </wrapper>

    <container class="secondary">

        <spacer size="16"></spacer>

        <row>
            <columns>

                {%- block content -%}{%- endblock content -%}

            </columns>
        </row>

        <wrapper>
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <p>{{ "now" | date("Y") }} - <a href="{{ url('homepage') }}" target="_blank">BeWelcome</a></p>
                </columns>
            </row>
        </wrapper>

    </container>
{% endfilter %}
