{% extends 'emails/email.html.twig' %}

{% block content %}
    <p>
        {% trans with {'%username%': receiver.Username} %}email.greeting{% endtrans %}<br><br>
        {% trans with {'%username%': member.Username, '%groupname%': group.Name} %}%username% wants to join the group "%groupname%".{% endtrans %}
    </p>
    <p>
        {% trans with {'%accept_start': accept_start, '%accept_end': accept_end} %}If you would like to approve this, click the following link: <a href="{{ url('group_join_accept', {'groupId': group.id, 'memberId' : member.id}) }}">Approve Join</a>.{% endtrans %}
    </p>
    <p>
        {% trans with {'%decline_start': decline_start, '%decline_end': decline_end} %}If you do not want to have this member in the group, please click this link instead: <a href="{{ url('group_join_decline', {'groupId': group.id, 'memberId' : member.id}) }}">Decline Join</a>{% endtrans %}
    </p>
    <p>{{ 'email.farewell' | trans }}</p>
{% endblock content %}
