{% extends 'emails/email.html.twig' %}

{% block sender %}
<div class="from">
    {% trans with {'%username%': receiver.Username} %}email.greeting{% endtrans %} {% trans with {'%username%': sender.Username} %}email.message{% endtrans %}
</div>
{% endblock %}

{% block content %}

    {{ message.message | raw }}<br>
    <br>
    <a href="{{ url('message_reply', { 'id': message.id }) }}">{{ 'reply' | trans }}</a>
{% endblock %}