{% extends 'emails/email.html.twig' %}

{% block content %}
    <p>{{ message.message | raw }}</p>
    <p><a href="{{ url('message_reply', { 'id': message.id }) }}">{{ 'reply' | trans }}</a></p>
{% endblock %}
