{% extends 'emails/email_no_greeting.html.twig' %}

{% block content %}
    <p>{{ message.message | raw }}</p>

    {% include 'emails/_buttons.html.twig' with {'message': message} %}

{% endblock %}
