{% extends 'emails/email.html.twig' %}

{% block content %}
    {% trans with {'%username%': receiver.Username} %}Dear %username%,{% endtrans %}<br>
    <br>
    {{ 'email.password.request' | trans }}<br>
    {{ 'email.password.request.ignore' ~ path('feedback') ~ '.' | trans }}<br>
    <a href="{{ url('member_reset_password', { 'username': receiver.Username, 'key' : key }) }}">{{ 'email.password.reset' | trans }}</a><br>
    <br>
    Best regards,<br>
    The volunteers of BeWelcome
{% endblock %}