{% extends 'emails/email.html.twig' %}

{% block content %}
    <br>
    {{ 'email.password.request' | trans }}<br>
    {% trans with {'%link_start%': '<a href="' ~ url('feedback') ~ '">', '%link_end%': '</a>'} %}email.password.request.ignore{% endtrans %}<br>
    <a href="{{ url('member_reset_password', { 'username': receiver.Username, 'token' : token }) }}">{{ 'email.password.reset' | trans }}</a><br>
    <br>
{% endblock %}