{% extends 'emails/email.html.twig' %}

{% block content %}
    <p>
        {{ 'email.password.request' | trans }}<br>
        <br>
        {% trans with {'%link_start%': '<a href="' ~ url('feedback') ~ '">', '%link_end%': '</a>'} %}email.password.request.ignore{% endtrans %}<br>
        <br>
        <a href="{{ url('member_reset_password', { 'username': receiver.Username, 'token' : token }) }}">{{ 'email.password.reset' | trans }}</a>
    </p>
{% endblock %}
