{% trans with {'%username%': receiver.Username} %}email.greeting{% endtrans %}

{{ 'email.password.request' | trans }}
{% trans with {'%link_start%': '<a href="' ~ url('feedback') ~ '">', '%link_end%': '</a>'} %}email.password.request.ignore{% endtrans %}
[{{ 'email.password.reset' | trans }}]({{ url('member_reset_password', { 'username': receiver.Username, 'token' : token }) }})

Best regards,
The volunteers of BeWelcome
