/* td widths */

#activitylist .date{
  width: 5%;
  min-width: 60px;
}
#activitylist .title{
  width: 50%;
}
#activitylist .icon{
  width: 2%;
}
#activitylist .location{
  width: 20%;
}
#activitylist .attendees{
  width: 10%;
}
#activitylist .organiser{
  width: 5%;
  min-width: 60px;
}


/*
*  custom styles for activities
*
*/
.back { color: #888888;}
.yform div.type-button {padding: 3px 0.5em;}
.abitright {padding-left: 15px;}
.abitlower {padding-top: 0.4em;}
.yform .type-check label {vertical-align: top;}
.yform .type-check .abitlower {padding-bottom: 0.1em;}
.yform label {padding-bottom: 0.12em;}
.activitieslist {width: 100%;}

#activities-map { 
    height: 300px; 
    width: 100%;
}
#activities-data{
    display: none;
}

/*
*  custom styles for activities in Internet Explorer
*
*/

.marker-cluster-unique {
	/* hack for browsers without standard alpha support */
	background-color: #b9b6d4;
	background-color: rgba(146, 144, 200, 0.6);
}

.marker-cluster-unique div {
	/* hack for browsers without standard alpha support */
	background-color: #989acc;
	background-color: rgba(146, 144, 200, 0.6);
}

.leaflet-popup-content h4{
    margin: 0;
}

.leaflet-popup-content p.date-start{
    margin: 0;
}

.leaflet-popup-content .date-start{
    font-size: 75%;
}

.leaflet-popup-content .address{
    font-size: 75%;
}

li.picbox_activities {
    padding: 7px 7px 30px 0;
    width: 240px;
}
/*
** Calendar icons
*/

.calendar {
  float: left;
  width: 42px;
  height: 42px;
  background: url('../../images/icons/calendar_sprites_own.gif') no-repeat;
  margin: 6px;
}

.calendar-icon-01 {
  background-position: 0 0;
}
.calendar-icon-02 {
  background-position: -52px 0;
}
.calendar-icon-03 {
  background-position: -104px 0;
}
.calendar-icon-04 {
  background-position: -156px 0;
}
.calendar-icon-05 {
  background-position: 0 -52px;
}
.calendar-icon-06 {
  background-position: -52px -52px;
}
.calendar-icon-07 {
  background-position: -104px -52px;
}
.calendar-icon-08 {
  background-position: -156px -52px;
}
.calendar-icon-09 {
  background-position: 0 -104px;
}
.calendar-icon-10 {
  background-position: -52px -104px;
}
.calendar-icon-11 {
  background-position: -104px -104px;
}
.calendar-icon-12 {
  background-position: -156px -104px;
} 
.calendar-day {
  font-size: 1em;
  color: #000;
  width: 42px;
  text-align:center;
  padding-top: 18px;
}
.calendar-year {
  font-weight: bold;
  font-size: .6em;
  color: #999;
  text-align:center;
}
#activity-location-suggestion {
  width: 100%;
}
#activity-location-suggestion #locations {
  width: 100%;
}
#activity-location-suggestion ol li {
    width: 20.5em;
}

.compacttext{
  font-size: $font-size-xs;
  line-height: 1.1;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }