.welcomeback{
  background-color: #EEEEEE;
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 1px #888888;
}

.hoststatus{
  position:relative;
  top: -16px;
  right: -32px;
}

.dashbox{
  overflow: hidden;
  box-shadow: 0 0 2px #888;
  height: 26em;
  background: #fff;
}

.scrollcontent{
  position:relative;
  height: 18em;
  overflow:hidden;
}

.chevplace{
  position: relative;
  right: 0;
  top: 25px;
}

.shadow{
  box-shadow: 0 0 2px #888;
}

.smallmargin{
  margin: 1em 0 1em 0;
}

.dashentrytext{
  margin: 0.2em;
}

.framed {
  border-radius:2px;
}

.nav-link.active {
  box-shadow: 0px 3px 0px 0px white, 0px 0px 2px #888;
  border:none;
}

.nav-tabs .nav-link {
  border-radius: 3px 3px 0 0 !important;
}

.alert-info {
  border: 1px solid #8A8A8A;
  border-radius: 0.15rem;
}

.card-4 {
  width: 33.33% !important;
}

.card-3 {
  width: 25% !important;;
}

.card-2 {
  width: 16.67% !important;;
}

.dashentry{
  height: 100%;
  float: left;
  padding: $spacer-y $spacer-x !important;
}

.scrollcontent .row:nth-of-type(odd){
  background-color: $table-bg-accent;
}

.scrollcontent .row:nth-of-type(even){
  background-color: #fff;
}

@include media-breakpoint-up(md){

  .welcomeback {
    height: 7em;
  }

  .dashentry{
    width: calc(100% - 70px);
  }

  .dashentry p{
    @include vertical-align();
  }

  .scrollcontent .row {
    height: 70px;
  }

}

/* Occurs when viewed on medium to very small screens only */

@include media-breakpoint-down(md) {

  .welcomeback {
    height: auto;
  }

  .verticalalign {
    transform: translateY(0%) !important;
  }

}

/* Occurs when viewed on very small screens only */
@include media-breakpoint-down(xs) {

  .dashentry{
    width: calc(100% - 20px);

  }

  .card {
    width: 100% !important;
  }

  .card-deck .card{
    display: block;
  }

}