.welcomeback{
  height: 7em;
  background-color: #EEEEEE;
  border: 3px solid #FFFFFF;
  box-shadow: 0 0 1px #888888;
}
.hoststatus{
  position:relative;
  top: -16px;
  right: -32px;
}
.welcome{
  font-size: 2em;
  font-weight: 700;
}
.hostcity{
  font-size: 1.1em;
  font-weight: bold;
}
.dashbox{
  border: 0.3em solid #FFF;
  overflow: hidden;
  box-shadow: 0 0 2px #888;
  min-height: 27em;
}
.readunread{
  background-color: #FFF;
  padding: 0.2em;
  text-align: center;
}
.dashentry{
  padding: 0.5em;
  line-height: 1em;
}
.odd{
  background-color: #FFF;
}
.even{
  background-color: #EEE;
}
.scrollcontent{
  position:relative;
  max-height: 20em;
  height:100%;
  width: 105%;
  width: calc(100% + 20px);
  overflow-x:hidden;
  overflow-y:visible;
}
.chevplace{
  top: 1.1em;
  right: 0px;
}
.shadow{
  box-shadow: 0 0 2px #888;
}
.smallmargin{
  margin: 1em 0 1em 0;
}
.dashentrytext{
  margin: 0.2em;
}
.navbar {
  line-height: 1.9;
}
.smallerpadding {
  padding:0.5em 0.7em !important;
}
.framed {
  border-radius:2px;
}
.nav-link.active {
  box-shadow: 0px 3px 0px 0px white, 0px 0px 2px #888;
  border:none;
}
.nav-tabs .nav-link {
  border-radius: 3px 3px 0 0 !important;
}
.alert-info {
  border: 1px solid #8A8A8A;
  border-radius: 0.15rem;
}

.card {
  width: 25%;
}
.card:nth-child(1) {
  width: 30%;
}
.card:nth-child(2) {
  width: 30%;
}
.card:nth-child(3) {
  width: 25%;
}
.card:nth-child(4) {
  width: 15%;
}
