.welcomeback{
  background-color: #eee;
  border: 3px solid #fff;
  border-top: 0;
  box-shadow: 0 0 1px #888;
}

.hoststatus{
  position:relative;
  top: -16px;
  right: -32px;
}

.dashbox{
  overflow: hidden;
  box-shadow: 0 -1px 0 #888;
  height: 26em;
  background: #fff;
  border: 1px solid #888;
  border-top: 1px solid transparent;
  border-radius: 0 .25rem .25rem .25rem;}

.readunread{
  background-color: #FFF;
  padding: 0.2em;
  text-align: center;
}
.scrollcontent{
//  position:relative;
//  height: 18em;
//  overflow:hidden;
}

.chevplace{
  position: relative;
  right: 0;
  top: 25px;
}

.shadow{
  box-shadow: 0 0 2px #888;
}

.dashentrytext{
  margin: 0.2em;
}

.framed {
  border-radius:2px;
}

.alert-info {
  border: 1px solid #8A8A8A;
  border-radius: 0.15rem;
}

.verticalmiddle{
  vertical-align: middle !important;
}

.activityinfo{
  padding-left: .25rem;
  min-width: 15;
}

.dateandtitle{
  width: 55%; // fix for Chrome
  min-width: 55%;
  max-width: 60%;
  position: relative;
}

.activitytitle{
  position: absolute;
  width: 100%;
}

.card-4 {
  width: 33.33% !important;
}

.card-3 {
  width: 25% !important;;
}

.card-2 {
  width: 16.67% !important;;
}

.dashentry{
  height: 100%;
  float: left;
  padding: $spacer-y $spacer-x !important;
}

.scrollcontent .row:nth-of-type(odd){
  background-color: $table-bg-accent;
}

.scrollcontent .row:nth-of-type(even){
  background-color: #fff;
}

.avatarpadding{
  padding: 10px 0;
}

.welcomeavatar{
  height: 50px;
}
.btn-home {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  background-color:  rgb(231, 139, 60);
  border: 1px solid white !important;
  font-family: Signika-regular;
  text-transform: capitalize;
  box-shadow: 0 0 3px 1px #d47a2e inset;
}
.btn-home:hover {
  border: 1px solid white !important;
  background-color: #cf772c;
  box-shadow: 0 0 3px 1px #cc5e00 inset;
}
.btn-home.active {
  box-shadow: 0 0 3px 1px #b95500 inset;
}

.btn-homewhite {font-size: 1.65rem;
text-transform: uppercase;
letter-spacing: 0.02rem;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  margin-left:0.4rem;
  margin-right:0.4rem;
  border-radius: 0.25rem !important;
  border: 1px solid rgba(0, 0, 0, 0.28) !important;
  box-shadow: 0px 0px 6px -1px #cecece inset,0px 5px 8px -8px #000;
  transition:background-color 0.3 ease-in, box-shadow 0.3 ease-in;
}
.btn-homewhite:hover {
  box-shadow: 0px 0px 6px -1px #d76401 inset,0px 5px 8px -8px #000;
  }

.homehfour{
  font-size: 1.65rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
}
.homesubt{
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  color:gray;
}

@include media-breakpoint-up(md){

  .welcomeback {
    height: 7em;
  }

  .dashentry{
    width: calc(100% - 70px);
  }

  .dashentry p{
    @include vertical-align();
  }

  .scrollcontent .row {
    height: 70px;
  }

}

/* Occurs when viewed on medium to very small screens only */

@include media-breakpoint-down(md) {

  .welcomeback {
    height: auto;
  }

  .verticalalign {
    transform: translateY(0%) !important;
  }

  .dashentry{
    float: none;
    padding: 1rem 0 0 0 !important;
  }

  .text-truncate{
    line-height: 1;
  }

  .avatarpadding{
    padding: 5px 0;
  }

}

/* Occurs when viewed on very small screens only */
@include media-breakpoint-down(xs) {

  .dashentry{
    width: calc(100% - 20px);

  }

  .card {
    width: 100% !important;
  }

  .card-deck .card{
    display: block;
  }

}