#nav_sub {
  padding: 1rem 0;
}

#main > .nav-pills {
  padding: 1rem 0;
}

.nav-pills {

  a {
    color: $brand-primary;
  }

  .nav-item {
    background-color: #e5e5e5;
    color: white;
    border-radius: 5px;
    font-family: LatoWeb, sans-serif;
    font-weight: normal;
    margin-right: ($spacer-x /2);
    border: 1px solid $nav-tabs-border-color;
  }

  .nav-item:hover {
    background-color: $brand-primary;
    a {
      color: #fff;
    }

  }

  .nav-item > .active  a {
    color: white;

  }

  .nav-item > .active  {
    position: relative;
  }

  .nav-item > .active:after, .nav-item > .active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .nav-item > .active:after {
    border-color: rgba(243, 112, 0, 0);;
    border-top-color: $brand-primary;
    border-width: 7px;
    margin-left: -7px;
  }

/*  .nav-item > .active:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  */
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #ddd #ddd transparent;
}

.nav-tabs {
  .nav-item > .active {
    border: 1px solid #888;
    border-bottom: 1px solid transparent;
  }
}