.navbar-nav {
  .nav-item {
    padding: .25rem .5rem;
    margin: 0;
  }

  .nav-item:hover{
    text-shadow: 2px 2px 2px #fff, -2px -2px -2px #fff;
  }

  .nav-link {
    display: block;
    padding-top:    .425rem;
    padding-bottom: .425rem;
    color: #fff;

    + .nav-link {
      margin-left: 0;
    }
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .navbar-divider {
    padding-top: .675rem;
    padding-bottom: .675rem;
    margin: 0 .5rem;
    background-color: $navbar-dark-color;
  }

}

.navbar{
  border-top: 1px solid $navbar-dark-color;
  border-bottom: 1px solid $navbar-dark-color;
  box-shadow: 0px 3px 10px #333;
}

.subnav{
  width: 100%;
  position: fixed;
  left: 0;
  top: 42px;
  background-color: rgba($brand-primary,0.95);
  border-top: 1px solid #fff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $navbar-dark-color;
  box-shadow: 0px 3px 5px #333;

  a{
    color: #fda;
  }

  a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #ce5409;
    padding: 0.2rem;
    margin-left: 0;
  }

  ul{
    margin-top: 0.5rem;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }

  li{
    margin-bottom: .5rem;
    margin-left: 0.2rem;
  }

  .h4{
    color: #fff !important;
  }
}

a.subnavtitle:hover {
  color: #fff !important;
}

.usermenu{
  border-left: 1px solid #fff;
}