.navbar-nav {
  .nav-item {
    padding: .25rem .5rem;
    margin: 0;
  }

  .nav-link {
    display: block;
    padding-top:    .425rem;
    padding-bottom: .425rem;
    color: #fff;

    + .nav-link {
      margin-left: 0;
    }
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }

  .navbar-divider {
    padding-top: .675rem;
    padding-bottom: .675rem;
    margin: 0 .5rem;
    background-color: $navbar-dark-color;
  }

}

.navbar{
  border-top: 1px solid $navbar-dark-color;
  border-bottom: 1px solid $navbar-dark-color;
  box-shadow: 0px 3px 10px #333;
}

.subnav{
  width: 100%;
  position: fixed;
  left: 0;
  top: 46px;
  background-color: rgba($brand-primary,0.95);
  border-top: 1px solid #fff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $navbar-dark-color;
  box-shadow: 0px 3px 5px #333;
}

.subnav a{
  color: #fda;
}

.subnav a:hover{
  color: #fff;
  text-decoration: none;
}

.subnav dd{
  margin-bottom: 0 !important;
  padding-left: 0.2em;
}

.subnav dd:hover{
  background-color: rgba(0,0,0,.15);
  padding-left: 0.3em;
}

.subnav .h4{
  color: #fff !important;
}