body{
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height:1.6rem;
}

.summary{
  line-height: 1.1;
}

.card-header{
	font-size:1.25em;
	text-transform: uppercase;
	border:2px solid white;
	border-radius:0.25rem;
	background-color: rgba(243,112,0,1);
	color:white;
	letter-spacing: 0.03em;
	line-height: inherit !important;
	padding: 0.5rem 1rem;
	text-shadow: 0 0 3px #ce8140;
	box-shadow: inset 0 0 13px -2px #ce8140;
	margin:0;
}
.card-block {
	padding:1rem 1.6rem;
}

.profileimg {
	border-radius: 3px;
	border: 3px solid white;
	box-shadow: 0px 3px 8px -2px #000;
}

.card {
	box-shadow: 0px 3px 8px -2px #999696;
	border:none;
	border-radius: 0.25rem;
	line-height: 1.6rem;
}

.headerimg {
	background-image: url("http://oi67.tinypic.com/2r43dl2.jpg");
	background-size: cover;
	background-color: #f79f54;
  	box-shadow:0px 3px 8px -1px #999696, 0 50px 150px -50px #000 inset;
  	height: auto;
}

.media small {
	line-height: 2;
}

.languages {
	color: #FFF;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.25em;
}

.regularfont{
  font-family: Signika-regular;
}

.whiteshadow{
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.profilebig{
	font-family:"Signika-Regular", LatoWeb, sans-serif;
	font-size:2.625em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 75%;
}

.profilemedium{
	font-family:"Signika-Bold", LatoWeb, sans-serif;
	font-size:1.625em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 75%;
}

.top0 {
  top: 0;
}

.profilebreadcrumb{
	font-size:0.8em;
	text-transform: uppercase;
	font-family:"Signika-Light", LatoWeb, sans-serif;
}

.profilestatusbox {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 3px 8px -1px #000,inset 0 0 70px 10px white;
}

.mappreview {
	border-radius: 3%;
	border: 1px solid white;
}

.btn-secondary {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  background-color:  white;
  font-family: Signika-regular;
  text-transform: capitalize;
  box-shadow: 0 0 3px 1px rgb(231, 231, 231) inset;
  margin-bottom:0;
  border:2px solid white !important;
}
.btn-primary-profile {
    font-size: 1rem;
    border: 2px solid white !important;
    font-family: Signika-regular;
    text-transform: capitalize;
    box-shadow: 0 0 3px 1px #d47a2e inset;
    margin: 0;
}

.btn-profile {
	font-size: 0.9rem;
	margin-bottom: 0.6rem;
	border-radius: 0.25rem !important;
	border: 1px solid rgba(0, 0, 0, 0.28) !important;
	box-shadow: 0px 5px 8px -6px #000;
}

.btn-group-profile{
	box-shadow: 0px 3px 8px -1px #999696;
}

.gray {
	color:$gray-light;
}

a.report {
	color: rgba(#fff,0.3);
}

a.report:hover {
	color: rgba(#fff,0.8);
}

.langmother{
	font-family:Signika-bold;
	font-size:0.9rem;
	text-transform:uppercase;
	letter-spacing: 0.02rem;
}

.langfluent{
	font-family:Signika-bold;
	font-size:0.9rem;
	text-transform:capitalize;
}

.langbasic {
	font-family:Signika-regular;
	font-size:0.9rem;
	text-transform:capitalize;
}

a.request:link, a.request:visited {
	font-family: Signika-Bold;
	color: #fff !important;
}

a.request:focus, a.request:hover {
  font-family: Signika-Bold;
  color:white !important;
  text-decoration: underline;
}

.acc-info, a.acc-info{
  font-weight: 700;
  color: $brand-primary;
}

.profilelist{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}

.commentavatar {
  max-width: 90px;
}

@media only screen 
	and (min-width: 1288px) {
		.col-md-4 {
//	width: 38.333%;
}

.col-md-8 {
//	width: 61.667%;
}
	}

a.grouplist {
	color: $brand-primary !important;
}

a.grouplist:hover {
	background: $brand-primary !important;
	color: #fff !important;
}