// Include fonts
@import "mixins";

$font-path: '../fonts/';
@include font-face('Signika-Bold', $font-path + 'signika-bold-webfont', normal, normal);
@include font-face('Signika-Regular', $font-path + 'signika-regular-webfont', normal, normal);
@include font-face('LatoWebBlack', $font-path + 'Lato-Black', normal, normal);
@include font-face('LatoWebBlack', $font-path + 'Lato-BlackItalic', normal, italic);
@include font-face('LatoWebBold', $font-path + 'Lato-Bold', normal, normal);
@include font-face('LatoWebBold', $font-path + 'Lato-BoldItalic', normal, italic);
@include font-face('LatoWebSemiBold', $font-path + 'Lato-Semibold', normal, normal);
@include font-face('LatoWebSemiBold', $font-path + 'Lato-SemiboldItalic', normal, italic);
@include font-face('LatoWebHairline', $font-path + 'Lato-Hairline', normal, normal);
@include font-face('LatoWebHairline', $font-path + 'Lato-HairlineItalic', normal, italic);
@include font-face('LatoWeb', $font-path + 'Lato-Regular', normal, normal);
@include font-face('LatoWeb', $font-path + 'Lato-Italic', normal, italic);
@include font-face('LatoWebThin',  $font-path + 'Lato-Thin', normal, normal);
@include font-face('LatoWebThin', $font-path + 'Lato-ThinItalic', normal, italic);
@include font-face('LatoWebLight', $font-path + 'Lato-Light', normal, normal);
@include font-face('LatoWebLight', $font-path + 'Lato-LightItalic', normal, italic);
@include font-face('LatoWebMedium', $font-path + 'Lato-Medium', normal, normal);
@include font-face('LatoWebMedium', $font-path + 'Lato-MediumItalic', normal, italic);

//Font-awesome
@import "../../../vendor/components/font-awesome/scss/font-awesome";

// Core variables and mixins
@import "variables";

$enable-flex: false;

@import "../../../vendor/twbs/bootstrap4/scss/mixins";

// // Reset and dependencies
@import "../../../vendor/twbs/bootstrap4/scss/normalize";
@import "../../../vendor/twbs/bootstrap4/scss/print";

// Core CSS
@import "../../../vendor/twbs/bootstrap4/scss/reboot";

// Override the legend width to auto
legend {
  width: auto;
}

@import "../../../vendor/twbs/bootstrap4/scss/type";
@import "../../../vendor/twbs/bootstrap4/scss/images";
@import "../../../vendor/twbs/bootstrap4/scss/code";
@import "../../../vendor/twbs/bootstrap4/scss/grid";
@import "../../../vendor/twbs/bootstrap4/scss/tables";
@import "../../../vendor/twbs/bootstrap4/scss/forms";
@import "../../../vendor/twbs/bootstrap4/scss/buttons";

// // Components
@import "../../../vendor/twbs/bootstrap4/scss/animation";
@import "../../../vendor/twbs/bootstrap4/scss/dropdown";
@import "../../../vendor/twbs/bootstrap4/scss/button-group";
@import "../../../vendor/twbs/bootstrap4/scss/input-group";
@import "../../../vendor/twbs/bootstrap4/scss/custom-forms";

@import "../../../vendor/twbs/bootstrap4/scss/nav";
@import "../../../vendor/twbs/bootstrap4/scss/navbar";
@import "../../../vendor/twbs/bootstrap4/scss/card";
@import "../../../vendor/twbs/bootstrap4/scss/breadcrumb";
@import "../../../vendor/twbs/bootstrap4/scss/pagination";
@import "../../../vendor/twbs/bootstrap4/scss/labels";
@import "../../../vendor/twbs/bootstrap4/scss/jumbotron";
@import "../../../vendor/twbs/bootstrap4/scss/alert";
@import "../../../vendor/twbs/bootstrap4/scss/progress";
@import "../../../vendor/twbs/bootstrap4/scss/media";
@import "../../../vendor/twbs/bootstrap4/scss/list-group";
@import "../../../vendor/twbs/bootstrap4/scss/responsive-embed";
@import "../../../vendor/twbs/bootstrap4/scss/close";

// Components w/ JavaScript
@import "../../../vendor/twbs/bootstrap4/scss/modal";
@import "../../../vendor/twbs/bootstrap4/scss/tooltip";
@import "../../../vendor/twbs/bootstrap4/scss/popover";
@import "../../../vendor/twbs/bootstrap4/scss/carousel";

// Utility classes
@import "../../../vendor/twbs/bootstrap4/scss/utilities";

@import "general";

// include page styles
@import "navbar";
@import "home";
@import "profile";
@import "activities";
@import "forumgroups";

// select2
@import "../../../vendor/select2/select2/src/scss/core";
@import "select2-bootstrap4";

// Set yaml classes to keep old style alive and constistent
@import "yaml";
@import "navs";
@import "search";
@import "groups";
@import "forums";

.map {

}
.username{
  line-height: 1.1;
  word-wrap: break-word;
}
