<div class="u-flex u-flex-row u-h-[40px] u-w-[40px] md:u-w-[220px]">
    <img class="u-pl-4 md:u-pl-8 md:u-pr-8" src="{{ asset('images/logo_icon_2025.svg') }}" alt="BeWelcome logo"/>
    <img class="u-hidden md:u-block" src="{{ asset('images/logo_text_2025.svg') }}" alt="BeWelcome text"/>
</div>
