<div class="u:flex u:flex-row u:h-[40px] u:w-[40px] u:md:w-[220px]">
    <img class="u:pl-4 u:md:pl-8 u:md:pr-8" src="{{ asset('images/logo_icon_2025.svg') }}" alt="BeWelcome logo"/>
    <img class="u:hidden u:md:block" src="{{ asset('images/logo_text_2025.svg') }}" alt="BeWelcome text"/>
</div>
