<div class="bw-header-logo">
    <img class="bw-header-logo__icon" src="{{ asset('images/logo_icon_2025.svg') }}" alt="" width="44" height="44" decoding="async"/>
    <img class="bw-header-logo__text" src="{{ asset('images/logo_text_2025.svg') }}" alt="BeWelcome" decoding="async"/>
</div>
