
/* ###################################################
** ### css mods by Matthias (globetrotter_tt) ###
** ###################################################
*/

/* mods in teaser */
#teaser a { color: #ffffff; font-weight: bold; }
#teaser a:hover {background-color: transparent; text-decoration:underline;}
#teaser a:focus {background-color: transparent; text-decoration:underline;}

#teaser q {font-size: 0.8em; font-style:italic;}

#teaser th {padding: 0em 0em 0.5em 0em;}

#teaser #profile-info {padding-top:0px;}

#teaser #profile-info #username strong {font-size: 1.7em; line-height: 1.5em; padding: 10px 10px 10px 0; letter-spacing: -0.05em;} 

#teaser #profile-info ul {padding: 0.3em 0em 0em 0em;}

#teaser #profile-info li {line-height: 1.1em;}

#teaser #profile-info p{float: left;}

#teaser #navigation-path{
	line-height: 1em;
	white-space: nowrap;
	font-size: 11px;
	color: #ffffff;
	padding: 0.4em 0em 0.4em 0em;
	width: auto;
}


p.highlight {
	background: #faf5dd url(../images/cell_bg.jpg) repeat-x;
	border: 1px solid #e5e5e5;
	margin-right: 4px;
	padding: 1em 1em 1em 1em;
}

/* mods for tables */
#main th {padding: 0em 0em 0em 0.5em;}

#main tr.highlight {
	background: #faf5dd url(../images/cell_bg.jpg) repeat-x;
	border: 1px solid #e5e5e5;
	margin-right: 4px;
}

#main tr.blank {
	border: 1px solid #e5e5e5;
	margin-right: 4px;
}

td.memberlist  {padding: 0.5em 0.5em 0.5em 0.5em;}
td.connections  {text-align: center;}



/* Profile */
#main #quickinfo {
	width: 225px;
	margin: 2.8em 0em 0.5em 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #e5e5e5;
	float: right;
}

#main #profile-user-offer {
	margin: 0.5em 4em 0em 0em;
	float: right;
	overflow: visible;
}
#accommodation td {padding-bottom: 0.5em;}

/* editmyprofile */
#preferences td {
	padding: 0em 1em 1em 0em;
	vertical-align: top;
}

#preferences input {
	border: 1px solid black;
}

#main legend {
  font-weight: bold;
  font-size: 1.3em;
  color: #888888;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  margin-bottom: 0.6em;
}

#main fieldset {
	margin-top: 1.6em;
}

#main td.label{
  color: #333;
	font-weight: bold;
} 


/* footer */
#footer p {
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 0em 0em;
}

/* admin sites */
table.admin td{
	padding: 0.5em 0.8em 0.8em 0.5em;
	vertical-align: top;
}



/* ##################################################################
** ### icons - we can use differet graphics with every stylesheet ###
** ##################################################################
*/

/* space for the icons next to the headline */
h3.icon  {
  padding-left: 25px;
  padding-bottom: 10px;
}
/* space for the icons next to the linklist */
li.icon {
  padding-left: 20px;
  padding-bottom: 10px;
}
/* space for the icons next to legend in editmyprofile */
legend.icon {
  padding-left: 25px;
  padding-bottom: 10px;
}

/* #########################################
** ### icons 22x22 for the profile pages ###
** #########################################
*/
/* icon for "About me" */
.info22 {
  background: url(../images/icons22/icon_info.png) top left no-repeat;
 }
  
/* icon for "Hobbies & Interests" */
.sun22 {
  background: url(../images/icons22/icon_sun.png) top left no-repeat;
 }
 
/* icon for "Travel Experience" */
.world22 {
  background: url(../images/icons22/icon_world.png) top left no-repeat;
 }
 
/* icon for "My Groups" */
.groups22 {
  background: url(../images/icons22/icon_groups.png) top left no-repeat;
 } 
 
/* icon for "Accommodation" */
.accommodation22 {
  background: url(../images/icons22/icon_accommodation.png) top left no-repeat;
 }  
  
/* icon for "Contact Info" */
.contact22 {
  background: url(../images/icons22/icon_contact.png) top left no-repeat;
 }


/* #################################
** ### icons 16x16 for linklists ###
** #################################
*/
/* icon for "delete" */
.delete16 {
  background: url(../images/icons16/icon_delete.png) top left no-repeat;
 }
 
/* icon for "markspam" */
.markspam16 {
  background: url(../images/icons16/icon_markspam.png) top left no-repeat;
 }
 
 /* icon for "marknospam" */
.marknospam16 {
  background: url(../images/icons16/icon_marknospam.png) top left no-repeat;
 }
 
/* icon for "contactmember" */
.contactmember16 {
  background: url(../images/icons16/icon_newmessage.png) top left no-repeat;
 }
 
/* icon for "addcomment" */
.addcomment16 {
  background: url(../images/icons16/icon_addcomment.png) top left no-repeat;
 }
 
 /* icon for "forumpost" */
.forumpost16 {
  background: url(../images/icons16/icon_forumpost.png) top left no-repeat;
 }
 
 /* icon for "my list" */
.mylist16 {
  background: url(../images/icons16/icon_mylist.png) top left no-repeat;
 }
 
  /* icon for "my relations" */
.myrelations16 {
  background: url(../images/icons16/icon_myrelations.png) top left no-repeat;
 }
 
