{% extends 'base.html.twig' %}

{% block title %}
    {{ 'translations.mockup.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'translations.headline' | trans }}</h1>
    <h2>{{ html_template }}</h2>
    <div>{% include html_template %}</div>
{% endblock content %}
