{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('avatar/change') }}
{% endblock javascripts %}

{% block title %}
	{{ 'profile.change.avatar' | trans }}
{% endblock %}

{% block content %}
<div id="main">
</div>
{% endblock content %}
