{% extends 'base.html.twig' %}

{% set globals = {
    'baseUrl': app.request.getSchemeAndHttpHost(),
    'texts': {
        'profile.change.avatar': 'profile.change.avatar' | trans,
    },
} %}

{% block javascripts %}
    {{ encore_entry_script_tags('avatar/change') }}
{% endblock javascripts %}

{% block title %}
	{{ 'profile.change.avatar' | trans }}
{% endblock %}

{% block content %}
<div id="main" data-globals="{{ globals | json_encode() }}">
</div>
{% endblock content %}
