/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#footer {
    width: 100%;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 11px;
    line-height: 14px;
    padding: 6px;
    height: 40px;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: #f37000;
}

#footer a:focus{
    color: #f37000;
}

.chevron_down{
    top: 50px;
    display: block;
    font-size: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100px;
    margin: 0 auto;
    outline: none;
    text-decoration: none;
    color: #fff;
    z-index: 200;
}
.chevron_down_img{
    top: 38px;
    position: absolute;
    right: 0px;
    left: 0px;
    margin: 0px auto;
}

.chevron_icon {
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 1rem;
    vertical-align: middle;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    transition:background 0.3s ease, box-shadow 0.3s ease;;
}
.chevron_down:hover .chevron_icon{
    background: rgba(140, 140, 140, 0.3);
    box-shadow: 0 0 5px 0px #DADADA;
}

/* additional sections */
#home {
    background: url(/images/homepicture-1200px_1.jpg) no-repeat center center fixed;
    background-color:#000;
    display: table;
    height: 1300px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {
    background-color: #ff8800;
    color: white;
    border-top: 6px solid #EFEFEF;
    border-bottom: 6px solid #EFEFEF;
    height: 730px;
}
#about .col-xs-12.col-sm-6.col-md-2 {
    margin-left:1rem;
    margin-right:1rem;
}
#about p {
    text-align:center;
    max-height:182px;
    overflow:hidden;
}

#about_trailing {
    background: url(/images/homepicture-1200px_2.jpg) no-repeat center center fixed;
    display: table;
    height: 1300px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}
@media only screen 
    and (max-width: 994px) {
        #about_trailing {
        background-size:auto;
        }
    }
#about_trailing > .container > .row {
    width: 100%;
    position: relative;
    top: 130px;
    left: 0px;
}

#statistics {
    background-color: #f3a806;
    color: white;
    border-top: 6px solid #EFEFEF;
    border-bottom: 6px solid #EFEFEF;
    height: 504px;
}
#statistics .col-xs-4.col-sm-3.col-md-2{
    margin-left:1rem;
    margin-right:1rem;
}
#statistics_trailing {
    background: url(/images/homepicture-1200px_3.jpg) no-repeat center center fixed;
    display: table;
    height: 1300px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#statistics_trailing p {
    font-family: Signika;
    font-weight: 300;
    margin-bottom: 1.2rem;
    color:white;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.6rem;
    width: 61.8%;
    margin-left: 19.1%;
}
@media only screen 
    and (max-width: 992px) {
        #statistics_trailing p {
        font-size: 0.875rem;
        }
    }
@media only screen 
    and (max-width: 544px) {
        #statistics_trailing p {
        width:100%;
        margin-left:0;
        }
    }
#statistics_trailing_blur {
    background: url(/images/startpage/startpagebg_blur.jpg) no-repeat center center fixed;
    display: table;
    height: 1300px;
    position: relative;
    margin-top: -1300px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity:1;}
#search {
    color: #FFF;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility:visible;
    z-index:1000;
}

#search_trailing {
    background: url(/images/homepicture-1200px_3.jpg) no-repeat center center fixed;
    display: table;
    height: 70%;
    min-height:100vh;
    max-height:100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#search .form-group span {
    font-size: 1.625rem;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    font-family:Signika;
}
#search .form-group span + span {
    font-size: 1rem;
    text-transform: none;
    display: block;
    letter-spacing:0rem;
    font-weight: 300;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
    font-family:Signika;
}
#search .input-group span.input-group-addon:first-child{
    background-color: white;
    border: medium none;
    color: rgb(194, 194, 194);
    border-radius: 2px 0 0 2px;
    cursor:none;
}
#search .input-group span.input-group-addon:nth-child(3){
    background-color: #eb7109;
    box-shadow: 0 0 5px 1px #d86400 inset;
    color: white;
    border: 2px solid white;
    border-radius: 0 2px 2px 0;
    cursor:pointer;
}
#search .input-group span.input-group-addon:nth-child(3):hover{
    background-color: #c05800;
}
#search .form-control {
    border: 1px solid rgb(255, 255, 255);
}
#search.pad-section {
    padding-top: 110px;
}
#search h1 {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
#search .form-control {
    line-height: 1.75;
}
#search .col-sm-4.col-sm-offset-1 {
    padding-top:52px;
}
#search .form-group {
    text-align:center;
}
#search .container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding:0px;
    bottom: 234px;
}
#landingcontainer.container {
    top: 0px;
    position: absolute;
    width: 100% !important;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    padding: 0;
    max-width: 100%;
    padding: 0px;
}
#landingcontainer .row {
    margin:0 !important;
}
#landingcontainerdiv {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 42px !important;
    box-shadow: none;
}
#landingcontainerdiv p{
    font-family: Signika-Regular, sans-serif;
    font-weight: 300;
    margin-bottom: 3.2rem;
    color:white;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-top: 1rem;
    width: 61.8%;
    margin-left: 19.1%;
}
@media only screen 
    and (max-width: 992px) {
        #landingcontainerdiv p {
        font-size: 0.875rem;
        }
    }
@media only screen 
    and (max-width: 544px) {
        #landingcontainerdiv p {
        width:100%;
        margin-left:0;
        }
    }

#landingcontainerdiv p small{
    font-family: Lato;
    color:white;
}
#landingcontainerdiv h1 {
    margin-bottom:0.1rem;
    color:white;
}
#landingcontainerdiv form input {
    margin:0px auto;
    margin-bottom: 26px;
    width: 38.2%;
    border: 1px solid white;
    border-radius: 0.1rem;
}
#landingcontainerdiv form input.btn-primary {
    width: 23.6%;
    height: 52px;
    font-size:1.25rem;
    border: 1px solid transparent;
    border-radius:3px;
    font-family:Signika;
    box-shadow: 0 0 5px 1px  #d86400 inset;
    border: 2px solid white;
}
@media only screen 
    and (max-width: 544px) {
        #landingcontainerdiv form input {
        width: 100%;
        }
        #landingcontainerdiv form input.btn-primary {
        width:61.8%;
    }
    }
@media only screen 
    and (min-width: 544px)
    and (max-width: 768px) {
        #landingcontainerdiv form input {
        width: 61.8%;
        }
        #landingcontainerdiv form input.btn-primary {
        width:38.2%;
    }
    }

/* slider classes */
.slider {
    overflow: auto;
    position: relative;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
.as-nav {
  width:130px;
  margin:0px auto;
  position: relative;
}
.as-nav a {
  background-color: rgb(242, 205, 163);
  color: rgba(255, 255, 255, 0);
  width: 10px;
  height: 10px;
  padding: 1px;
  display: inline-block;
  border-radius: 50%;
  margin-left:16px;
  font-size: 0px;
}
.as-nav a:hover {
  box-shadow: 0px 0px 3px 1px rgb(206, 110, 0);
  background-color:white;
  border:2px solid transparent;
  height:10px;
  width:10px;
  transition: 0.2s ease-in;
}
.as-active {
  background-color: white !important;
}
.as-prev-arrow {
  background-image:url("../img/icons/ic_flecha_izq_black_24px.svg");
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  font-size: 0px;
  opacity: 0.4;
  position: absolute;
  left: 12px;
  top: 44px;
  z-index: 2;
  cursor:pointer;
}
.as-next-arrow {
  background-image:url("../img/icons/ic_flecha_dcha_black_24px.svg");
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  font-size: 0px;
  opacity: 0.4;
  position:absolute;
  left: 380px;
  top: 44px;
  z-index: 2;
  cursor:pointer;
}
.as-prev-arrow:hover, .as-next-arrow:hover {
  opacity:0.2;
}

/*Unslider*/
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
.unslider{
    overflow:auto;
    margin:0;
    padding:0
    }
.unslider-wrap{
    position:relative
    }
.unslider-wrap.unslider-carousel>li{
    float:left
    }
.unslider-vertical>ul{
    height:100%
    }
.unslider-vertical li{
    float:none;
    width:100%
    }
.unslider-fade{
    position:relative
    }
.unslider-fade .unslider-wrap li{
    position:absolute;
    left:0;
    top:0;
    right:0;
    z-index:8}
.unslider-fade .unslider-wrap li.unslider-active{
    z-index:10
    }
.unslider li,.unslider ol,.unslider ul{
    list-style:none;
    margin:0;
    padding:0;
    border:none
}
.unslider-arrow{
    position:absolute;
    left:20px;
    z-index:2;
    cursor:pointer
    }
.unslider-arrow.next{
    left:auto;
    right:20px
}


h1 {
    font-size: 4.25rem;
    font-weight: bolder;
    text-align: center;
    line-height:4.92rem;
    text-shadow: 0px 0px 3px rgba(185, 185, 185, 0.5);
    letter-spacing: 0.15rem;
}
@media only screen 
    and (max-width: 992px) {
        h1 {
        font-size: 2.625rem;
        line-height:3.04rem;
        }
    }
h2 {
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(185, 185, 185, 0.5);
    letter-spacing: 0.1rem;
}
h3 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(185, 185, 185, 0.5);
}

h4 {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
}
p {
    line-height: 1.62;
}

.contrastbg{
    background-color: rgba(0,0,0, .2);
}

.orangelink{
a {color: $brand-primary;}
}

.secondblock{
    width: 100%;
    position:absolute;
    top:730px;
}

.thirdblock{
    width: 100%;
    position:absolute;
    top: 912px;
}

.whitetext{
    color:white;
}

.centertext{
    text-align: center;
}

.nospacing{
    text-align: center;
}

.disblock{
    display: block;
}

.noborder{
    border-color: rgba(255,255,255,0);
}
.noborder:hover{
    border-color: rgba(255,255,255,0);
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.horizontalcentering {
    left:-50%;
    transform:translateX(50%);
}
.fullwidth {
    width:99vw; 
    max-width: 99vw;
}