/* lowest usage */
a.tagusage1 {font-size:100%;}
a.tagusage2 {font-size:140%;}
a.tagusage3 {font-size:160%;}
a.tagusage4 {text-decoration:underline; font-size:200%;}
a.tagusage5 {text-decoration:underline; font-size:250%; font-weight:bold}

div.tags p{float:left;margin:0 1em 0 0}
div.tags ul{margin:0;padding:0;list-style-type:none;display:inline; border: 0;}
div.tags li{display:inline;margin:0 1em 0 0; padding: 0 .2em; float:left; text-decoration: none; border: 0;}
div.tags a{text-decoration: none; border: 0;}
div.tags a:hover{text-decoration: underline; border: 0;}

div.popupmap {
    width: 300px;
}
div.popupmap .innermap{
    border-right: 1px solid #999;
    border-bottom: 4px solid #999;
    border-left: 1px solid #ccc;
    border-top: 4px solid #999;
}

/* --- labeled marker styles for Google Maps --- */

div.markerLabel {
        display: block;
        padding-top: 9px;
}

div.markerLabel {
        text-align: center;
        color: #fff;
        background: #333 url(../../../../images/icons/marker_left_bg.png) top right no-repeat;
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
        padding: .5em 1em;
        letter-spacing: 0px;
        font-size: 12px;
        font-family: Arial;
}

/* --- Classes for the search highlight javascript --- */

span.highlighted {
  background-color: #ccc;
  font-weight: bold;
}
span.term0 {
  background-color: #ccc;
}
span.term1 {
  background-color: #ccc;
}
span.term2 {
  background-color: #ccc;
}


/* --- Classes for "round boxes" --- */
div.box {
  background-image:url(../../images/box-right.png);
  background-position:right center;
  background-repeat:repeat-y;
  margin:20px 20px 0pt;
}

div.box h3 {
  background-image:url(../../images/box-top-left.png);
  background-repeat:no-repeat;
  display:block;
  font-size:2em;
  line-height:40px;
  padding:0;
  margin: 0;
  border: none;
}

div.box h3 a {
  background-image:url(../../images/box-top.png);
  background-repeat:repeat-x;
  display:block;
  line-height:50px;
  margin:0pt 20px;
  text-decoration:none;
}

div.box h3 span {
  background-image:url(../../images/box-top.png);
  background-repeat:repeat-x;
  display:block;
  line-height:50px;
  margin:0pt 20px;
  text-decoration:none;
}

div.box div.text {
  background-image:url(../../images/box-left.png);
  background-position:left top;
  background-repeat:repeat-y;
  min-height:50px;
  padding:10px 20px 10px 40px;
}

div.box div.corner {
  background-image:url(../../images/box-top-right.png);
  background-position:right top;
  background-repeat:no-repeat;
  float:right;
  height:50px;
  line-height:50px;
  margin:0pt;
  padding:0pt 30px 0pt 0pt;
}

div.box div.boxbottom {
  background-image:url(../../images/box-bottom.png);
  background-position:left bottom;
  background-repeat:repeat-x;
  color:#888888;
  font-size:0.9em;
  height:50px;
  line-height:50px;
}

div.author {
  padding-left: 2em;
  background-image:url(../../images/box-left.png);
  background-position:left top;
  background-repeat:repeat-y;
  color: #888;
}

p.action {
  margin: 0;
  padding-left: 2em;
  background-image:url(../../images/box-left.png);
  background-position:left top;
  background-repeat:repeat-y;
}

div.box div.boxbottom div.author {
  background-image:url(../../images/box-bottom-left.png);
  background-position:left bottom;
  background-repeat:no-repeat;
  float:left;
  height:50px;
  line-height:50px;
  padding:0pt 0pt 0pt 20px;
}

div.box div.boxbottom div.links {
  background-image:url(../../images/box-bottom-right.png);
  background-position:right bottom;
  background-repeat:no-repeat;
  float:right;
  height:50px;
  line-height:50px;
  padding:0pt 20px 0pt 0pt;
}

div.tags  {
  padding-bottom: 0.5em;
  color: #888888;
}

div #comments { margin: 20px 20px 0pt; }

