
/* ######################################################################################################
** ### YAML Customizing for BW | File 1 ##################################################################
** ######################################################################################################
*/

/* #################################################################
** ### This is a modification on our layout CSS. We remove the left column and make the one in the middle wider #####
** #################################################################
*/

@media all
{
#main #col2 ,#main #col2 _content{
display: none;
visibility:hidden;
}

#main #col1 {
    float:right;
    display: block;
	width: 200px;
}
#main #col3 {
	margin-left: 0;
	margin-right: 200px;
	border-left: none;
	border-right: 2px solid #e5e5e5;
	background: #fff; !important
}
#main #col1 #col1_content {
	padding: 10px 30px 15px 20px;
}
#main #col3 #col3_content {
	padding: 0 0 0 0;
	border: none;
}

}