/* ###########################################
** ### Old custom classes for startpage /index page #################################
** ###########################################
*/

div.index .floatbox  img {
	padding: 5px 6px 10px 0;
	float: left;
}
div.index p {
	padding: 0 0 10px 5px;
	line-height:120%;
	margin: 0;
}

#main #col3 .index_row1 .info h1,#main #col3 .index_row1 .info  h2,#main #col3 .index_row1 .info  h3,
#main #col3 .index_row2 .info h1,#main #col3 .index_row2 .info  h2,#main #col3 .index_row2 .info  h3  {
	padding: 10px 0 10px 5px;
	line-height:120%;
	margin: 0;
	border: none;
	text-align: middle;
}
#main #col2 h3 {
	padding: 15px 0 10px 5px;
	line-height:120%;
	margin: 0;
}
#main #col2 input {
	width: 90%;
}

#main #col3 .index_row1 .info h3 {
/*	padding: 15px 0 10px 60px; */
	line-height:120%;
	color:#000000;
    font-size: 1.6em;
} 
#main td.info {
	padding: 0;
}
#main .index_row1 .info, #main .index_row2 .info {
	padding: 0 30px 15px 20px;
}
/* remove padding, so the above white background picture is borderless */
#teaser_shadow {
    padding-top: 0;
}

#topnav {
    padding-top: 34px;
    margin: 0 30px;
    width: 100%;
}
#topnav ul {
/*    width: 500px; */
    float: left;
}

.slide {
	width: 350px;
	height: 230px;
    margin: 0;
    padding: 0;
    text-align: right;
}
.slide img{
    margin: 0 -30px 0 0;
    padding: 0 0 0 20px;
	width: 350px;
	height: 230px;
}
#slideshow-content {
    margin-top: 10px; 
    margin-bottom: 10px; 
    width: 370px; 
    height: 240px
}
#teaser .photodesc {
    position: relative; 
    top: -30px; 
    left: 50px;
}
#teaser .photodesc, #teaser .photodesc a{
    color: #ccc;
    font-weight: normal;
}
#footer,#footer .center{
    border: none;
    text-align: left;
}
#footer, #footer  a {
    text-align: left;
    color: #999;
    font-weight: normal;
}
