/*
* rules for index-page (startpage)
*
* build/rox/templates/startpage.php
* build/rox/templates/teaser.php
* build/rox/templates/startpage_people.php
* build/rox/templates/_languageselector.helper.php
* build/rox/templates/footer.php

*/

/* custom styles for headers on the startpage */
#teaser h1 {font-size: 40px; color: #000; padding-top:0.5em;}
#teaser h2 {font-weight: normal; letter-spacing: 0; line-height: 1.5em; }

#index h3 {
  margin: 0;
  padding: 10px 0 10px 5px;
  line-height:120%;
  font-size: 1.6em;
  text-align: middle;
  color: #000000;
  border: none;
}


/* show a nice shadow around the small userpic (50x50) */
.shadowframe {
  width: 50px;
  background: transparent url(../../../../images/misc/userpic5050bg.gif) no-repeat top left;
  padding: 7px;
  margin-right: 10px;
}

/* userinfo right from the userpic */
.userinfo {
  margin-left: 50px;
  margin-top: 10px;
  padding: 0px 5px;
  text-align: left;
}

/* remove padding, so the above white background picture is borderless */
#teaser_shadow {
    padding-top: 0;
}

#header #topnav #logo {
    margin-top: -10px;
}

#topnav {
    padding-top: 34px;
    margin: 0 30px;
    width: 100%;
}
#topnav ul {
/*    width: 500px; */
    float: left;
}



/* styles for the slideshow */
.slide {
  width: 350px;
  height: 230px;
    margin: 0;
    padding: 0;
    text-align: right;
}
.slide img{
    margin: 0 -30px 0 0;
    padding: 0 0 0 20px;
  width: 350px;
  height: 230px;
}

#slideshow-content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 370px;
    height: 240px;
    float: right;
}
#teaser .photodesc {
    position: relative;
    top: -30px;
    left: 50px;
}
#teaser .photodesc, #teaser .photodesc a{
    color: #ccc;
    font-weight: normal;
}


/* modification on the footer (only on startpage ? ) */
#footer,#footer .center{
    border: none;
    text-align: left;
}
#footer, #footer  a {
    text-align: left;
    color: #999;
    font-weight: normal;
}
