
/*
*  Show col2 on the right side for the tour-menu
*
*/
@media all
{

#col2 { width: 200px; float: right; display: block;} 
#col1 { width: 0; display: none;} 

#col3 { 
	margin: 0; padding:0; 
	margin-right:200px;
}

}