$select-color-item: #f37000;
$select-color-item-text: #ffffff;
$select-color-item-border: #f37000;

$select-border-radius: 8px;

/*
$select-padding-x: 4px;
$select-item-padding-x: 4px;
$select-padding-y: 4px;
$select-item-padding-y: 4px;
$select-margin-item-x: 4px;
$select-margin-item-y: 4px;
$select-padding-item-x: 0px;
$select-padding-item-y: 0px;
$select-width-item-border: 1px;
 */
