$select-color-item: #f37000;
$select-color-item-text: #ffffff;
$select-color-item-border: #f37000;
$select-border-radius: 8px;
$select-padding-x: 4px;
$select-padding-y: 4px;
$select-margin-item-x: 4px;
$select-margin-item-y: 4px;
$select-padding-item-x: 4px;
$select-padding-item-y: 4px;
$select-padding-y: 1px;
$select-width-item-border: 1px;
