$select-color-item: #f37000;
$select-color-item-text: #ffffff;
$select-color-item-border: #f37000;

$select-border-radius: 8px;
$select-font-family: 'Signika';
$select-font-size: 1rem;
$select-line-height: 1.5;
