{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends 'error.html.twig' %}

{% block content %}
    <p>
        {{ 'error.500'|trans }}<br>

        <a href="{{ url('homepage') }}">{{ 'error.return.home'|trans }}</a>.
    </p>
{% endblock %}
