{% extends 'private/mydata.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.communitynewscomments.headline' | trans }}</h1>
    <p>{{ 'mydata.communitynewscomments.abstract' | trans }}</p>
    {% if newsAndComments|length == 0 %}
        <p>{{ 'mydata.communitynews.no.comments'|trans }}</p>
    {% else %}
        <div class="card-columns">
            {% for commentsAndNews in newsAndComments %}
                {% include 'private/communitynews_comment.html.twig' with { 'commentsAndNews': commentsAndNews } %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
