{% extends 'profile/edit_subpage.html.twig' %}

{% block redirect %}<meta http-equiv="refresh" content="1; URL='{{ url }}'">{% endblock %}

{% block subpage_title -%}
  {{ 'mydata.headline.download'|trans }}
{%- endblock %}

{% block subpage_body %}
  <p>{{ 'mydata.download.start'|trans }}</p>
{% endblock subpage_body %}
