{% block content %}
<footer>
    <div id="footer_content" class="stickyfooter">
        <div class="container">
            <div class="row align-items-center row justify-content-end">
                <div class="col-12 mt-1">
                    {{ 'mydata.generated'|trans({'date_generated':date_generated}) }}
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
