{% import 'macros.twig' as macros %}
{% extends 'profile/profile.html.twig' %}

{% block page_content %}
    <h1>{{ 'mydata.headline.download'|trans }}</h1>
    <p>{{ 'mydata.abstract.download'|trans }}</p>
    {{ form(form) }}
{% endblock page_content %}
