{% import 'macros.twig' as macros %}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ 'mydata.headline.download'|trans }}</h1>
    <p>{{ 'mydata.abstract.download'|trans }}</p>
    {{ form(form) }}
{% endblock content %}
