{% extends 'base.html.twig' %}

{% block title %}
    {{ 'credits.title' | trans }}
{% endblock %}

{% block content %}
    <h1>{{ 'credits.headline' | trans }}</h1>
    <p>{{ 'credits.abstract' | trans }}</p>
    <dl>
        <dt><a href="https://geonames.org">Geonames</a></dt>
        <dd>We use the data from geonames.org to help you find your way around the world.</dd>
    </dl>
{% endblock content %}