
@media all
{
/************* HTML tags *************/

body {
	font-size: 0.75em;
	line-height: 1.2em;
	background-color: #ffffff;
	background-image:  url(images/top_bg.png);
	background-repeat: repeat-x;
	color: #333;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a {
color: #0066CC;
}

h1 {
	color: #ffffff;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1em;
}


/************* classes *************/

.clear {
	clear: both;
}

/************* IDs *************/

#columns {
	/*	border: 1px dashed #CCCCCC;*/
	height: 250px;
}

#columns h2 {
	font-size: 1em;
	margin: 0;
	padding: 0.4em;
	color: #fff;
}

#columns-left h2 {
	padding-left: 20px;
}

#columns-top {
	height: 30px;
	padding-left: 161px;
	clear: both;
	background: #fff url(images/tab2_bg.gif) repeat-x left bottom;
/*	border: 1px dashed #CCCCCC;*/
}

.notabs#columns-top {
	height: 15px;
	background: #fff url(images/tab2_bg.gif) repeat-x left bottom;
/*	border: 1px dashed #CCCCCC;*/
}

#columns-low {
	background: #fff url(images/content_shadow.png) repeat-x;
/*	border: 1px dashed #CCCCCC;*/
}

#columns-middle {
	height: 100%;
	margin: 0px 150px 0px 150px;
}

#columns-right {
	height: 100%;
	float: right;
	width: 140px;
	padding: 67px 0 0 0;/*	border: 1px dashed #CCCCCC;*/
}

#columns-left {
	height: 100%;
	float: left;
}

#footer {
	text-align: center;
	padding: 0.6em 0 3em 0;
}
#footer p {
	padding: 0.6em 0 0.2em 0;
	color: #999999;
}
#footer img {
	height: 10px;
	border: none;
}
#footer a {
	margin: 0.2em;
	padding: 0.3em;
	border: 1px #ffffff solid;
}
#footer a:hover {
	border: 1px #999999 solid;
}
#footer span a {
	border: 1px #999999 solid;
}

#footer-navigation {
	border: 1px dashed #CCCCCC;
	height: 30px;
}

#footer-mumbojumbo {
	border:1px dashed #CCCCCC;
	height: 30px;
}

#header {
}

#header a {
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

#header-logout-link {
	background-image:  url(images/icon_logout.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 3px 0 3px 23px;
}

#header #logo {
	float: left;
	height: 30px;
	margin: 0;
	padding: 0 0 0 20px;
	width: 138px;
}
#header #logo-placeholder {
	color: #FFFFFF;
/*	background-color: #e9e9e9; */
	font-size: 1em;
	margin: 10px 10px 0px 0px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	width: auto;
}

#header #navigation-functions {
	float: right;
	height: 25px;
	line-height: 25px;
	margin: 15px 20px 0 0;
	white-space: nowrap;
}

#header #navigation-access {
	float:right;
	height: 25px;
	line-height: 25px;
	vertical-align: center;
	padding: 0 0 0 0;
	margin: 0 20px 0 0;
	white-space: nowrap;
}

/* NEW NAVIGATION BUTTONS */

#header #navigation-main {
	height: 25px;
	line-height: 25px;
	margin: 0 0 0 30px;
	padding: 0;
	white-space: nowrap;
}
#header #navigation-main li {
	float: left;
	display: block;
	margin-right: 0px;
	text-align: center;
	padding-top: 2px;
}
#header #navigation-main li a {
	color : #000;
/*	background: url(../../images/main_tab_right2.png) right top no-repeat; */
	text-decoration: none;
	font-size: 12px;
	display: block;
	display: inline-block; /* IE 7 */
	border:none;
}
/*\*/
 * html #header #navigation-main li a {
     width: 10px; /* IE */
 }
 /**/
#header #navigation-main li a:hover, #header #navigation-main li a:active {
	color: #000;
	background: url(../../images/main_tab_right2.gif) right bottom no-repeat;
}
#header #navigation-main li a span {
	display: block;
	padding: 0 15px;
/*	background: url(../../images/main_tab_left2.png) left top no-repeat; */

}
#header #navigation-main li a:hover span, #header #navigation-main li a:active span {
	background: url(../../images/main_tab_left2.gif) left bottom no-repeat;
}

/* Active Menu-items */
#header #navigation-main li.active a {
	color: #ffffff;
	font-weight: bold;
	background: url(../../images/main_tab_right.gif) right bottom no-repeat;
}
#header #navigation-main li.active a:hover, #header #navigation-main li.active a:active {
	color: #ffffff;
	background: url(../../images/main_tab_right.gif) right bottom no-repeat;
}
#header #navigation-main li.active a span {
	background: url(../../images/main_tab_left.gif) left bottom no-repeat;
}
#header #navigation-main li.active a:hover span, #header #navigation-main li.active a:active span {
	background: url(../../images/main_tab_left.gif) left bottom no-repeat;
}

/* END NEW BUTTONS */

/* OLD BUTTONS */
#header #navigation-functions ul,
#header #navigation-access ul/*,
#header #navigation-main ul */{ 
/*	list-style-type: none;
	margin:0;
	padding:0; */
}

#header #navigation-functions li { 
	font-size: 0.9em;
	display: inline;
	margin-left: 5px;
	padding: 8px 12px 6px 12px;
}
#header #navigation-access li { 
	padding: 2px 12px 0px 12px;
	float: left;
	display: block;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
}

#header #navigation-functions li a {
	color: #999999;
}
#header #navigation-access li a {
	color: #3A7FD2;
}

#header #fieldset-quicksearch {
	vertical-align: bottom;
	display: inline;
	margin: 4px 0 0 0;
	padding: 0;
	border: 0px;
}

#header #form-quicksearch {
	display: inline;
	height: 25px;
	margin: 0 0 0 0;
}

#header #form-quicksearch #text-field {
	height: 1.3em;
	border: 1px solid #ccc;
	font-size: 0.9em;
}

#header #form-quicksearch #submit-button {
	vertical-align: middle;
}

#topcontent {
	/*	border:1px dashed #CCCCCC;*/
	background: #3A7FD2 url(images/top2_bg.png) repeat-x;
	/*	background: #FFF url(images/contenttop_bg.gif) repeat-x;*/
	padding:0;
	color: #f5f5f5;
}

#topcontent #topcontent-columns {
	margin: 0px 10px 0px 0px;
	float:left;
}

/************* profile *************/

/*#topcontent #topcontent-profile-photo {
	margin: 20px 10px 0px 10px;
	width: 120px; 
	height: 86px;
	float: left;
}*/

#pic_sm1
{
	width: 25px;
	position: absolute;
	z-index: 1;
	overflow: visible;
	top: 86px;
	left: 29px;
/*	top: -140px;
	left: 5px; */
	padding: 4px 4px 4px 4px;
	background: url(../../images/pic_sm_bg.gif) repeat-x;
}
#pic_sm2
{
	width: 25px;
	position: absolute;
	z-index: 2;
	overflow: visible;
	top: 110px;
	left: 25px;
/*	top: -145px;
	left: -1px; */
	padding: 4px 4px 4px 4px;
	background: url(../../images/pic_sm_bg.gif) repeat-x;
}
#pic_sm3
{
	width: 25px;
	position: absolute;
	z-index: 3;
	overflow: visible;
	top: 133px;
	left: 30px;
/*	top: -150px;
	left: 2px; */
	padding: 4px 4px 4px 4px;
	background: url(../../images/pic_sm_bg.gif) repeat-x;
}
#pic_sw
{
	position: absolute;
	z-index: 3;
	overflow: visible;
	top: 165px;
	left: 23px;
/*	top: -150px;
	left: 2px; */
}
#pic_sw img {
	float: left;
}
#pic_main
{
	margin-left: 20px;
	width: 114px;
	z-index: 5;
	overflow: visible;
	position: absolute;
}
#pic_main #img1
{
	margin: 0;
	padding: 8px 9px 0px 10px;
	background: url(../../images/pic_main_oben.gif) repeat-x;
}
#pic_main #img2
{
	margin: 0;
	padding: 0;
	background: url(../../images/pic_main_unten.gif) repeat-x;
}

/* NEW TOP NAVIGATION */

#navigation-content {
	margin: 0;
	padding: 0;
}
#navigation-content {
	white-space: nowrap;
}
#navigation-content li {
	float: left;
	display: block;
	margin-right: 0px;
	text-align: center;
	padding-top: 0px;
}
#navigation-content li a {
	color : #fff;
	background: url(../../images/top_tab_right2.gif) right top no-repeat; 
	text-decoration: none;
	font-size: 12px;
	display: block;
	display: inline-block; /* IE 7 */
	height: 30px;
	line-height: 30px;
	border:none;
}
/*\*/
 * html #navigation-content li a {
     width: 10px; /* IE */
 }
 /**/
#navigation-content li a:hover, #navigation-content li a:active {
	color: #fff;
	background: url(../../images/top_tab_right3.gif) right bottom no-repeat;
}
#navigation-content li a span {
	display: block;
	padding: 0 15px;
	background: url(../../images/top_tab_left2.gif) left top no-repeat;

}
#navigation-content li a:hover span, #navigation-content li a:active span {
	background: url(../../images/top_tab_left3.gif) left bottom no-repeat;
}

/* Active Menu-items */
#navigation-content li.active a {
	color: #000;
	font-weight: bold;
	background: url(../../images/top_tab_right.gif) right bottom no-repeat;
}
#navigation-content li.active a:hover, #navigation-content li.active a:active {
	color: #000;
	background: url(../../images/top_tab_right.gif) right bottom no-repeat;
}
#navigation-content li.active a span {
	padding: 0 25px;
	background: url(../../images/top_tab_left.gif) left bottom no-repeat;
}
#navigation-content li.active a:hover span, #navigation-content li.active a:active span {
}


/* END NEW TOP NAVIGATION  */

 #columns #content {
	padding: 0 1em 1em 0;
} 
#navigation-path {
	line-height: 1em;
	white-space: nowrap;
	font-size: 0.9em;
	color: #fff;
	padding: 6px 0 0 0;
}
#navigation-path a {
	line-height: 1em;
	white-space: nowrap;
	font-size: 1em;
	clear: both;
	color: #C3D8F1;
}
#content #navigation-path a {
	line-height: 1em;
	white-space: nowrap;
	font-size: 0.9em;
	clear: both;
	color: #999999;
}
div#profile-user-info {
	margin: 0px 20px 0px 0px;
}

#topcontent #topcontent-columns #profile-user-info {
	float: left;
	color: #f5f5f5;
	padding-top: 6px;
}
#topcontent #topcontent-columns #profile-user-info h1 {
	color: #ffffff;
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.6em;
}
#topcontent #topcontent-columns #profile-user-info h2 {
	font-size: 1.4em;
	line-height: 1em;
	color: #f5f5f5;
}
#topcontent #topcontent-columns #profile-user-info p {
	line-height:1.2em;
	padding-bottom: 6px;
}
#topcontent #topcontent-columns #profile-user-info li{
	width: 50%;
	float: left;
}

#topcontent #topcontent-columns #profile-user-offer {
	float: left;
	padding-top: 33px;
}

#maincontent #topcontent #experience {
	float: left;
	margin: 6px 0px 0px 20px;
	line-height: 1.8em;
	width: 180px;
}

#columns #content ul.contact li {
	float: left;
	width: 48%; 
} 
#columns #content ul.contact li ul {
	margin: 0 0 0.8em 0;
} 
#columns #content ul.contact li ul li {
	padding: 0.2em; 
	float: left;
	width: 90%; 
} 

#columns li.label{
	font-weight: bold;
} 
#columns #content div.info {
	padding: 1.6em 1.8em;
}
#columns #content div.info p {
	line-height: 1.3em;
}
#columns #col1 #content div.info {
	margin: 0 10px;
	padding: 1.6em 0 1.6em 1.8em;
}
#columns #content div.highlight {
	background: #faf5dd url(images/cell_bg.jpg) repeat-x;
	border: 1px solid #e5e5e5;
}

#columns h3 {
	font-size: 1.4em;
	color: #888888;
}
div.info h3 {
	margin: 0 0 0.6em 0;
}

#columns #col1 #content col3.info h3 {
	margin: 0em 0.4em 0.6em 0;
	color: #000000; !important
}

#columns #content div.info ul.information li {
	float: left;
	width: 48%; 
} 
#columns #content div.info ul.information li.label {
	font-weight: bold;
} 

/************* user content *************/
.user-content p {
	margin: 0 0 1em 0;
}
.user-content ul {
	margin: 0 0 1em 2em;
}
.user-content li {
	list-style-type: square;
	padding: 0 0 0 1em;
}

/*************** NEW SETS - not yet ordered *************/

.comments_text ul {
	margin: 0.4em;
}
.comments_tags li {
	list-style-type: none;
	padding: 0 0 0 1em;
}

#columns #col1 ul {
	margin-top: 8px;
	margin-bottom: 8px;
	line-height: 2em;
}

/*************** Index page - not yet ordered *************/

#main_index {
	padding: 3.6em;
	background: url(../../images/index_pic.gif) top right no-repeat;
}
#main_index h1 {
	font-size: 3.5em;
	line-height: 1.3em;
}
#main_index h2 {
	color: #ffffff;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.6em;
}
.index#columns-top {
	height: 4px;
	background: #fff url(images/tab2_bg.gif) repeat-x left bottom;
/*	border: 1px dashed #CCCCCC;*/
}
#columns div.index #content {
	padding: 0;
}
div.index img {
	padding: 5px 6px 10px 0;
	float: left;
}
div.index p {
	padding: 0 0 10px 5px;
	line-height:120%;
	margin: 0;
}
#columns #col3.index h1,#columns #col3.index h2,#columns #col3.index h3 {
	padding: 10px 0 10px 5px;
	line-height:120%;
	margin: 0;
}
#columns #col2.index h3 {
	padding: 15px 0 10px 5px;
	line-height:120%;
	margin: 0;
}
#columns #col3.index .floatbox h3 {
	padding: 15px 0 10px 60px;
	line-height:120%;
	color:#000000;
}
#columns #col3.index div.subcolumns {
	border-bottom:solid #e5e5e5 1px;
}

/* ------------ NEW COLUMN DESIGN ---------*/
/* ######################################################################################################
** ### DIV-Container des Basislayouts ###################################################################
** ######################################################################################################
*/
	
	#header { position:relative }

	#topnav {
		position:absolute;
		top: 10px;
		right: 10px;
		color: #fff;
		background: transparent;
		text-align: right; /* Erforderlich, damit im Opera 6 wirklich rechts plaziert ! */
	}
	
	#nav { clear:both; width: auto; }
	#main {	clear:both; width: auto; 
		padding: 0 0 15px 0;
	}
	
	#col1 {
		float: left;
		width: 160px; /* Standard-Wert, falls keine anderen Vorgaben gemacht werden */
	}
	#col2 {
		float:right; 
		width: 100px; /* Standard-Wert, falls keine anderen Vorgaben gemacht werden */
	}
	#col3
	{
		width:auto;
		margin-left: 160px; /* Standard-Wert, falls keine anderen Vorgaben gemacht werden */
		margin-right: 0; /* Standard-Wert, falls keine anderen Vorgaben gemacht werden */
	}
	
	#footer { clear:both; }	/* Backup für IE-Clearing */
	
	/* Der z-Index verhindert, dass im Falle des noch bestehenden IE-Bugs die Texte vor 
	** dem Spaltenhintergrund erscheinen. */
	#col1 {z-index: 3;}
	#col2 {z-index: 5;}
	#col3 {z-index: 1;}
	#col1_content {z-index: 4;}
	#col2_content {z-index: 6;}
	#col3_content {z-index: 2;}
	
	#col1_content, #col2_content, #col3_content { position:relative; }
	
/* ######################################################################################################
** ### Modifications ###########################################################
** ######################################################################################################
*/

/* Mods for columns */
	#columns #col2 {
		width: 160px; 
	}
	#columns #col3 {
		border-left: 1px solid #e5e5e5; 
		background: #fff url(images/bg_right.jpg) top right repeat-y; 
		margin-right: 160px; /* Standard-Wert, falls keine anderen Vorgaben gemacht werden */
	}
	
/* Mods for index page */
	#columns #col2.index {
		width: 210px;
	}
	#columns #col3.index {
		margin-left: 0;
		margin-right: 210px;
		border-left: none;
		border-right: 1px solid #e5e5e5; 
		background: none; !important
	}
	#columns #col2.index #col2_content {
		padding: 0 20px 0 10px;
	}
	#columns #col3.index #col3_content {
		padding: 0 0 0 20px;
	}


/* Mods for profile pic */
	.pic#col1 {
		height: 140px;
	}
	.pic#col1 #col1_content {
		padding: 12px 0 0 30px;
	}

/* Mods for topcontent */
	#topcontent	#main {	clear:both; width: auto; 
		padding: 0;
		background: #3A7FD2 url(images/top2_bg.png) repeat-x;
	}
	#topcontent	#col1_content {
		padding: 15px 0 0 30px;
	} 
	#topcontent	#col2_content {
		padding: 15px 0 0 10px;
	}
	#topcontent	#col3_content {
		padding: 15px 0 10px 20px; 
	} 
	

/* ######################################################################################################
** ### Markupfreie CSS-Floatclearing-Lösungen ###########################################################
** ######################################################################################################
*/

	/* Clearfix-Methode zum Clearen der Float-Umgebungen */
	 .clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	
	/* Diese Angabe benötigt der Safari-Browser zwingend !! */
	.clearfix { display: block; } 
	
	/* Overflow-Methode zum Clearen der Float-Umgebungen */
	.floatbox { overflow:hidden; }
	
	/* IE-Clearing: Benötigt nur der Internet Explorer und über iehacks.css zugeschaltet */
	#ie_clearing { display: none }

/* ######################################################################################################
** ### IE-Clearing bis YAML V2.4 ########################################################################
** ######################################################################################################
**
** Die CSS-Definition des IE-Clearings, welches bis YAML 2.4 verwendet wurde, ist aus Gründen der 
** Abwärtskompatibilität des Basis-Stylesheets weiterhin enthalten.
*/
	/* Clearen der 3 Inhaltsspalten mittels dieses speziellen hr-Tags */
	hr.clear_columns {	
		clear: both; 
		float: left; 
		content: "."; 
		display: block;  
		height: 0; 
		line-height: 0px; 
		visibility: hidden; 
		border: 0; 
		padding: 0;
		margin: -1.1em 0 0 0; /* erforderlich damit kein Leerraum zwischen Spalten und Footer entsteht */
	}
/* ######################################################################################################
** ### Subtemplates #####################################################################################
** ######################################################################################################
*/

	.subcolumns { 
		width: 100%;
		padding: 0 1px 0 1px; 
		margin: 0 -1px 0 -1px; 
		overflow:hidden;
	}
		
	.c50l, .c25l, .c33l, .c38l, .c66l, .c75l, .c62l {float: left; overflow: hidden;}
	.c50r, .c25r, .c33r, .c38r, .c66r, .c75r, .c62r {float: right; overflow: hidden;}
	
	.c25l, .c25r { width: 24.999%; }
	.c33l, .c33r { width: 33.333%; }
	.c50l, .c50r { width: 49.999%; }
	.c66l, .c66r { width: 66.666%; }
	.c75l, .c75r { width: 74.999%; }
	.c38l, .c38r { width: 38.196%; } /* Goldener Schnitt */
	.c62l, .c62r { width: 61.803%; } /* Goldener Schnitt */
	
	.subc  { padding: 0 0.5em 0 0.5em; overflow: hidden; }
	.subcl { padding: 0 0 0 0; overflow: hidden; }
	.subcr { padding: 0 0 0 0; overflow: hidden; }
	
}