<div class="card">
    <a name="friends"></a>
    <h3 class="card-header m-b-0"><span class="icontext">Family, friends and other connections</span></h3>
    <div class="card-block p-a-0">

        <div class="list-group">
            {% for relatedMember in member.relationships %}
                <a href="{{ path('member', { username: relatedMember.Username }) }}" class="list-group-item{{ loop.index == 1 ? ' profilelist' : '' }}"><img src="/members/avatar/member-450?30_30"> {{ relatedMember.Username }} - {{ relatedMember.pivot.Type | trans }}</a>
            {% endfor %}
        </div>

    </div>
</div>
