{% extends '@base/base.html.twig' %}

{% block content %}

    <div class="container">

        <!-- #main: content begins here -->
        <div id="main">

            <div class="bw-row welcomeback marginbottom">
                <div class="col-xs-1">
                    {{ macros.avatar('member-101', 75, true) }}
                    <a href="members/member-101" title="See profile member-101" >{{ macros.avatar('member-101', 50) }}</a><span class="hoststatus"><a href="#status">hosting</a></span></div>
                <div class="col-xs-7"><span class="welcome">Welcome back, {{ macros.memberlink('member-101') }}</span><br /><span class="hostcity">You're registered as <span><a href="#">hosting</a></span> in <a href="#">Lyon</a></span></div>
                <div class="col-xs-4">
                    <div class="input-group searchhost">
                        <input type="text" class="form-control" placeholder="Where do you want to go?">
			      <span class="input-group-btn">
			        <button class="btn btn-warning" type="button"><i class="fa fa-globe"></i> Go</button>
			      </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <!-- two-boxes: messages and website activity -->
            <div class="row marginbottom">

                <!-- entire messages box -->
                <div class="col-xs-12 col-md-6">

                    <!-- messages tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="nav-item"><a href="#messages" class="nav-link active" aria-controls="messages" role="tab" data-toggle="tab">Messages received <span class="label label-primary label-pill">3</span></a></li>
                        <li role="presentation" class="nav-item"><a href="#sent" class="nav-link" aria-controls="sent" role="tab" data-toggle="tab">Sent messages</a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div class="dashbox">

                        <div class="tab-content">

                            <!-- messages content div -->
                            <div role="tabpanel" class="tab-pane active" id="messages">
                                <!-- all / unread messages toggle -->
                                <div class="row readunread">

                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>All
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">Unread
                                        </label>
                                    </div>
                                </div>
                                <!-- load received messages -->
                                <div class="scrollcontent">

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-bed"></i>
                                                <span class="unread"><a href="#">Here's the text of message #1</a></span>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-108?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-newspaper"></i>
                                                <a href="#"><span>Here's the text of message #2</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-110?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-bed"></i>
                                                <a href="#"><span class="unread">Here's the text of message #3</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-114?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-newspaper"></i>
                                                <a href="#"><span>Here's the text of message #2</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-118?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-bed"></i>
                                                <a href="#"><span class="unread">Here's the text of message #3</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-120?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-newspaper"></i>
                                                <a href="#"><span>Here's the text of message #2</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-160?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-bed"></i>
                                                <a href="#"><span class="unread">Here's the text of message #3</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>


                                </div>

                            </div>

                            <!-- load sent messages -->
                            <div role="tabpanel" class="tab-pane" id="sent">
                                sent
                            </div>
                        </div>

                        <!-- message buttons -->
                        <div class="dashentry odd center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary-outline"><i class="fa fa-search"></i> Search my messages</button>
                                <button type="button" class="btn btn-primary-outline"><i class="fa fa-envelope"></i> My inbox <span class="label label-primary label-pill">3</span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- entire notifications box -->
                <div class="col-xs-12 col-md-6">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active"><a href="#forum" class="nav-link active" aria-controls="forum" role="tab" data-toggle="tab">Forum <span class="label label-primary label-pill">2</span></a></li>
                        <li class="nav-item"><a href="#activities" class="nav-link" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
                        <li class="nav-item"><a href="#news" class="nav-link" aria-controls="news" role="tab" data-toggle="tab">News <span class="label label-primary">1</span></a></li>
                        <li class="nav-item"><a href="#suggestions" class="nav-link" aria-controls="suggestions" role="tab" data-toggle="tab">Suggestions <span class="label label-primary label-pill">4</span></a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div class="dashbox">
                        <!-- load tab content -->
                        <div class="tab-content">
                            <!-- discussion content div -->
                            <div role="tabpanel" class="tab-pane active" id="forum">

                                <!-- discussion settings -->
                                <div class="row dashentry odd center">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="checkbox" autocomplete="off" checked> groups
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> forum
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> threads I'm following
                                        </label>
                                    </div>
                                </div>

                                <div class="scrollcontent">

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <span class="unread"><a href="#">Discussion 1</a></span>
                                            </p>
                                            <span class="smalltext">by</span>
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-108?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <a href="#"><span>Discussion 2, if the title is long, this could even span over 2 lines. Maybe limit it there</span></a>
                                            </p>
                                            <span class="smalltext">by</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">14 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <span class="unread"><a href="#">Discussion 3</a></span>
                                            </p>
                                            <span class="smalltext">by</span>
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-108?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <a href="#"><span>Discussion 4</span></a>
                                            </p>
                                            <span class="smalltext">by</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">14 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <span class="unread"><a href="#">Discussion 5</a></span>
                                            </p>
                                            <span class="smalltext">by</span>
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <a href="#"><span>Discussion 6</span></a>
                                            </p>
                                            <span class="smalltext">by</span>&nbsp;
                                            <span><a href="#user">Membername</a></span>
                                            <span class="smalltext">14 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        [BUTTON] show more
                                    </div>

                                </div>

                                <div class="dashentry odd center">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-primary-outline"><i class="fa fa-comments"></i> View forum</button>
                                        <button type="button" class="btn btn-primary-outline"><i class="fa fa-users"></i> My groups</button>
                                        <button type="button" class="btn btn-primary-outline"><i class="fa fa-check-square-o"></i> My subscriptions</button>
                                    </div>
                                </div>

                            </div>

                            <!-- load activities -->
                            <div role="tabpanel" class="tab-pane" id="activities">
                                Activities
                            </div>

                            <!-- load news -->
                            <div role="tabpanel" class="tab-pane" id="news">
                                NEWS and Notifications
                            </div>

                            <div role="tabpanel" class="tab-pane" id="suggestions">
                                Suggestions
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- #widgets: 4 columns with additional info -->
            <div class="row marginbottom">
                <!-- BeInvolved widget -->
                <div class="col-xs-12 col-md-4">
                    <div class="widget">
                        <h4>Be Involved<br /><small>help the community</small></h4>
                            <p class="smallmargin"><span class="block">BeWelcome is run by volunteers - free of charge and open source. Volunteering for the project is a great opportunity for you to get to know enthusiastic people who really believe in promoting hospitality and respect for each other. And it's fun, too!</span></p>
                            <div class="smallmargin">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning-outline" type="button"><i class="fa fa-wrench"></i> Help BeWelcome</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning-outline" type="button"><i class="fa fa-euro"></i> Please donate</button>
                                </span>
                            </div>
                            <progress class="progress progress-warning" value="60" max="100">60%</progress>
                            <span>€600.00 of €1000.00 received</span>
                    </div>
                </div>
                <!-- Next visitors widget -->
                <div class="col-xs-12 col-md-3">
                    <div class="widget">
                        <h4>Potential guests<br /><small>travelers in your area</small></h4>

                        <div class="smallmargin">
                            <div class="media">
                                <div><h5 class="media-heading">Username</h5></div>
                                <div class="media-left">
                                    <a href="#">
                                        <img class="float_left framed" src="/members/avatar/member-150?50_50" alt="Profile" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p class="m-a-0 p-a-0"><i class="fa fa-calendar"></i> <span class="smalltext">01-10-2015 - 3 days</span></p>
                                    <p class="m-a-0 p-a-0"><i class="fa fa-home"></i> <span class="smalltext">Berlin, Germany</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="smallmargin">
                            <div class="media">
                                <div><h5 class="media-heading">Username</h5></div>
                                <div class="media-left">
                                    <a href="#">
                                        <img class="float_left framed" src="/members/avatar/member-161?50_50" alt="Profile" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p class="m-a-0 p-a-0"><i class="fa fa-calendar"></i> <span class="smalltext">20-10-2015 - 5 days</span></p>
                                    <p class="m-a-0 p-a-0"><i class="fa fa-home"></i> <span class="smalltext">Paris, France</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="center">
                                <button class="btn btn-warning-outline" type="button"><i class="fa fa-plus-circle"></i> View more</button>
                                <button class="btn btn-warning-outline smallmargin" type="button"><i class="fa fa-map-marker"></i> Plan your trip</button>
                        </div>

                    </div>
                </div>
                <!-- Settings widget -->
                <div class="col-xs-12 col-md-3">
                    <div class="widget center">
                        <h4>Your settings<br /><small>and preferences</small></h4>
                            <h6 class="list-group-item-heading">Accommodation status</h6><i class="fa fa-info-circle"></i>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option2" autocomplete="off">No
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option3" autocomplete="off">Maybe
                                    </label>
                                </div>

                            <h6 class="list-group-item-heading">Public profile?</h6><i class="fa fa-info-circle"></i>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option2" autocomplete="off">No
                                    </label>
                                </div>

                            <h6 class="list-group-item-heading">Receive newsletter?</h6><i class="fa fa-info-circle"></i>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option2" autocomplete="off">No
                                    </label>
                                </div>

                        <span><button class="btn btn-warning-outline" type="button"><i class="fa fa-cogs"></i> more settings</button></span>

                    </div>
                </div>
                <!-- Be Informed widget -->
                <div class="col-xs-12 col-md-2">
                    <div class="widget">
                        <h4>Be Informed<br /><small>Transparency</small></h4>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="nav-item"><a href="#"><i class="fa fa-question"></i> FAQ</a></li>
                            <li class="nav-item"><a href="#"><i class="fa fa-shield"></i> Safety</a></li>
                            <li class="nav-item"><a href="#"><i class="fa fa-bullseye"></i> BeVolunteer</a></li>
                            <li class="nav-item"><a href="#"><i class="fa fa-money"></i> Finances</a></li>
                            <li class="nav-item"><a href="#"><i class="fa fa-book"></i> Annual report</a></li>
                        </ul>
                        <button type="button" class="btn btn-warning-outline btn-sm btn-block"><i class="fa fa-question"></i> FAQ</button>
                        <button type="button" class="btn btn-warning-outline btn-sm btn-block"><i class="fa fa-shield"></i> Safety</button>
                        <button type="button" class="btn btn-warning-outline btn-sm btn-block"><i class="fa fa-bullseye"></i> BeVolunteer</button>
                        <button type="button" class="btn btn-warning-outline btn-sm btn-block"><i class="fa fa-money"></i> Finances</button>
                        <button type="button" class="btn btn-warning-outline btn-sm btn-block"><i class="fa fa-book"></i> Annual report</button>
                    </div>
                </div>
            </div><!-- end of #widgets -->
        </div> <!-- main -->
    </div> <!-- container -->
{% endblock content %}