{% extends '@base/base.html.twig' %}

{% block content %}

    <div class="container">

        <!-- #main: content begins here -->
        <div id="main">

            <div class="row m-b-2">
                <div class="col-xs-12">
                    <div class="container">
                        <div class="row welcomeback">
                            <div class="hidden-md-down col-lg-1 fullheight">
                                <div class="verticalalign">
                                    <div style="height: 50px;">
                                        <a href="members/member-101" title="See profile member-101" ><img src="/members/avatar/member-101?50_50"></a>
                                        <a href="#"><img src="/images/icons/nosorry.png" class="hoststatus"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-7 fullheight">
                                <div class="verticalalign">
                                    <span class="h1">Welcome back, {{ macros.memberlink('member-101') }}</span><br />
                                    <span class="h4">You're hosting status is
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                hosting
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">hosting</a>
                                                <a class="dropdown-item" href="#">maybe hosting</a>
                                                <a class="dropdown-item" href="#">not hosting</a>
                                            </div>
                                        </div>
                                         in <a href="#">Lyon</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 col-lg-4 fullheight">
                                <div class="input-group verticalalign">
                                    <input type="text" class="form-control" placeholder="Where do you want to go?">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-globe"></i> Go</button>
                                      </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ALERT: only trigger on some events -->
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                Please <a href="#" class="alert-link">upload a profile picture</a>
            </div>

            <!-- two-boxes: messages and website activity -->
            <div class="row m-b-2">

                <!-- entire messages box -->
                <div class="col-md-12 col-lg-5">

                    <!-- messages tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="nav-item"><a href="#messages" class="nav-link active smallerpadding" aria-controls="messages" role="tab" data-toggle="tab">Messages received <span class="label label-primary label-pill">3</span></a></li>
                        <li role="presentation" class="nav-item"><a href="#notifications" class="nav-link smallerpadding" aria-controls="sent" role="tab" data-toggle="tab">Notifications</a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div class="dashbox">

                        <div class="tab-content">

                            <!-- messages content div -->
                            <div role="tabpanel" class="tab-pane active" id="messages">
                                <!-- all / unread messages toggle -->
                                <div class="row text-xs-center p-a-1">

                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>All
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">Unread
                                        </label>
                                    </div>
                                </div>
                                <!-- load received messages -->
                                <div class="scrollcontent">

                                    {# messages data #}
                                    <div class="row p-l-1 p-r-1">
                                        <div class="col-xs-12 fullheight">
                                            <div class="hidden-xs-down pull-xs-left" style="padding: 10px 0;">
                                                <a href="#user"><img class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a>
                                            </div>
                                            <div class="dashentry">
                                                <p class="text-truncate">
                                                    <strong><a href="#">Here's the text of message #1</a></strong><br>
                                                    <small>from <a href="#user">Membername</a> 10 minutes ago</small>
                                                </p>
                                            </div>
                                            <div class="pull-xs-right" style="position: relative; right: 0; top: 18px;">
                                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-l-1 p-r-1">
                                        <div class="col-xs-12 fullheight">
                                            <div class="hidden-xs-down pull-xs-left" style="padding: 10px 0;">
                                                <a href="#user"><img class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a>
                                            </div>
                                            <div class="dashentry">
                                                <p class="text-truncate">
                                                    <strong><a href="#">Here's the text of message #1</a></strong><br>
                                                    <small>from <a href="#user">Membername</a> 10 minutes ago</small>
                                                </p>
                                            </div>
                                            <div class="pull-xs-right" style="position: relative; right: 0; top: 18px;">
                                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-l-1 p-r-1">
                                        <div class="col-xs-12 fullheight">
                                            <div class="hidden-xs-down pull-xs-left" style="padding: 10px 0;">
                                                <a href="#user"><img class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a>
                                            </div>
                                            <div class="dashentry">
                                                <p class="text-truncate">
                                                    <strong><a href="#">Here's the text of message #1</a></strong><br>
                                                    <small>from <a href="#user">Membername</a> 10 minutes ago</small>
                                                </p>
                                            </div>
                                            <div class="pull-xs-right" style="position: relative; right: 0; top: 18px;">
                                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-l-1 p-r-1">
                                        <div class="col-xs-12 fullheight">
                                            <div class="hidden-xs-down pull-xs-left" style="padding: 10px 0;">
                                                <a href="#user"><img class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a>
                                            </div>
                                            <div class="dashentry">
                                                <p class="text-truncate">
                                                    <strong><a href="#">Here's the text of message #1</a></strong><br>
                                                    <small>from <a href="#user">Membername</a> 10 minutes ago</small>
                                                </p>
                                            </div>
                                            <div class="pull-xs-right" style="position: relative; right: 0; top: 18px;">
                                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <!-- load system notifications -->
                            <div role="tabpanel" class="tab-pane" id="notifications">
                                system notifications
                            </div>
                        </div>

                        <!-- message buttons -->
                        <div class="odd text-xs-center">
                                <a href="messages" class="btn btn-primary-outline"><i class="fa fa-envelope"></i> My inbox <span class="label label-primary label-pill">3</span></a>
                        </div>
                    </div>
                </div>

                <!-- entire notifications box -->
                <div class="col-md-12 col-lg-7">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#forum" class="nav-link active" aria-controls="forum" role="tab" data-toggle="tab">Forum <span class="label label-primary label-pill">2</span></a></li>
                        <li class="nav-item"><a href="#activities" class="nav-link" aria-controls="activities" role="tab" data-toggle="tab">Activities</a></li>
                        <li class="nav-item"><a href="#news" class="nav-link" aria-controls="news" role="tab" data-toggle="tab">News <span class="label label-primary">1</span></a></li>
                        <li class="nav-item"><a href="#suggestions" class="nav-link" aria-controls="suggestions" role="tab" data-toggle="tab">Suggestions <span class="label label-primary label-pill">4</span></a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div class="dashbox">
                        <!-- load tab content -->
                        <div class="tab-content">
                            <!-- discussion content div -->
                            <div role="tabpanel" class="tab-pane active" id="forum">

                                <!-- discussion settings -->
                                <div class="row readunread">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="checkbox" autocomplete="off" checked> groups
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> forum
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> threads I'm following
                                        </label>
                                    </div>
                                </div>

                                <div class="scrollcontent">

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <span class="font-weight-bold"><a href="#">Discussion 1</a></span>
                                            </p>
                                            <small>by</small>
                                            <small><a href="#user">Membername</a></small>
                                            <small>in</small>
                                            <small><a href="#user">Group name</a></small>
                                            <small>10 minutes ago</small>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-108?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <a href="#"><span>Discussion 2, if the title is long, this could even span over 2 lines. Maybe limit it there</span></a>
                                            </p>
                                            <small>by <a href="#user">Membername</a> in <a href="#user">Group name</a> - 14 minutes ago</small>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <span class="font-weight-bold"><a href="#">Discussion 3</a></span>
                                            </p>
                                            <small>by <a href="#user">Membername</a> in <a href="#user">Group name</a> - 14 minutes ago</small>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-108?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <a href="#"><span>Discussion 4</span></a>
                                            </p>
                                            <small>by <a href="#user">Membername</a> in <a href="#user">Group name</a> - 14 minutes ago</small>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <span class="font-weight-bold"><a href="#">Discussion 5</a></span>
                                            </p>
                                            <small>by <a href="#user">Membername</a> in <a href="#user">Group name</a> - 14 minutes ago</small>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-128?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <a href="#"><span>Discussion 6</span></a>
                                            </p>
                                            <small>by <a href="#user">Membername</a> in <a href="#user">Group name</a> - 14 minutes ago</small>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry odd">
                                        [BUTTON] show more
                                    </div>

                                </div>

                                <div class="dashentry odd text-xs-center">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a href="forums" class="btn btn-primary-outline"><i class="fa fa-comments"></i> View forums</a>
                                        <a href="groups/mygroups" class="btn btn-primary-outline"><i class="fa fa-users"></i> My groups</a>
                                        <a href="forums/subscriptions" class="btn btn-primary-outline"><i class="fa fa-check-square-o"></i> My subscriptions</a>
                                    </div>
                                </div>

                            </div>

                            <!-- load activities -->
                            <div role="tabpanel" class="tab-pane" id="activities">
                                Activities
                            </div>

                            <!-- load news -->
                            <div role="tabpanel" class="tab-pane" id="news">
                                NEWS and Notifications
                            </div>

                            <div role="tabpanel" class="tab-pane" id="suggestions">
                                Suggestions
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- 4 Widgets -->
            <div class="card-deck-wrapper m-b-2">
                <div class="card-deck">
                    <!-- BeInvolved widget -->

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Be Involved<br /><small>help the community</small></h4>
                            <p class="card-text">BeWelcome is run by volunteers - free of charge and open source. Volunteering for the project is a great opportunity for you to get to know enthusiastic people who really believe in promoting hospitality and respect for each other. And it's fun, too!</p>
                            <div class="smallmargin btn-group" role="group">
                                <a href="about/getactive" class="btn btn-primary-outline btn-block" role="button"><i class="fa fa-wrench"></i> Help BeWelcome</a>
                                <a href="donate" class="btn btn-primary-outline btn-block" role="button"><i class="fa fa-euro"></i> Please donate</a>
                            </div>
                            <progress class="progress progress-primary" value="60" max="100">60%</progress>
                            <p class="card-text">€600.00 of €1000.00 received</p>
                        </div>
                    </div>

                    <!-- Guests widget -->

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Potential guests<br /><small>travelers in your area</small></h4>

                            <div class="smallmargin">
                                <div class="media">
                                    <div class="text-xs-center"><h5 class="media-heading">Username</h5></div>
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="float_left framed" src="/members/avatar/member-150?50_50" alt="Profile" />
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-a-0 p-a-0"><i class="fa fa-calendar"></i> <small>01-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-rocket"></i> <small>04-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-home"></i> <small>Berlin, Germany</small></p>
                                    </div>
                                </div>
                            </div>

                            <div class="smallmargin">
                                <div class="media">
                                    <div class="text-xs-center"><h5 class="media-heading">Username</h5></div>
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="float_left framed" src="/members/avatar/member-161?50_50" alt="Profile" />
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-a-0 p-a-0"><i class="fa fa-calendar"></i> <small>20-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-rocket"></i> <small>25-10-2015</small></p>
                                        <p class="m-a-0 p-a-0"><i class="fa fa-home"></i> <small>Paris, France</small></p>
                                    </div>
                                </div>
                            </div>

                           <div class="smallmargin btn-group" role="group">
                                <a href="trips" class="btn btn-primary-outline btn-block"><i class="fa fa-plus-circle"></i> View more</a>
                                <a href="trips/create" class="btn btn-primary-outline btn-block"><i class="fa fa-map-marker"></i> Plan your trip</a>
                            </div>
                        </div>
                    </div>

                    <!-- Settings widget -->
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Your settings<br /><small>and preferences</small></h4>
                            <h6 class="list-group-item-heading">Accommodation status</h6><i class="fa fa-info-circle"></i>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="option2" autocomplete="off">No
                                </label>
                            </div>

                            <h6 class="list-group-item-heading">Public profile?</h6><i class="fa fa-info-circle"></i>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="option2" autocomplete="off">No
                                </label>
                            </div>

                            <h6 class="list-group-item-heading">Receive newsletter?</h6><i class="fa fa-info-circle"></i>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="options" id="option2" autocomplete="off">No
                                </label>
                            </div>

                            <a href="mypreferences" class="btn btn-primary-outline btn-block"><i class="fa fa-cogs"></i> more settings</a>
                        </div>
                    </div>

                    <!-- Transparency widget -->
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Be Informed<br /><small>Transparency</small></h4>
                            <a href="faq" class="btn btn-primary-outline btn-sm btn-block"><i class="fa fa-question"></i> FAQ</a>
                            <a href="safety" class="btn btn-primary-outline btn-sm btn-block"><i class="fa fa-shield"></i> Safety</a>
                            <a href="wiki/BeVolunteer" class="btn btn-primary-outline btn-sm btn-block"><i class="fa fa-bullseye"></i> BeVolunteer</a>
                            <a href="wiki/Finances" class="btn btn-primary-outline btn-sm btn-block"><i class="fa fa-money"></i> Finances</a>
                            <a href="wiki/Annual_Report" class="btn btn-primary-outline btn-sm btn-block"><i class="fa fa-book"></i> Annual report</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end of widgets -->
        </div> <!-- main -->
    </div> <!-- container -->
{% endblock content %}