{% extends '@base/base.html.twig' %}

{% block content %}

    <div class="container" style="padding: 50px 15px 0px;">

        <!-- #main: content begins here -->
        <div id="main">

            <div class="bw-row" style="padding: .5em 0; min-height: 120px; background-color: #EEEEEE; border: 3px solid #FFFFFF; box-shadow: 0 0 1px #888888; margin-bottom: 2em;">
                <div id="avatar" class="col-xs-2"><a href="members/member-101" title="See profile member-101" >{{ macros.avatar('member-101') }}</a><span class="dashstatus" style="position:relative; left: -20px;s top: 40px;"><a href="#status">hosting</a></span></div>
                <div id="welcometext" class="col-xs-7"><span style="font-size: 2.4em; font-weight: 900;">Welcome back, {{ macros.memberlink('member-101') }}</span><br /><span style="font-size: 1.2em; font-weight: bold;">You're registered as <span><a href="#">hosting</a></span> in <a href="#">Lyon</a></span></div>
                <div class="col-xs-3">
                    <div class="input-group" style="position: absolute; top: 30px; right: 10px;">
                        <input type="text" class="form-control" placeholder="Where do you want to go?">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-globe"></i> Go</button>
			      </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <!-- #two-boxes: messages and website activity -->
            <div id="two-boxes" class="row" style="margin-bottom: 2em;">

                <!-- entire messages box -->
                <div id="messagecontainer" class="col-xs-12 col-md-6">

                    <!-- messages tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages received [2]</a></li>
                        <li role="presentation"><a href="#sent" aria-controls="sent" role="tab" data-toggle="tab">Sent messages</a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div id="borderbox" class="dashbox" style="border: 0.3em solid #FFF; overflow: hidden; box-shadow: 0 0 2px #888; height: 30em;">

                        <div class="tab-content">

                            <!-- messages content div -->
                            <div role="tabpanel" class="tab-pane active" id="messages">

                                <div id="readunread" class="row" style="background-color: #FFF; padding: 1em;">
                                    <span class="col-xs-3">Show:</span>
                                    <div class="btn-group col-xs-9" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>All
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">Unread
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option3" autocomplete="off">Read
                                        </label>
                                    </div>
                                </div>
                                <div id="showmessages" class="scrollablecontent" style="position:relative; max-height: 20em; height:100%; width: 105%; width: calc(100% + 20px); overflow-x:hidden; overflow-y:visible;">
                                    <div id="message1" class="row" style="background-color: #FFF; padding: 1em;">
                                        <div id="sender1" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a></div>
                                        <div id="type1" class="col-xs-1"><i class="fa fa-bed"></i></div>
                                        <div id="text1" class="col-xs-8"><span>Here's the text of message #1</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div id="message2" class="row" style="background-color: #EEE; padding: 1em;">
                                        <div id="sender2" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-109?50_50" alt="Profile" /></a></div>
                                        <div id="type2" class="col-xs-1"><i class="fa fa-newspaper-o"></i></div>
                                        <div id="text2" class="col-xs-8"><span>Here's the text of message #2</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="message3" class="row" style="background-color: #FFF; padding: 1em;">
                                        <div id="sender3" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-111?50_50" alt="Profile" /></a></div>
                                        <div id="type3" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                        <div id="text3" class="col-xs-8"><span>Here's the text of message #1</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="message4" class="row" style="background-color: #EEE; padding: 1em;">
                                        <div id="sender4" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-118?50_50" alt="Profile" /></a></div>
                                        <div id="type4" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                        <div id="text4" class="col-xs-8"><span>Here's the text of message #2</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="message3" class="row" style="background-color: #FFF; padding: 1em;">
                                        <div id="sender3" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-111?50_50" alt="Profile" /></a></div>
                                        <div id="type3" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                        <div id="text3" class="col-xs-8"><span>Here's the text of message #1</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="message4" class="row" style="background-color: #EEE; padding: 1em;">
                                        <div id="sender4" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-118?50_50" alt="Profile" /></a></div>
                                        <div id="type4" class="col-xs-1"><img height="30" width="30" class="float_left framed" src="styles/css/minimal/images/iconsfam/group.png" alt="status" /></div>
                                        <div id="text4" class="col-xs-8"><span>Here's the text of message #2</span><br /><span>by <a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>
                                </div>

                            </div>

                            <!-- sent messages content div -->
                            <div role="tabpanel" class="tab-pane" id="sent">
                                sent
                            </div>
                        </div>

                        <!-- message menu -->
                        <div id="messagebottom" style="background-color: #FFF; text-align: center; padding: 1em 0;">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><a href="#searchmessages"><i class="fa fa-search"></i> Search my messages</a></button>
                                <button type="button" class="btn btn-default"><a href="#messages"><i class="fa fa-envelope"></i> My inbox</a></button>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="newsforumcontainer" class="col-xs-12 col-md-6">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News [1]</a></li>
                        <li role="presentation" class="active"><a href="#forum" aria-controls="news" role="tab" data-toggle="tab">Forum [2]</a></li>
                        <li role="presentation"><a href="#activities" aria-controls="news" role="tab" data-toggle="tab">Activities</a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div id="borderbox2" class="dashbox" style="border: 0.3em solid #FFF; overflow: hidden; box-shadow: 0 0 2px #888; height: 30em;">
                        <div class="tab-content">

                            <!-- news content div -->
                            <div role="tabpanel" class="tab-pane" id="news">
                                NEWS
                            </div>

                            <!-- discussion content div -->
                            <div role="tabpanel" class="tab-pane active" id="forum">

                                <!-- discussion settings -->
                                <div id="settings" class="row" style="background-color: #FFF; padding: 1em;">
                                    <span class="col-xs-4">Show messages of:</span>
                                    <div class="btn-group col-xs-8" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="checkbox" autocomplete="off" checked> groups
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> forum
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> threads I'm following
                                        </label>
                                    </div>
                                </div>

                                <div id="forumscroll" class="scrollablecontent" style="position:relative; max-height: 20em; height:100%; width: 105%; width: calc(100% + 20px); overflow-x:hidden; overflow-y:visible;">

                                    <div id="discussion1" class="row" style="background-color: #EEE; padding: 1em;">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #1<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="discussion2" class="row" style="background-color: #FFF; padding: 1em;">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #2<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="discussion3" class="row" style="background-color: #EEE; padding: 1em;">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #3<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="discussion4" class="row" style="background-color: #FFF; padding: 1em;">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #4<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="discussion3" class="row" style="background-color: #EEE; padding: 1em;">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #3<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="discussion4" class="row" style="background-color: #FFF; padding: 1em;">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img style="width: 80%;" class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #4<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1"><span class="fa fa-chevron-right"></span></div>
                                    </div>

                                    <div id="discussion4" class="row" style="background-color: #FFF; padding: 1em;">
                                        show more
                                    </div>

                                </div>

                                <div id="messagebottom" style="background-color: #FFF; text-align: center; padding: 1em;">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><a href="#alldiscussions"><i class="fa fa-comments"></i> View forum</a></button>
                                        <button type="button" class="btn btn-default"><a href="#mygroups"><i class="fa fa-users"></i> My groups</a></button>
                                        <button type="button" class="btn btn-default"><a href="#subscriptions"><i class="fa fa-check-square-o"></i> My subscriptions</a></button>
                                    </div>
                                </div>

                            </div>

                            <!-- activities content div -->
                            <div role="tabpanel" class="tab-pane" id="activities">
                                Activities
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- #widgets: 4 columns with additional info -->
            <div class="row">
                <div id="beinvolved" class="col-xs-6 col-md-4">
                    <div class="widget" style="background-color: #FFF; box-shadow: 0 0 2px #999; padding: 1em;">
                        <h3>Be Involved<br /><small>help the community</small></h3>
                            <p style="margin-bottom: 1em;"><span class="block">BeWelcome is run by volunteers - free of charge and open source. Volunteering for the project is a great opportunity for you to get to know enthusiastic people who really believe in promoting hospitality and respect for each other. And it's fun, too!<span></p>
                            <div id="beinvolved-buttons" style="margin-bottom: 1em;">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-wrench"></i> Help BeWelcome</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-euro"></i> Please donate</button>
                                </span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span>60%</span>
                                </div>
                            </div>
                            <span>€600.00 of €1000.00 received</span>
                    </div>
                </div>

                <div id="next" class="col-xs-6 col-md-3">
                    <div class="widget" style="background-color: #FFF; box-shadow: 0 0 2px #999; padding: 1em;">
                        <h3>Potential guests<br /><small>people traveling in your area</small></h3>

                        <div id="nextmember1" style="margin-bottom: 1em;">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <i class="fa fa-calendar"></i> 01-10-2015 - 3 days
                                    <h4 class="media-heading">Username</h4>
                                    <h5>Berlin, Germany</h5>
                                </div>
                            </div>
                        </div>

                        <div id="nextmember2" style="margin-bottom: 1em;">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <i class="fa fa-calendar"></i> 14-10-2015 - 5 days
                                    <h4 class="media-heading">Username</h4>
                                    <h5>Paris, France</h5>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                                <span><button class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i> View more</button></span>
                                <span><button class="btn btn-default" type="button"><i class="fa fa-map-signs"></i> Plan your trip</button></span>
                        </div>

                    </div>
                </div>

                <div id="recent" class="col-xs-6 col-md-3">
                    <div class="widget" style="background-color: #FFF; box-shadow: 0 0 2px #999; padding: 1em;">
                        <h3>Your settings<br /><small>and preferences</small></h3>
                        <p>Accommodation status</p>
                        <div id="slider">
                            <input class="bar" type="range" id="rangeinput" value="2" max="2" onchange="rangevalue.value=value"/>
                            <span class="highlight"></span>
                            <output id="rangevalue">2</output>
                        </div>

                        <p>Public profile?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off">No
                            </label>
                        </div>

                        <p>Newsletter?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off">No
                            </label>
                        </div>
                    </div>
                </div>

                <div id="beinformed" class="col-xs-6 col-md-2">
                    <div class="widget" style="background-color: #FFF; box-shadow: 0 0 2px #999; padding: 1em;">
                        <h3>Be Informed<br /><small>Transparency</small></h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="#"><i class="fa fa-question"></i> FAQ</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-shield"></i> Safety</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-bullseye"></i> BeVolunteer</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-money"></i> Finances</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-book"></i> Annual report</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end of #widgets -->


        </div> <!-- main -->
    </div> <!-- container -->
{% endblock content %}