{% extends '@base/base.html.twig' %}

{% block content %}

    <div class="container containerhome">

        <!-- #main: content begins here -->
        <div id="main">

            <div class="bw-row welcomeback marginbottom">
                <div class="col-xs-2">
                    {{ macros.avatar('member-101', 75, true) }}
                    <a href="members/member-101" title="See profile member-101" >{{ macros.avatar('member-101', 50) }}</a><span class="dashstatus"><a href="#status">hosting</a></span></div>
                <div class="col-xs-7"><span class="welcome">Welcome back, {{ macros.memberlink('member-101') }}</span><br /><span class="hostcity">You're registered as <span><a href="#">hosting</a></span> in <a href="#">Lyon</a></span></div>
                <div class="col-xs-3">
                    <div class="input-group searchhost">
                        <input type="text" class="form-control" placeholder="Where do you want to go?">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-globe"></i> Go</button>
			      </span>
                    </div><!-- /input-group -->
                </div>
            </div>

            <!-- two-boxes: messages and website activity -->
            <div class="row marginbottom">

                <!-- entire messages box -->
                <div id="messagecontainer" class="col-xs-12 col-md-6">

                    <!-- messages tabs -->
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="nav-item"><a href="#messages" class="nav-link active" aria-controls="messages" role="tab" data-toggle="tab">Messages received <span class="label label-primary label-pill">3</span></a></li>
                        <li role="presentation" class="nav-item"><a href="#sent" class="nav-link" aria-controls="sent" role="tab" data-toggle="tab">Sent messages</a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div id="borderbox" class="dashbox">

                        <div class="tab-content">

                            <!-- messages content div -->
                            <div role="tabpanel" class="tab-pane active" id="messages">
                                <!-- all / unread messages toggle -->
                                <div class="row readunread">

                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>All
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">Unread
                                        </label>
                                    </div>
                                </div>
                                <!-- load received messages -->
                                <div class="scrollcontent">

                                    <div class="row dashentry odd">
                                        <!-- avatar -->
                                        <div class="col-xs-2">
                                            <a href="#user"><img class="float_left framed" src="/members/avatar/member-105?50_50" alt="Profile" /></a>
                                        </div>
                                        <!-- message data -->
                                        <div class="col-xs-9">
                                            <p class="dashentrytext">
                                                <!-- type of message --><i class="fa fa-bed"></i>
                                                <a href="#"><span class="unread">Here's the text of message #1</span></a>
                                            </p>
                                            <span class="smalltext">from</span>&nbsp;
                                            <span> <a href="#user">Membername</a><span>
                                                    <span class="smalltext">10 minutes ago</span>
                                        </div>
                                        <!-- chevron -->
                                        <div class="col-xs-1 chevplace">
                                            <a href="#"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="row dashentry even">
                                        <div id="sender2" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-109?50_50" alt="Profile" /></a></div>
                                        <div id="text2" class="col-xs-9"><i class="fa fa-newspaper-o"></i> <span>Here's the text of message #2</span><br /><span>from</span> <span><a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <div id="sender3" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-111?50_50" alt="Profile" /></a></div>
                                        <div id="text3" class="col-xs-9"><span>Here's the text of message #1</span><br /><span>from</span> <span><a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry even">
                                        <div id="sender4" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-118?50_50" alt="Profile" /></a></div>
                                        <div id="text4" class="col-xs-9"><span>Here's the text of message #2</span><br /><span>from</span> <span><a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <div id="sender3" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-111?50_50" alt="Profile" /></a></div>
                                        <div id="text3" class="col-xs-9"><span>Here's the text of message #1</span><br /><span>from</span> <span><a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry even">
                                        <div id="sender4" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-118?50_50" alt="Profile" /></a></div>
                                        <div id="text4" class="col-xs-9"><span>Here's the text of message #2</span><br /><span>from</span> <span><a href="#user">Membername</a> - 10 minutes ago</span></div>
                                        <div class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>
                                </div>

                            </div>

                            <!-- load sent messages -->
                            <div role="tabpanel" class="tab-pane" id="sent">
                                sent
                            </div>
                        </div>

                        <!-- message buttons -->
                        <div class="dashentry odd center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><a href="#searchmessages"><i class="fa fa-search"></i> Search my messages</a></button>
                                <button type="button" class="btn btn-default"><a href="#messages"><i class="fa fa-envelope"></i> My inbox</a> <span class="label label-primary label-pill">3</span></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- entire notifications box -->
                <div class="col-xs-12 col-md-6">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="nav-item active"><a href="#forum" class="nav-link active" aria-controls="news" role="tab" data-toggle="tab">Forum <span class="label label-primary label-pill">2</span></a></li>
                        <li role="presentation" class="nav-item"><a href="#activities" class="nav-link" aria-controls="news" role="tab" data-toggle="tab">Activities</a></li>
                        <li role="presentation" class="nav-item"><a href="#news" class="nav-link" aria-controls="news" role="tab" data-toggle="tab">News / Notifications <span class="label label-primary">1</span></a></li>
                        <li role="presentation" class="nav-item"><a href="#suggestions" class="nav-link" aria-controls="news" role="tab" data-toggle="tab">Suggestions <span class="label label-primary label-pill">4</span></a></li>
                    </ul>

                    <!-- bordered box around content -->
                    <div class="dashbox">
                        <!-- load tab content -->
                        <div class="tab-content">
                            <!-- discussion content div -->
                            <div role="tabpanel" class="tab-pane active" id="forum">

                                <!-- discussion settings -->
                                <div class="row dashentry odd center">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="checkbox" autocomplete="off" checked> groups
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> forum
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" autocomplete="off"> threads I'm following
                                        </label>
                                    </div>
                                </div>

                                <div class="scrollcontent">

                                    <div class="row dashentry odd">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #1<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry even">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #2<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #3<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry even">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #4<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry odd">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #3<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry even">
                                        <div id="avatar" class="col-xs-2"><a href="#user"><img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" /></a></div>
                                        <div id="text" class="col-xs-9"><span>Discussion #4<span><br /><span>by</span> <a href="#user"><span>Membername</span></a> - <span>10 minutes ago</span></div>
                                        <div id="arrow-right" class="col-xs-1 chevplace"><i class="fa fa-chevron-right"></i></div>
                                    </div>

                                    <div class="row dashentry odd">
                                        [BUTTON] show more
                                    </div>

                                </div>

                                <div class="dashentry odd center">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><a href="#alldiscussions"><i class="fa fa-comments"></i> View forum</a></button>
                                        <button type="button" class="btn btn-default"><a href="#mygroups"><i class="fa fa-users"></i> My groups</a></button>
                                        <button type="button" class="btn btn-default"><a href="#subscriptions"><i class="fa fa-check-square-o"></i> My subscriptions</a></button>
                                    </div>
                                </div>

                            </div>

                            <!-- load activities -->
                            <div role="tabpanel" class="tab-pane" id="activities">
                                Activities
                            </div>

                            <!-- load news -->
                            <div role="tabpanel" class="tab-pane" id="news">
                                NEWS and Notifications
                            </div>

                            <div role="tabpanel" class="tab-pane" id="suggestions">
                                Suggestions
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- #widgets: 4 columns with additional info -->
            <div class="row">
                <!-- BeInvolved widget -->
                <div id="beinvolved" class="col-xs-12 col-md-4">
                    <div class="widget">
                        <h3>Be Involved<br /><small>help the community</small></h3>
                            <p class="smallmargin"><span class="block">BeWelcome is run by volunteers - free of charge and open source. Volunteering for the project is a great opportunity for you to get to know enthusiastic people who really believe in promoting hospitality and respect for each other. And it's fun, too!<span></p>
                            <div class="smallmargin">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-wrench"></i> Help BeWelcome</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-euro"></i> Please donate</button>
                                </span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span>60%</span>
                                </div>
                            </div>
                            <span>€600.00 of €1000.00 received</span>
                    </div>
                </div>
                <!-- Next visitors widget -->
                <div id="next" class="col-xs-12 col-md-3">
                    <div class="widget">
                        <h3>Potential guests<br /><small>people traveling in your area</small></h3>

                        <div id="nextmember1" class="smallmargin">

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Username</h4>
                                    <p><i class="fa fa-calendar"></i> <span>01-10-2015 - 3 days</span></p>
                                    <p><i class="fa fa-home"></i> <span>Berlin, Germany</span></p>
                                </div>
                            </div>
                        </div>

                        <div id="nextmember2" class="smallmargin">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="float_left framed" src="/members/avatar/member-101?50_50" alt="Profile" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <i class="fa fa-calendar"></i> <span>14-10-2015 - 5 days</span>
                                    <h4 class="media-heading">Username</h4>
                                    <i class="fa fa-home"></i> <span>Paris, France</span>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                                <span><button class="btn btn-default smallmargin" type="button"><i class="fa fa-plus-circle"></i> View more</button></span>
                                <span><button class="btn btn-default" type="button"><i class="fa fa-map-marker"></i> Plan your trip</button></span>
                        </div>

                    </div>
                </div>
                <!-- Settings widget -->
                <div id="settings" class="col-xs-12 col-md-3">
                    <div class="widget center">

                        <h3>Your settings<br /><small>and preferences</small></h3>

                        <div class="list-group">
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">Accommodation status</h4>
                                <div id="accommodation-slider">
                                    <input class="bar" type="range" id="rangeinput" value="2" max="2" onchange="rangevalue.value=value"/>
                                    <span class="highlight"></span>
                                    <output id="rangevalue">2</output>
                                </div>
                                <i class="fa fa-info-circle"></i>
                            </div>

                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">Public profile?</h4>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option2" autocomplete="off">No
                                    </label>
                                </div>
                                <i class="fa fa-info-circle"></i>
                            </div>

                            <div class="list-group-item">
                                <h4 class="list-group-item-heading">Receive newsletter?</h4>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Yes
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" id="option2" autocomplete="off">No
                                    </label>
                                </div>
                                <i class="fa fa-info-circle"></i>
                            </div>
                        </div>

                        <span><button class="btn btn-default" type="button"><i class="fa fa-cogs"></i> more settings</button></span>

                    </div>
                </div>
                <!-- Be Informed widget -->
                <div class="col-xs-12 col-md-2">
                    <div class="widget">
                        <h3>Be Informed<br /><small>Transparency</small></h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="#"><i class="fa fa-question"></i> FAQ</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-shield"></i> Safety</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-bullseye"></i> BeVolunteer</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-money"></i> Finances</a></li>
                            <li role="presentation"><a href="#"><i class="fa fa-book"></i> Annual report</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- end of #widgets -->
        </div> <!-- main -->
    </div> <!-- container -->
{% endblock content %}