{% extends '@base/base.html.twig' %}

{% block content %}
    <div class="container" style="padding: 50px 15px 0px;">
<form class="form"><input type="text" class="form-control">
<select class="form-control select2"><option value="1">Eins</option><option value="2">Zwei</option></select></form>
    </div> <!-- container -->
{% endblock content %}
